<div class="main-container w-[1440px] h-[549px] relative mx-auto my-0">
  <div
    class="w-[1440px] h-[549px] bg-[#f5f7fa] absolute top-0 left-1/2 translate-x-[-50%] translate-y-0"
  >
  </div>
  <div
    class="w-[499.091px] h-[549px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-02/WNhzynF6Rw.png)] bg-cover bg-no-repeat absolute bottom-0 left-[847px] z-[8]"
  >
  </div>
  <div
    class="w-[190px] h-[70px] text-[0px] bg-[#fff] rounded-[6.762px] absolute top-[72px] left-[1190px] overflow-hidden shadow-[2.705px_5.41px_10.819px_0_rgba(37,60,59,0.24)] z-[29]"
  >
    <span
      class="block h-[19px] font-['Inter'] text-[16px] font-bold leading-[19px] text-[#ed7c00] relative text-left whitespace-nowrap z-[31] mt-[14px] mr-0 mb-0 ml-[16.23px]"
    >
      850+
    </span>
    <span
      class="block h-[17px] font-['Inter'] text-[14px] font-medium leading-[16.943px] text-[#abaeb6] relative text-left whitespace-nowrap z-30 mt-[4px] mr-0 mb-0 ml-[16.23px]"
    >
      Accounting firm Served
    </span>
  </div>
  <div
    class="flex w-[629px] h-[353px] flex-col gap-[12px] items-start flex-nowrap absolute top-[98px] left-[119px] z-[1]"
  >
    <span
      class="flex w-[629px] h-[186px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[52px] font-bold leading-[62.4px] text-[#151515] relative text-left z-[2]"
    >
      Have Clean, Compliant Books, and Books Ready for Growth.
    </span>
    <div
      class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[3]"
    >
      <span
        class="flex w-[577px] h-[81px] justify-start items-start shrink-0 font-['Inter'] text-[18px] font-normal leading-[27px] text-[#797979] relative text-left z-[4]"
      >
        We offer expert bookkeeping for small businesses, startups, and
        consultants, keeping your records organized, up to date, and ready for
        audits or tax filings.
      </span>
      <div
        class="flex w-[252px] h-[50px] pt-0 pr-[24px] pb-0 pl-[24px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap bg-[#ed7c00] rounded-[8px] relative z-[5]"
      >
        <div
          class="flex w-[204px] h-[40px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[6]"
        >
          <span
            class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#fff] relative text-left whitespace-nowrap z-[7]"
          >
            Book your Consultation
          </span>
        </div>
      </div>
    </div>
  </div>
  <div
    class="w-[202px] h-[70px] text-[0px] bg-[#fff] rounded-[6.762px] absolute top-[158px] left-[1141px] overflow-hidden shadow-[2.705px_5.41px_10.819px_0_rgba(37,60,59,0.24)] z-[32]"
  >
    <span
      class="block h-[19px] font-['Inter'] text-[16px] font-bold leading-[19px] text-[#ed7c00] relative text-left whitespace-nowrap z-[34] mt-[14px] mr-0 mb-0 ml-[16.23px]"
    >
      200K+
    </span>
    <span
      class="block h-[17px] font-['Inter'] text-[14px] font-medium leading-[16.943px] text-[#abaeb6] relative text-left whitespace-nowrap z-[33] mt-[4px] mr-0 mb-0 ml-[16.23px]"
    >
      Network Of Professionals
    </span>
  </div>
  <div
    class="w-[219.769px] h-[151.471px] bg-[#fff] rounded-[6.762px] absolute top-[325px] left-[788px] overflow-hidden shadow-[2.705px_5.41px_10.819px_0_rgba(37,60,59,0.24)] z-[9]"
  >
    <div
      class="w-[181.902px] h-[133.072px] text-[0px] absolute top-[10.79px] left-[16.229px] z-[25]"
    >
      <span
        class="block h-[16px] font-['Inter'] text-[13.524214744567871px] font-medium leading-[16px] text-[#abaeb6] relative text-left whitespace-nowrap z-10 mt-0 mr-0 mb-0 ml-0"
      >
        Sales
      </span>
      <span
        class="block h-[15px] font-['Inter'] text-[12.171792984008789px] font-bold leading-[14.731px] text-[#ed7c00] relative text-left whitespace-nowrap z-[22] mt-[-0.45px] mr-0 mb-0 ml-0"
      >
        5248
      </span>
      <div
        class="w-[160.263px] h-[12px] relative z-[11] mt-[90.518px] mr-0 mb-0 ml-[13.523px]"
      >
        <span
          class="flex h-[12px] justify-start items-center font-['Poppins'] text-[8.11452865600586px] font-normal leading-[12px] text-[#abaeb6] absolute top-0 left-0 text-left whitespace-nowrap z-[12]"
        >
          M
        </span>
        <span
          class="flex h-[12px] justify-start items-center font-['Poppins'] text-[8.11452865600586px] font-normal leading-[12px] text-[#abaeb6] absolute top-0 left-[28.713px] text-left whitespace-nowrap z-[13]"
        >
          T
        </span>
        <span
          class="flex h-[12px] justify-start items-center font-['Poppins'] text-[8.11452865600586px] font-normal leading-[12px] text-[#abaeb6] absolute top-0 left-[52.087px] text-left whitespace-nowrap z-[14]"
        >
          W
        </span>
        <span
          class="flex h-[12px] justify-start items-center font-['Poppins'] text-[8.11452865600586px] font-normal leading-[12px] text-[#abaeb6] absolute top-0 left-[80.798px] text-left whitespace-nowrap z-[15]"
        >
          T
        </span>
        <span
          class="flex h-[12px] justify-start items-center font-['Poppins'] text-[8.11452865600586px] font-normal leading-[12px] text-[#abaeb6] absolute top-0 left-[104.171px] text-left whitespace-nowrap z-[16]"
        >
          F
        </span>
        <span
          class="flex h-[12px] justify-start items-center font-['Poppins'] text-[8.11452865600586px] font-normal leading-[12px] text-[#abaeb6] absolute top-0 left-[127.542px] text-left whitespace-nowrap z-[17]"
        >
          S
        </span>
        <span
          class="flex h-[12px] justify-start items-center font-['Poppins'] text-[8.11452865600586px] font-normal leading-[12px] text-[#abaeb6] absolute top-0 left-[150.914px] text-left whitespace-nowrap z-[18]"
        >
          S
        </span>
      </div>
      <div
        class="w-[48.687px] h-[24.344px] text-[0px] absolute top-[32.488px] left-[101.431px] z-[25]"
      >
        <span
          class="block h-[6px] font-['Poppins'] text-[5.4096856117248535px] font-medium leading-[5.41px] text-[#abaeb6] relative text-left whitespace-nowrap z-[27] mt-[2.029px] mr-0 mb-0 ml-[15.556px]"
        >
          Jan 18
        </span>
        <div
          class="w-[43px] h-[9px] font-['Poppins'] text-[8.11452865600586px] font-medium leading-[8.115px] relative text-left whitespace-nowrap z-[28] mt-[0.76px] mr-0 mb-0 ml-[2.706px]"
        >
          <span
            class="font-['Poppins'] text-[6.7621073722839355px] font-medium leading-[8.115px] text-[#2d55b4] relative text-left"
          >
            Sales:
          </span>
          <span
            class="font-['Poppins'] text-[8.11452865600586px] font-medium leading-[8.115px] text-[#ed7c00] relative text-left"
          >
            {" "}
          </span>
          <span
            class="font-['Poppins'] text-[8.11452865600586px] font-medium leading-[8.115px] text-[#ed7c00] relative text-left"
          >
            5200
          </span>
        </div>
        <div
          class="w-[48.687px] h-[24.344px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-02/aAbncFubvO.png)] bg-cover bg-no-repeat absolute top-0 left-0 z-[26]"
        >
        </div>
      </div>
      <div
        class="w-[176.491px] h-[81.145px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-02/M5Y02qK7cg.png)] bg-cover bg-no-repeat absolute top-[39.25px] left-[5.411px] z-[21]"
      >
      </div>
      <div
        class="w-[159.924px] h-[54.779px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-02/vP8zN5A4OD.png)] bg-cover bg-no-repeat absolute top-[44.991px] left-[13.524px] z-[23]"
      >
      </div>
      <div
        class="w-[2.705px] h-[2.705px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-02/0oXG1BHncJ.png)] bg-cover bg-no-repeat rounded-[50%] absolute top-[58.184px] left-[124.423px] box-content z-[24]"
      >
      </div>
    </div>
    <div
      class="w-[16.229px] h-[16.229px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-02/fjAaqibaYn.png)] bg-cover bg-no-repeat absolute top-[10.82px] left-[187.311px] overflow-hidden z-20"
    >
    </div>
    <div
      class="w-[9px] h-[69.507px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-02/FuWPEvzFtc.png)] bg-cover bg-no-repeat absolute top-[54.097px] left-[12.174px] z-[19]"
    >
    </div>
  </div>
</div>
