<div
  class="main-container flex flex-col lg:flex-row w-full max-w-[1200px] gap-[24px] lg:gap-[48px] items-start relative mx-auto my-0 px-4 sm:px-6 lg:px-0 mt-4"
>
  <!-- Left Title -->
  <div
    class="flex w-full lg:w-[505px] flex-col gap-[20px] lg:gap-[40px] items-start shrink-0 relative"
  >
    <span
      class="w-full lg:w-[505px] font-['Inter'] text-[24px] sm:text-[28px] lg:text-[36px] font-bold leading-[1.3] text-[#04092a] text-left"
    >
      Client Overview/About Section
    </span>
  </div>

  <!-- Right Text -->
  <span
    class="w-full lg:w-[647px] font-['Inter'] text-[16px] sm:text-[17px] lg:text-[18px] font-normal leading-[1.6] text-[#5c667a] text-left"
  >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in
    <br />
    Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
    laboru
  </span>
</div>
