<div
  class="main-container flex w-[1200px] gap-[48px] items-start flex-nowrap relative mx-auto my-0"
>
  <div
    class="flex w-[505px] flex-col gap-[40px] items-start shrink-0 flex-nowrap relative"
  >
    <span
      class="flex w-[505px] h-[84px] justify-start items-start shrink-0 font-['Inter'] text-[36px] font-bold leading-[42px] text-[#04092a] relative text-left z-[1]"
    >
      Client Overview/About Section
    </span>
  </div>
  <span
    class="flex w-[647px] h-[213px] justify-start items-start grow shrink-0 basis-0 font-['Inter'] text-[18px] font-normal leading-[27px] text-[#5c667a] relative text-left z-[2]"
  >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in
    <br />
    Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
    laboru
  </span>
</div>
