<div class="bg-[#106253] w-full">
  <div
    class="main-container flex w-[1440px] pt-[80px] pr-[120px] pb-[80px] pl-[120px] flex-col gap-[24px] items-center flex-nowrap relative mx-auto my-0"
  >
    <span
      class="h-[42px] shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[42px] text-[#fff] relative text-left whitespace-nowrap"
    >
      Implementation Journey
    </span>
    <div
      class="flex w-[1200px] flex-col gap-[40px] items-start shrink-0 flex-nowrap relative"
    >
      <div
        class="flex w-[1200px] flex-col gap-[32px] items-start shrink-0 flex-nowrap relative"
      >
        <div
          class="flex w-[987px] justify-between items-center shrink-0 flex-nowrap relative"
        >
          <div
            class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#fff] rounded-[25px] relative"
          >
            <span
              class="flex w-[12px] h-[28px] justify-center items-start shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#ed7c00] relative text-center whitespace-nowrap"
            >
              1
            </span>
          </div>

          <div class="w-[208px] h-px bg-white"></div>

          <div
            class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#ed7c00] rounded-[25px] relative"
          >
            <span
              class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#fff] relative text-center whitespace-nowrap"
            >
              2
            </span>
          </div>
          <div class="w-[208px] h-px bg-white"></div>
          <div
            class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#fff] rounded-[25px] relative z-10"
          >
            <span
              class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#ed7c00] relative text-center whitespace-nowrap"
            >
              3
            </span>
          </div>
          <div class="w-[208px] h-px bg-white"></div>
          <div
            class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#fff] rounded-[25px] relative"
          >
            <span
              class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#ed7c00] relative text-center whitespace-nowrap"
            >
              4
            </span>
          </div>
        </div>
        <div
          class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative"
        >
          <div
            class="flex w-[255px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative"
          >
            <span
              class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#fff] relative text-left whitespace-nowrap"
            >
              Phase 1
            </span>
            <span
              class="flex w-[255px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#fff] relative text-left"
            >
              Discovery & financial assessment
            </span>
          </div>
          <div
            class="flex w-[255px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative"
          >
            <span
              class="flex w-[225px] h-[28px] justify-start items-start shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#fff] relative text-left whitespace-nowrap z-20"
            >
              Phase 2
            </span>
            <span
              class="flex w-[255px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#fff] relative text-left"
            >
              System integration and onboarding
            </span>
          </div>
          <div
            class="flex w-[255px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative"
          >
            <span
              class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#fff] relative text-left whitespace-nowrap"
            >
              Phase 3
            </span>
            <span
              class="flex w-[225px] h-[44px] justify-start items-start shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#fff] relative text-left"
            >
              Training, automation, and monthly reporting setup
            </span>
          </div>
          <div
            class="flex w-[255px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative"
          >
            <span
              class="flex w-[225px] h-[28px] justify-start items-start shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#fff] relative text-left whitespace-nowrap"
            >
              Phase 4
            </span>
            <span
              class="flex w-[255px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#fff] relative text-left"
            >
              Ongoing support, optimization, and strategic feedback
            </span>
          </div>
        </div>
      </div>
      <div class="w-[1200px] h-[310px] shrink-0 relative">
        <div
          class="flex w-[600px] h-[310px] pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[80px] justify-center items-center flex-nowrap bg-[#f5f7fa] rounded-tl-none rounded-tr-[16px] rounded-br-[16px] rounded-bl-none border-solid border border-[rgba(121,121,121,0.22)] absolute top-0 left-[600px]"
        >
          <!-- <div
          class="w-[504.455px] h-[224px] shrink-0 bg-[url(/img/services/book-keeping/sales.png)] bg-cover bg-no-repeat relative"
        >
        </div> -->
          <img
            src="/img/services/book-keeping/sales.png"
            alt="Sales"
            class="w-[504.455px] h-[224px] shrink-0 object-cover relative"
          />

          <!-- <div
          class="w-[100px] h-[17px] shrink-0 bg-[#fff] absolute top-[61px] left-[64px]"
        >
        </div> -->
          <!-- <span
          class="flex w-[79px] h-[19px] justify-start items-start shrink-0 basis-auto font-['Inter'] text-[12.5px] font-semibold leading-[18.056px] text-[#151515] absolute top-[61px] left-[66px] text-left capitalize whitespace-nowrap"
        >
          Lorem Ipsum
        </span> -->
        </div>
        <div
          class="flex w-[609px] h-[310px] pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[80px] items-start flex-nowrap bg-[#fff] rounded-[16px] absolute top-0 left-0"
        >
          <div
            class="flex flex-col gap-[12px] items-start self-stretch shrink-0 flex-nowrap relative"
          >
            <div
              class="flex w-[241px] flex-col gap-[32px] items-start shrink-0 flex-nowrap relative"
            >
              <div
                class="w-[36px] h-[36px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-13/PB1x9gLo5g.png)] bg-cover bg-no-repeat relative overflow-hidden"
              >
              </div>
              <span
                class="h-[28px] shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left whitespace-nowrap"
              >
                Phase 2: System Integration and Onboarding
              </span>
            </div>
            <span
              class="flex w-[514px] h-[66px] justify-start items-start shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left"
            >
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unkok.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
