<div
  class="main-container flex w-[1440px] pt-[80px] pr-[120px] pb-[80px] pl-[120px] gap-[24px] justify-center items-start flex-nowrap relative mx-auto my-0"
>
  <div
    class="flex gap-[48px] items-center grow shrink-0 basis-0 flex-nowrap relative"
  >
    <div
      class="flex flex-col gap-[32px] items-center grow shrink-0 basis-0 flex-nowrap relative"
    >
      <div
        class="flex flex-col gap-[12px] justify-center items-center self-stretch shrink-0 flex-nowrap relative"
      >
        <span
          class="h-[42px] self-stretch shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[42px] text-[#04092a] relative text-center whitespace-nowrap"
        >
          Why Bookkeeping Matters
        </span>
        <div
          class="flex w-[1200px] flex-col gap-[80px] items-center shrink-0 flex-nowrap relative"
        >
          <span
            class="flex w-[782px] h-[54px] justify-center items-start shrink-0 font-['Inter'] text-[18px] font-normal leading-[27px] text-[#5c667a] relative text-center"
          >
            At Finkeepers, we offer reasonably priced bookkeeping services
            designed to streamline your financial <br />processes and give you a
            clear understanding of your business health.
          </span>
          <div
            class="flex w-[1200px] gap-[64px] items-center shrink-0 flex-nowrap relative"
          >
            <div
              class="w-[576px] h-[594px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-02/XoMOO2CPYw.png)] bg-cover bg-no-repeat rounded-[9.174px] relative"
            >
            </div>
            <div
              class="flex w-[576px] flex-col gap-[40px] items-start shrink-0 flex-nowrap relative"
            >
              <span
                class="h-[6px] self-stretch shrink-0 font-['Inter'] text-[24px] font-semibold leading-[6px] text-[#151515] relative text-left capitalize whitespace-nowrap"
              >
                Our trained bookkeepers manage
              </span>
              <div
                class="flex w-[576px] gap-[24px] items-start shrink-0 flex-nowrap relative"
              >
                <div
                  class="w-[32px] h-[32px] shrink-0 bg-[url(/img/services/book-keeping/true.svg)] bg-cover bg-no-repeat relative"
                >
                </div>
                <div
                  class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative"
                >
                  <span
                    class="h-[26px] self-stretch shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[26px] text-[#151515] relative text-left whitespace-nowrap"
                  >
                    Daily financial entries
                  </span>
                  <span
                    class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left whitespace-nowrap"
                  >
                    Lorem Ipsum is simply dummy text of the printing and typeset
                  </span>
                </div>
              </div>
              <div
                class="flex w-[576px] gap-[24px] items-start shrink-0 flex-nowrap relative"
              >
                <div
                  class="w-[32px] h-[32px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-02/SpH44HYd49.png)] bg-cover bg-no-repeat relative"
                >
                </div>
                <div
                  class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative"
                >
                  <span
                    class="h-[26px] self-stretch shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[26px] text-[#151515] relative text-left whitespace-nowrap"
                  >
                    Bank and credit card reconciliations
                  </span>
                  <span
                    class="flex w-[520px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left"
                  >
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry
                  </span>
                </div>
              </div>
              <div
                class="flex w-[576px] gap-[24px] items-start shrink-0 flex-nowrap relative"
              >
                <div
                  class="w-[32px] h-[32px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-02/mk48MSUTRM.png)] bg-cover bg-no-repeat relative"
                >
                </div>
                <div
                  class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative"
                >
                  <span
                    class="h-[26px] self-stretch shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[26px] text-[#151515] relative text-left whitespace-nowrap"
                  >
                    Expense categorization
                  </span>
                  <span
                    class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left whitespace-nowrap"
                  >
                    Lorem Ipsum is simply dummy text of the printing
                  </span>
                </div>
              </div>
              <div
                class="flex w-[576px] gap-[24px] items-start shrink-0 flex-nowrap relative"
              >
                <div
                  class="w-[32px] h-[32px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-02/9eSJxKc0ee.png)] bg-cover bg-no-repeat relative"
                >
                </div>
                <div
                  class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative"
                >
                  <span
                    class="h-[26px] self-stretch shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[26px] text-[#151515] relative text-left whitespace-nowrap"
                  >
                    Client invoicing
                  </span>
                  <span
                    class="flex w-[520px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left"
                  >
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's{
                      " "
                    }
                  </span>
                </div>
              </div>
              <div
                class="flex w-[576px] gap-[24px] items-start shrink-0 flex-nowrap relative"
              >
                <div
                  class="w-[32px] h-[32px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-02/rep7JV7fMz.png)] bg-cover bg-no-repeat relative"
                >
                </div>
                <div
                  class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative"
                >
                  <span
                    class="h-[26px] self-stretch shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[26px] text-[#151515] relative text-left whitespace-nowrap"
                  >
                    Month-end reporting
                  </span>
                  <span
                    class="flex w-[520px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left"
                  >
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's{
                      " "
                    }
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
