<div class="bg-[#ebebeb] py-16 px-6 md:px-20">
  <div class="max-w-screen-xl mx-auto flex flex-col gap-12">
    <!-- Heading -->
    <h2 class="text-[36px] md:text-[44px] font-bold text-[#28241f]">
      Finance Insights, Updates and Trends
    </h2>

    <!-- Blog Cards -->
    <div class="flex flex-wrap gap-6 justify-center">
      <!-- Blog Card -->
      <div class="bg-white p-4 rounded-xl max-w-[370px] shadow-md">
        <!-- Image -->
        <!-- <div
          class="h-[230px] bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-29/ZLP2ywogWV.png')] bg-cover bg-no-repeat rounded-t-xl"
        >
        </div> -->
        <img
          src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-29/ZLP2ywogWV.png"
          alt=""
          class="h-[230px]"
        />
        <!-- Content -->
        <div class="py-4 flex flex-col gap-4">
          <!-- Meta -->
          <div
            class="flex items-center gap-4 text-[#797979] text-xs uppercase font-semibold"
          >
            <div class="flex items-center gap-1">
              <img
                src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-29/XjM69aJgP6.png"
                class="w-4 h-4 rounded-full"
              />
              <span>admin</span>
            </div>
            <span class="w-1 h-1 bg-[#85a6a6] rounded-full"></span>
            <span>July 4, 2024</span>
          </div>

          <!-- Title -->
          <h3 class="text-lg font-bold text-[#151515] leading-snug">
            Valuation: How Much Is Your <br />
            Business Worth?
          </h3>

          <!-- Button -->
          <a
            href="/"
            class="flex items-center gap-2 bg-[#ed7c00] w-[120px] text-white text-nowrap text-sm font-semibold px-6 py-2 rounded-full shadow-md z-[200]"
          >
            Read More
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5"
              viewBox="0 0 24 24"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke="white"
              stroke-width="1"
            >
              <line x1="5" y1="12" x2="19" y2="12"></line>
              <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
          </a>
        </div>
      </div>

      <!-- card 2 -->
      <div class="bg-white p-4 rounded-xl max-w-[370px] shadow-md">
        <!-- Image -->
        <!-- <div
          class="h-[230px] bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-29/ZLP2ywogWV.png')] bg-cover bg-no-repeat rounded-t-xl"
        >
        </div> -->
        <img
          src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-29/ZLP2ywogWV.png"
          alt=""
          class="h-[230px]"
        />
        <!-- Content -->
        <div class="py-4 flex flex-col gap-4">
          <!-- Meta -->
          <div
            class="flex items-center gap-4 text-[#797979] text-xs uppercase font-semibold"
          >
            <div class="flex items-center gap-1">
              <img
                src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-29/XjM69aJgP6.png"
                class="w-4 h-4 rounded-full"
              />
              <span>admin</span>
            </div>
            <span class="w-1 h-1 bg-[#85a6a6] rounded-full"></span>
            <span>July 4, 2024</span>
          </div>

          <!-- Title -->
          <h3 class="text-lg font-bold text-[#151515] leading-snug">
            Valuation: How Much Is Your <br />
            Business Worth?
          </h3>

          <!-- Button -->
          <a
            href="/"
            class="flex items-center gap-2 bg-[#ed7c00] w-[120px] text-white text-nowrap text-sm font-semibold px-6 py-2 rounded-full shadow-md z-[200]"
          >
            Read More
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5"
              viewBox="0 0 24 24"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke="white"
              stroke-width="1"
            >
              <line x1="5" y1="12" x2="19" y2="12"></line>
              <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
          </a>
        </div>
      </div>

      <!-- card 3 -->

      <div class="bg-white p-4 rounded-xl max-w-[370px] shadow-md">
        <!-- Image -->
        <!-- <div
          class="h-[230px] bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-29/ZLP2ywogWV.png')] bg-cover bg-no-repeat rounded-t-xl"
        >
        </div> -->
        <img
          src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-29/ZLP2ywogWV.png"
          alt=""
          class="h-[230px]"
        />
        <!-- Content -->
        <div class="py-4 flex flex-col gap-4">
          <!-- Meta -->
          <div
            class="flex items-center gap-4 text-[#797979] text-xs uppercase font-semibold"
          >
            <div class="flex items-center gap-1">
              <img
                src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-29/XjM69aJgP6.png"
                class="w-4 h-4 rounded-full"
              />
              <span>admin</span>
            </div>
            <span class="w-1 h-1 bg-[#85a6a6] rounded-full"></span>
            <span>July 4, 2024</span>
          </div>

          <!-- Title -->
          <h3 class="text-lg font-bold text-[#151515] leading-snug">
            Valuation: How Much Is Your <br />
            Business Worth?
          </h3>

          <!-- Button -->
          <a
            href="/"
            class="flex items-center gap-2 bg-[#ed7c00] w-[120px] text-white text-nowrap text-sm font-semibold px-6 py-2 rounded-full shadow-md z-[200]"
          >
            Read More
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5"
              viewBox="0 0 24 24"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke="white"
              stroke-width="1"
            >
              <line x1="5" y1="12" x2="19" y2="12"></line>
              <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
