<div
  class="main-container flex w-[1440px] pt-[72px] pr-0 pb-[72px] pl-0 flex-col gap-[36px] items-center flex-nowrap relative mx-auto my-0"
>
  <div
    class="flex pt-0 pr-[76px] pb-0 pl-[76px] flex-col gap-[18px] items-center self-stretch shrink-0 flex-nowrap relative"
  >
    <div
      class="flex flex-col gap-[8px] items-start self-stretch shrink-0 flex-nowrap relative z-[1]"
    >
      <div
        class="flex flex-col gap-[12px] items-start self-stretch shrink-0 flex-nowrap relative z-[2]"
      >
        <span
          class="h-[43px] self-stretch shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[43px] text-[#fff] tracking-[-0.72px] relative text-left whitespace-nowrap z-[3]"
        >
          Our Core Values
        </span>
      </div>
    </div>
  </div>
  <div
    class="flex w-[1284px] flex-col gap-[19px] items-center shrink-0 flex-nowrap relative z-[4]"
  >
    <div
      class="flex gap-[24px] items-center self-stretch shrink-0 flex-nowrap relative z-[5]"
    >
      <div
        class="flex w-[412px] pt-[18px] pr-[20px] pb-[18px] pl-[20px] flex-col gap-[3px] items-start shrink-0 flex-nowrap bg-[#fff] rounded-[16px] relative z-[6]"
      >
        <img src="/img/about/our values/1.png" alt="Affordability icon representing cost-effective financial services" class="mt-4" />
        <span
          class="flex w-[372px] h-[88px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[24px] font-bold leading-[44px] text-[#151515] tracking-[-0.48px] relative text-left z-[8]"
        >
          Affordability Without Compromise.
        </span>
      </div>
      <div
        class="flex w-[412px] pt-[18px] pr-[20px] pb-[18px] pl-[20px] flex-col gap-[3px] items-start self-stretch shrink-0 flex-nowrap bg-[#fff] rounded-[16px] relative z-[9]"
      >
        <img src="/img/about/our values/1.png" alt="Transparency icon representing clear financial communication" class="mt-4" />

        <span
          class="h-[44px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-bold leading-[44px] text-[#151515] tracking-[-0.48px] relative text-left whitespace-nowrap z-[11]"
        >
          Accuracy & Transparency
        </span>
      </div>
      <div
        class="flex w-[412px] pt-[18px] pr-[20px] pb-[18px] pl-[20px] flex-col gap-[3px] items-start self-stretch shrink-0 flex-nowrap bg-[#fff] rounded-[16px] relative z-[12]"
      >
        <img src="/img/about/our values/1.png" alt="Expertise icon representing professional accounting knowledge" class="mt-4" />
        <span
          class="h-[44px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-bold leading-[44px] text-[#151515] tracking-[-0.48px] relative text-left whitespace-nowrap z-[14]"
        >
          Client-Centric Mindset
        </span>
      </div>
    </div>
    <div
      class="flex gap-[24px] justify-center items-start self-stretch shrink-0 flex-nowrap relative z-[15] mt-10"
    >
      <div
        class="flex w-[412px] h-[173px] pt-[18px] pr-[20px] pb-[18px] pl-[20px] flex-col gap-[3px] items-start shrink-0 flex-nowrap bg-[#fff] rounded-[16px] relative z-[16]"
      >
        <img src="/img/about/our values/1.png" alt="Reliability icon representing dependable financial services" class="mt-4" />
        <span
          class="h-[44px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-bold leading-[44px] text-[#151515] tracking-[-0.48px] relative text-left whitespace-nowrap z-[18]"
        >
          Integrity Above All
        </span>
      </div>
      <div
        class="flex w-[412px] h-[173px] pt-[18px] pr-[20px] pb-[18px] pl-[20px] flex-col gap-[3px] items-start shrink-0 flex-nowrap bg-[#fff] rounded-[16px] relative z-[19]"
      >
        <div
          class="shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-29/cJOgSWq0YZ.png)] bg-cover bg-no-repeat relative overflow-hidden z-20"
        >
        </div>
        <img src="/img/about/our values/5.png" alt="Innovation icon representing modern financial technology solutions" class="mt-4" />
        <span
          class="h-[44px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-bold leading-[44px] text-[#151515] tracking-[-0.48px] relative text-left whitespace-nowrap z-[21]"
        >
          Innovation With Impact <br />{" "}
        </span>
      </div>
    </div>
  </div>
</div>
