<div class="main-container w-[1440px] h-[544px] relative mx-auto my-0">
  <div class="w-[1440px] h-[544px] absolute top-0 left-0 overflow-hidden">
    <div
      class="flex w-[744px] h-[294px] flex-col gap-[24px] items-start flex-nowrap absolute top-1/2 left-[80px] translate-x-0 translate-y-[-50%] z-[2]"
    >
      <div
        class="flex flex-col gap-[12px] items-start self-stretch shrink-0 flex-nowrap relative z-[3]"
      >
        <div
          class="flex w-[760px] flex-col gap-[42px] items-start shrink-0 flex-nowrap relative z-[4]"
        >
          <div
            class="flex w-[623px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative z-[5]"
          >
            <div
              class="w-[623px] shrink-0 font-['Inter'] text-[52px] font-bold leading-[62.4px] tracking-[-1.04px] relative text-left z-[6]"
            >
              <span
                class="font-['Inter'] text-[52px] font-bold leading-[62.4px] text-[#fff] tracking-[-1.04px] relative text-left"
              >
                Smarter{" "}
              </span>
              <span
                class="font-['Inter'] text-[52px] font-bold leading-[62.4px] text-[#ed7c00] tracking-[-1.04px] relative text-left"
              >
                Accounting
              </span>
              <span
                class="font-['Inter'] text-[52px] font-bold leading-[62.4px] text-[#fff] tracking-[-1.04px] relative text-left"
              >
                . Stronger{" "}
              </span>
              <span
                class="font-['Inter'] text-[52px] font-bold leading-[62.4px] text-[#ed7c00] tracking-[-1.04px] relative text-left"
              >
                Businesses.
              </span>
            </div>
            <p
              class="w-[546px] font-['Inter'] text-[18px] font-normal leading-[27px] text-[#fff]"
            >
              Affordable, scalable, and personalized accounting solutions for
              U.S. small and mid-sized businesses.
            </p>
          </div>
          <div
            class="flex w-[760px] items-start shrink-0 flex-wrap relative z-[8]"
          >
            <div
              class="flex w-[236px] pt-0 pr-0 pb-0 pl-[16px] flex-col gap-[4px] justify-center items-start flex-nowrap border-solid border-l-2 border-l-[#fff] relative z-[9]"
            >
              <div
                class="w-[220px] self-stretch shrink-0 font-['Inter'] text-[26px] font-bold leading-[33.8px] relative text-left whitespace-nowrap z-10"
              >
                <span
                  class="font-['Inter'] text-[26px] font-bold leading-[33.8px] text-[#fff] relative text-left"
                >
                  850
                </span>
                <span
                  class="font-['Inter'] text-[26px] font-bold leading-[33.8px] text-[#ed7c00] relative text-left"
                >
                  +
                </span>
              </div>
              <span
                class="h-[24px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[24px] text-[#fff] relative text-left whitespace-nowrap z-[11]"
              >
                Accounting firm Served
              </span>
            </div>
            <div
              class="flex w-[236px] pt-0 pr-0 pb-0 pl-[16px] flex-col gap-[4px] justify-center items-start flex-nowrap border-solid border-l-2 border-l-[#fff] relative z-[12]"
            >
              <div
                class="w-[220px] self-stretch shrink-0 font-['Inter'] text-[26px] font-bold leading-[33.8px] relative text-left whitespace-nowrap z-[13]"
              >
                <span
                  class="font-['Inter'] text-[26px] font-bold leading-[33.8px] text-[#fff] relative text-left"
                >
                  200K
                </span>
                <span
                  class="font-['Inter'] text-[26px] font-bold leading-[33.8px] text-[#ed7c00] relative text-left"
                >
                  +
                </span>
              </div>
              <span
                class="h-[24px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[24px] text-[#fff] relative text-left whitespace-nowrap z-[14]"
              >
                Network Of Professionals
              </span>
            </div>
            <div
              class="flex w-[236px] pt-0 pr-0 pb-0 pl-[16px] flex-col gap-[4px] justify-center items-start flex-nowrap border-solid border-l-2 border-l-[#fff] relative z-[15]"
            >
              <span
                class="h-[34px] self-stretch shrink-0 basis-auto font-['Inter'] text-[26px] font-bold leading-[33.8px] text-[#fff] relative text-left whitespace-nowrap z-[16]"
              >
                39
              </span>
              <span
                class="h-[24px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[24px] text-[#fff] relative text-left whitespace-nowrap z-[17]"
              >
                Offices in 5 Countries
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
