<div
  class="main-container flex w-[1600px] pt-[72px] pr-0 pb-[72px] pl-0 flex-col gap-[36px] items-center flex-nowrap bg-[#fff] relative mx-auto my-0"
>
  <div
    class="flex w-[1284px] gap-[24px] items-start shrink-0 flex-nowrap relative"
  >
    <div
      class="flex w-[412px] flex-col gap-[16px] items-start shrink-0 flex-nowrap relative z-[1]"
    >
      <span
        class="h-[43px] self-stretch shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[43px] text-[#151515] tracking-[-0.72px] relative text-left whitespace-nowrap z-[2]"
      >
        Our Team
      </span>
      <span
        class="flex w-[412px] h-[375px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[18px] font-normal leading-[27px] text-[#5c667a] relative text-left z-[3]"
      >
        Our success is in our people, seasoned finance professionals with a
        unique blend of knowledge and flexibility. At Finnkeepers, our staff
        includes U.S.-trained CPAs certified bookkeepers, tax professionals, and
        experts with investment banking and financial planning backgrounds. <br
        />
        Supported by Knowcraft Analytics’ global delivery strength, we can provide
        you with the strategic benefit of onshore quality combined with offshore
        efficiency. Whether it’s year-end tax planning or developing board-worthy
        financial models, our team is your team, working behind the scenes so that
        you can stay ahead. <br />
      </span>
    </div>
    <div
      class="flex w-[848px] flex-col gap-[24px] items-center shrink-0 flex-nowrap relative z-[4]"
    >
      <div
        class="flex gap-[24px] items-center self-stretch shrink-0 flex-nowrap relative z-[5]"
      >
        <div
          class="w-[412px] h-[440px] shrink-0 bg-[#ececec] rounded-[14px] relative z-[6]"
        >
          <div
            class="w-[276.774px] h-[434.148px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-29/bS2TsOgPWq.png)] bg-cover bg-no-repeat absolute top-[-48px] left-[68px] z-[7]"
          >
          </div>
          <div
            class="w-[412px] h-[167px] bg-[#106253] rounded-[14px] absolute top-[273px] left-0 shadow-[0_-5px_6.5px_0_rgba(0,0,0,0.25)] z-[8]"
          >
          </div>
          <div
            class="flex w-[412px] h-[138px] flex-col gap-[16px] items-center flex-nowrap absolute top-[284px] left-1/2 translate-x-[-50%] translate-y-0 z-[9]"
          >
            <div
              class="flex flex-col items-center self-stretch shrink-0 flex-nowrap relative z-10"
            >
              <span
                class="h-[30px] self-stretch shrink-0 basis-auto font-['Inter'] text-[20px] font-bold leading-[30px] text-[#fff] relative text-center whitespace-nowrap z-[11]"
              >
                John deo
              </span>
              <span
                class="flex w-[208px] h-[48px] justify-center items-start shrink-0 font-['Inter'] text-[16px] font-medium leading-[24px] text-[#fff] relative text-center z-[12]"
              >
                Vice President, Learning & Development
              </span>
            </div>
            <div
              class="flex w-[356px] h-[44px] flex-col gap-[-161px] justify-center items-start shrink-0 flex-nowrap rounded-[50px] relative z-[13]"
            >
              <div
                class="flex pt-[10px] pr-[18px] pb-[10px] pl-[18px] gap-[8px] justify-center items-center self-stretch shrink-0 flex-nowrap rounded-[50px] border-solid border border-[#fff] relative overflow-hidden z-[14]"
              >
                <div
                  class="w-[20.037px] h-[20px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-29/t3JaRusNua.png)] bg-cover bg-no-repeat relative z-[15]"
                >
                </div>
                <span
                  class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[16px] font-semibold leading-[24px] text-[#fff] relative text-left whitespace-nowrap z-[16]"
                >
                  Connect on LinkedIn
                </span>
              </div>
              <div
                class="flex w-px gap-[10px] items-center grow shrink-0 basis-0 flex-nowrap relative z-[17]"
              >
              </div>
            </div>
          </div>
        </div>
        <div
          class="w-[412px] h-[440px] shrink-0 bg-[#ececec] rounded-[14px] relative z-[18]"
        >
          <div
            class="w-[276.774px] h-[434.148px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-29/bS2TsOgPWq.png)] bg-cover bg-no-repeat absolute top-[-48px] left-[68px] z-[19]"
          >
          </div>
          <div
            class="w-[412px] h-[167px] bg-[#106253] rounded-[14px] absolute top-[273px] left-0 shadow-[0_-5px_6.5px_0_rgba(0,0,0,0.25)] z-20"
          >
          </div>
          <div
            class="flex w-[412px] h-[138px] flex-col gap-[16px] items-center flex-nowrap absolute top-[284px] left-1/2 translate-x-[-50%] translate-y-0 z-[21]"
          >
            <div
              class="flex flex-col items-center self-stretch shrink-0 flex-nowrap relative z-[22]"
            >
              <span
                class="h-[30px] self-stretch shrink-0 basis-auto font-['Inter'] text-[20px] font-bold leading-[30px] text-[#fff] relative text-center whitespace-nowrap z-[23]"
              >
                John deo
              </span>
              <span
                class="flex w-[208px] h-[48px] justify-center items-start shrink-0 font-['Inter'] text-[16px] font-medium leading-[24px] text-[#fff] relative text-center z-[24]"
              >
                Vice President, Learning & Development
              </span>
            </div>
            <div
              class="flex w-[356px] h-[44px] flex-col gap-[-161px] justify-center items-start shrink-0 flex-nowrap rounded-[50px] relative z-[25]"
            >
              <div
                class="flex pt-[10px] pr-[18px] pb-[10px] pl-[18px] gap-[8px] justify-center items-center self-stretch shrink-0 flex-nowrap rounded-[50px] border-solid border border-[#fff] relative overflow-hidden z-[26]"
              >
                <div
                  class="w-[20.037px] h-[20px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-29/t3JaRusNua.png)] bg-cover bg-no-repeat relative z-[27]"
                >
                </div>
                <span
                  class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[16px] font-semibold leading-[24px] text-[#fff] relative text-left whitespace-nowrap z-[28]"
                >
                  Connect on LinkedIn
                </span>
              </div>
              <div
                class="flex w-px gap-[10px] items-center grow shrink-0 basis-0 flex-nowrap relative z-[29]"
              >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex w-[151.979px] gap-[16px] items-center shrink-0 flex-nowrap rounded-[50px] relative z-30"
      >
        <div
          class="flex w-[151.979px] pt-[10px] pr-[18px] pb-[10px] pl-[18px] gap-[8px] justify-center items-center shrink-0 flex-nowrap bg-[#ed7c00] rounded-[50px] relative overflow-hidden shadow-[0_1px_2px_0_rgba(16,24,40,0.05)] z-[31]"
        >
          <span
            class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[16px] font-semibold leading-[24px] text-[#fff] relative text-left whitespace-nowrap z-[32]"
          >
            View More
          </span>
          <div
            class="w-[24.979px] h-[24.979px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-29/bAB1WOt1eW.png)] bg-cover bg-no-repeat relative overflow-hidden z-[33]"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
