<div
  class="main-container flex w-full max-w-[1600px] pt-[72px] px-4 md:px-8 pb-[72px] flex-col gap-[36px] items-center bg-[#fff] mx-auto"
>
  <div class="flex flex-col lg:flex-row w-full max-w-[1284px] gap-[24px]">
    <!-- Left Content -->
    <div class="flex w-full lg:w-[412px] flex-col gap-[16px]">
      <span
        class="text-[28px] md:text-[32px] lg:text-[36px] font-bold leading-snug lg:leading-[43px] text-[#151515] tracking-[-0.72px] text-center lg:text-left"
      >
        Our Team
      </span>
      <span
        class="text-[16px] md:text-[17px] lg:text-[18px] leading-[26px] md:leading-[27px] text-[#5c667a] text-left"
      >
        Our success is in our people, seasoned finance professionals with a
        unique blend of knowledge and flexibility. At Finnkeepers, our staff
        includes U.S.-trained CPAs certified bookkeepers, tax professionals, and
        experts with investment banking and financial planning backgrounds.
        <br /><br />
        Supported by Knowcraft Analytics’ global delivery strength, we can provide
        you with the strategic benefit of onshore quality combined with offshore
        efficiency. Whether it’s year-end tax planning or developing board-worthy
        financial models, our team is your team, working behind the scenes so that
        you can stay ahead.
      </span>
    </div>

    <!-- Cards -->
    <div class="flex flex-col gap-[24px] items-center w-full lg:w-[848px]">
      <div
        class="flex flex-col md:flex-row gap-[24px] flex-wrap md:flex-nowrap w-full"
      >
        <!-- Card -->
        <div
          class="w-full md:w-[412px] h-[440px] bg-[#ececec] rounded-[14px] relative mt-0 sm:mt-4"
        >
          <div
            class="w-[70%] max-w-[276.774px] h-[auto] aspect-[276/434] bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-29/bS2TsOgPWq.png')] bg-cover bg-no-repeat absolute top-[-48px] left-1/2 -translate-x-1/2"
          >
          </div>
          <div
            class="w-full h-[167px] bg-[#106253] rounded-[14px] absolute top-[273px] left-0 shadow-[0_-5px_6.5px_0_rgba(0,0,0,0.25)]"
          >
          </div>
          <div
            class="flex w-full h-[138px] flex-col gap-[16px] items-center absolute top-[284px] left-1/2 transform -translate-x-1/2"
          >
            <div class="flex flex-col items-center">
              <span class="text-[20px] font-bold leading-[30px] text-[#fff]">
                John deo
              </span>
              <span
                class="w-[208px] text-[16px] font-medium leading-[24px] text-[#fff] text-center"
              >
                Vice President, Learning & Development
              </span>
            </div>
            <div class="flex justify-center items-center">
              <div
                class="flex px-[18px] py-[10px] gap-[8px] justify-center items-center border border-[#fff] rounded-[50px]"
              >
                <div
                  class="w-[20px] h-[20px] bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-29/t3JaRusNua.png')] bg-cover bg-no-repeat"
                >
                </div>
                <span class="text-[16px] font-semibold text-[#fff]">
                  Connect on LinkedIn
                </span>
              </div>
            </div>
          </div>
        </div>

        <!-- Duplicate Card -->
        <div
          class="w-full md:w-[412px] h-[440px] bg-[#ececec] rounded-[14px] relative mt-0 sm:mt-4"
        >
          <div
            class="w-[70%] max-w-[276.774px] h-[auto] aspect-[276/434] bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-29/bS2TsOgPWq.png')] bg-cover bg-no-repeat absolute top-[-48px] left-1/2 -translate-x-1/2"
          >
          </div>
          <div
            class="w-full h-[167px] bg-[#106253] rounded-[14px] absolute top-[273px] left-0 shadow-[0_-5px_6.5px_0_rgba(0,0,0,0.25)]"
          >
          </div>
          <div
            class="flex w-full h-[138px] flex-col gap-[16px] items-center absolute top-[284px] left-1/2 transform -translate-x-1/2"
          >
            <div class="flex flex-col items-center">
              <span class="text-[20px] font-bold leading-[30px] text-[#fff]">
                John deo
              </span>
              <span
                class="w-[208px] text-[16px] font-medium leading-[24px] text-[#fff] text-center"
              >
                Vice President, Learning & Development
              </span>
            </div>
            <div class="flex justify-center items-center">
              <div
                class="flex px-[18px] py-[10px] gap-[8px] justify-center items-center border border-[#fff] rounded-[50px]"
              >
                <div
                  class="w-[20px] h-[20px] bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-29/t3JaRusNua.png')] bg-cover bg-no-repeat"
                >
                </div>
                <span class="text-[16px] font-semibold text-[#fff]">
                  Connect on LinkedIn
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- View More Button -->
      <div class="w-full md:w-auto flex justify-center">
        <div
          class="flex px-[18px] py-[10px] gap-[8px] bg-[#ed7c00] rounded-[50px] shadow-[0_1px_2px_0_rgba(16,24,40,0.05)]"
        >
          <span class="text-[16px] font-semibold leading-[24px] text-[#fff]">
            View More
          </span>
          <div
            class="w-[24.979px] h-[24.979px] bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-29/bAB1WOt1eW.png')] bg-cover bg-no-repeat"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
