<div
  class="flex w-full pt-[80px] pr-[120px] pb-[80px] pl-[120px] gap-[24px] items-start flex-nowrap bg-[#106253] relative z-[31] mt-0 mr-0 mb-0 ml-0 justify-center"
>
  <div
    class="flex w-[1200px] justify-between items-center shrink-0 flex-nowrap relative z-[32]"
  >
    <div
      class="flex w-[570px] flex-col gap-[32px] items-start shrink-0 flex-nowrap relative z-[33]"
    >
      <span
        class="flex w-[570px] h-[105px] justify-start items-start self-stretch shrink-0 font-inter font-bold text-[36px] font-bold leading-[42px] text-[#fff] relative text-left z-[34]"
      >
        Building Resilient<br class="hidden sm:block" /> Financial Strategies
      </span>
      <div class="w-[534.619px] h-[445.667px] shrink-0 relative z-[35]">
        <div
          class="w-[468.349px] h-[129.227px] relative z-[36] mt-0 mr-0 mb-0 ml-[66.271px]"
        >
          <div
            class="group rounded-[124.257px] border-solid border-[0.83px] border-[#eaeaea] absolute top-0 bottom-0 left-0 right-0 z-[37] transition-transform transform hover:scale-[1.03] hover:shadow-lg hover:z-10"
          >
            <div
              class="w-[341.08px] h-[87.437px] text-[0px] absolute top-[17.396px] left-[96.092px] z-[41]"
            >
              <span
                class="block h-[28px] font-inter text-[24px] font-semibold leading-[28px] text-[#fff] relative text-left whitespace-nowrap z-40 mt-0 mr-0 mb-0 ml-0"
              >
                Strategic Market Insight
              </span>
              <span
                class="flex w-[341px] h-[44px] justify-start items-start font-['Inter'] text-[16px] !pb-4 font-normal leading-[22px] text-[#fff] relative text-left z-[41] mt-[15.437px] mr-0 mb-0 ml-[0.08px]"
              >
                We turn your financial data into actionable insights for better
                decision-making.{" "}
              </span>
            </div>
            <div
              class="w-[50.531px] h-[51.053px] bg-[#ed7c00] rounded-[25.398px] absolute top-[34.833px] left-[25.172px] z-[38]"
            >
              <div
                class="w-[22.366px] h-[22.366px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/o3wBK4j2pv.png)] bg-cover bg-no-repeat relative z-[39] mt-[14.082px] mr-0 mb-0 ml-[14.082px] transition-transform duration-300 group-hover:rotate-[45deg]"
              >
              </div>
            </div>
          </div>
        </div>
        <div
          class="w-[468.349px] h-[129.227px] relative z-[42] mt-[28.994px] mr-0 mb-0 ml-0"
        >
          <div
            class="group rounded-[124.257px] border-solid border-[0.83px] border-[#eaeaea] absolute top-0 bottom-0 left-0 right-0 z-[43] transition-transform transform hover:scale-[1.03] hover:shadow-lg hover:z-10"
          >
            <div
              class="w-[358.351px] h-[87.216px] text-[0px] absolute top-[17.396px] left-[96.092px] z-[47]"
            >
              <span
                class="block h-[28px] font-inter text-[24px] font-semibold leading-[28px] text-[#fff] relative text-left whitespace-nowrap z-[46] mt-0 mr-0 mb-0 ml-0"
              >
                Revenue Acceleration
              </span>
              <span
                class="flex w-[358px] h-[44px] justify-start items-start font-['Inter'] text-[16px] font-normal leading-[22px] text-[#fff] relative text-left z-[47] mt-[15.216px] mr-0 mb-0 ml-[0.35px]"
              >
                From cash flow to pricing, we streamline your finances and
                sustainable business growth.{" "}
              </span>
            </div>
            <div
              class="w-[50.531px] h-[51.053px] bg-[#ed7c00] rounded-[25.398px] absolute top-[34.612px] left-[24.442px] z-[44]"
            >
              <div
                class="w-[22.366px] h-[22.366px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/rFsJfGuGEL.png)] bg-cover bg-no-repeat relative z-[45] mt-[14.082px] mr-0 mb-0 ml-[14.082px] transition-transform duration-300 group-hover:rotate-[45deg]"
              >
              </div>
            </div>
          </div>
        </div>
        <div
          class="w-[468.349px] h-[129.227px] relative z-[48] mt-[28.993px] ml-[66.271px]"
        >
          <div
            class="group rounded-[124.257px] border-solid border-[0.83px] border-[#eaeaea] absolute top-0 bottom-0 left-0 right-0 z-[49] transition-transform transform hover:scale-[1.03] hover:shadow-lg hover:z-10"
          >
            <div
              class="w-[364.08px] h-[86.995px] text-[0px] absolute top-[17.396px] left-[96.092px] z-[53]"
            >
              <span
                class="block h-[28px] font-inter text-[24px] font-semibold leading-[28px] text-[#fff] relative text-left whitespace-nowrap z-[52] mt-0 mr-0 mb-0 ml-0"
              >
                Tailored for Every Platform
              </span>
              <span
                class="flex w-[364px] h-[44px] justify-start items-start font-['Inter'] text-[16px] font-normal leading-[22px] text-[#fff] relative text-left z-[53] mt-[14.995px] mr-0 mb-0 ml-[0.08px]"
              >
                Flexible CPA, payroll, tax, and advisory services for startups
                and growing businesses.
              </span>
            </div>
            <div
              class="w-[50.531px] h-[51.053px] bg-[#ed7c00] rounded-[25.398px] absolute top-[34.391px] left-[25.172px] z-50"
            >
              <div
                class="w-[22.366px] h-[22.366px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/t81ZYCJ4VX.png)] bg-cover bg-no-repeat relative z-[51] mt-[14.082px] mr-0 mb-0 ml-[14.082px] transition-transform duration-300 group-hover:rotate-[45deg]"
              >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-[569px] h-[370.512px] shrink-0 rounded-[11.027px] relative z-[54]"
    >
      <div
        class="w-[569px] h-[370.512px] rounded-[11.027px] absolute top-0 left-0 z-[55]"
      >
        <img
          src="/img/home/build-img.png"
          alt=""
          class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
        />
      </div>
    </div>
  </div>
</div>
