<div class="main-container w-full min-h-[544px] relative mx-auto my-0">
  <div
    class="w-full h-[570px] bg-[#213d3c] absolute top-0 left-0 overflow-hidden mb-0 lg:mb-2"
  >
    <!-- Background pattern remains the same -->
    <div
      class="flex w-[1440px] h-[870.759px] flex-col items-start flex-nowrap absolute top-1/2 left-0 translate-x-0 translate-y-[-49.96%]"
    >
      <div class="w-[1440px] h-[818.759px] shrink-0 opacity-[0.08] relative">
        <div
          class="w-[1835.026px] h-[654.623px] relative z-[12] mt-[327.142px] mr-0 mb-0 ml-[-180.691px]"
        >
          <!-- All your existing background divs remain unchanged -->
          <div class="w-[94.21%] h-[26.66%] absolute top-0 left-0">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/nT4KkmgsiZ.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[14]"
            >
            </div>
          </div>
          <!-- ... (all other background pattern divs) ... -->
          <div class="w-[94.93%] h-[25.01%] absolute top-[3.13%] left-[0.03%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/9u1nihC9uf.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[16]"
            >
            </div>
          </div>
          <div class="w-[94.76%] h-[24.65%] absolute top-[4.98%] left-[0.06%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/QiVNDRzVaQ.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[18]"
            >
            </div>
          </div>
          <div class="w-[95.33%] h-[24.33%] absolute top-[6.82%] left-[0.1%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/Tm7Ma3SgXc.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-20"
            >
            </div>
          </div>
          <div class="w-[95.81%] h-[24.07%] absolute top-[8.67%] left-[0.13%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/4RxhJi9Wpu.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[22]"
            >
            </div>
          </div>
          <div class="w-[96.18%] h-[23.87%] absolute top-[10.51%] left-[0.16%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/scePXywA1v.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[24]"
            >
            </div>
          </div>
          <div class="w-[96.41%] h-[23.76%] absolute top-[12.35%] left-[0.19%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/N3emeUUuDx.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[26]"
            >
            </div>
          </div>
          <div class="w-[96.49%] h-[23.79%] absolute top-[14.2%] left-[0.22%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/AN50hEjkv3.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[28]"
            >
            </div>
          </div>
          <div class="w-[97.46%] h-[24.01%] absolute top-[16.04%] left-[0.26%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/GdQdNFifpy.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-30"
            >
            </div>
          </div>
          <div class="w-[97.28%] h-[25.12%] absolute top-[17.88%] left-[0.29%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/unxX0ukURi.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[32]"
            >
            </div>
          </div>
          <div class="w-[97.9%] h-[26.53%] absolute top-[19.73%] left-[0.32%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/ZR6hPHUAiR.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[34]"
            >
            </div>
          </div>
          <div class="w-[98.37%] h-[28.15%] absolute top-[21.57%] left-[0.35%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/rQxG44dnjr.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[36]"
            >
            </div>
          </div>
          <div class="w-[98.72%] h-[29.86%] absolute top-[23.42%] left-[0.38%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/mQXC8TNMXQ.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[38]"
            >
            </div>
          </div>
          <div class="w-[99.02%] h-[31.53%] absolute top-[25.26%] left-[0.42%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/wdc9Ut3MU6.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-40"
            >
            </div>
          </div>
          <div class="w-[99.28%] h-[33.25%] absolute top-[27.11%] left-[0.45%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/Swg8HvG0XC.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[42]"
            >
            </div>
          </div>
          <div class="w-[99.52%] h-[34.97%] absolute top-[28.95%] left-[0.48%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/PrDgQkVGeq.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[44]"
            >
            </div>
          </div>
          <div class="w-[98.12%] h-[35.19%] absolute top-[31.01%] left-[1.63%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/1xgJ0eYtLe.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[46]"
            >
            </div>
          </div>
          <div class="w-[97.76%] h-[35.96%] absolute top-[31.72%] left-[1.39%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/hUc6M66jjL.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[48]"
            >
            </div>
          </div>
          <div class="w-[97.08%] h-[36.99%] absolute top-[32.72%] left-[1.46%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/OjGGuSaC9w.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-50"
            >
            </div>
          </div>
          <div class="w-[96.18%] h-[37.85%] absolute top-[33.96%] left-[1.76%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/TpPyvNxmkz.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[52]"
            >
            </div>
          </div>
          <div class="w-[95.12%] h-[38.55%] absolute top-[35.41%] left-[2.22%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/gA0VZcoCiN.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[54]"
            >
            </div>
          </div>
          <div class="w-[93.94%] h-[39.07%] absolute top-[37.08%] left-[2.8%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/TJArBXEZDf.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[56]"
            >
            </div>
          </div>
          <div class="w-[93.54%] h-[40.81%] absolute top-[37.57%] left-[2.59%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/XCyPdKZ0bM.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[58]"
            >
            </div>
          </div>
          <div class="w-[92.15%] h-[40.93%] absolute top-[39.7%] left-[3.38%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/n3n1c6nQMB.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[60]"
            >
            </div>
          </div>
          <div class="w-[91.54%] h-[42.44%] absolute top-[40.46%] left-[3.39%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/6haqbtjrbY.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[62]"
            >
            </div>
          </div>
          <div class="w-[90.83%] h-[43.86%] absolute top-[41.31%] left-[3.49%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/tAD9xbZ53N.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[64]"
            >
            </div>
          </div>
          <div class="w-[89.29%] h-[43.08%] absolute top-[44.38%] left-[4.43%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/ZAU4a9TOBg.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[66]"
            >
            </div>
          </div>
          <div class="w-[88.16%] h-[48.51%] absolute top-[45%] left-[4.36%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/0WJZqrTBV2.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[70]"
            >
            </div>
          </div>
          <div class="w-[88.46%] h-[44.56%] absolute top-[45.76%] left-[4.66%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/fMQvmbtqkw.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[68]"
            >
            </div>
          </div>
          <div class="w-[87.16%] h-[49.91%] absolute top-[46.83%] left-[4.75%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/yYGa7oj23a.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[72]"
            >
            </div>
          </div>
          <div class="w-[86.17%] h-[50.92%] absolute top-[49.08%] left-[5.14%]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/G5XiK0emOh.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[74]"
            >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Centered content container -->
    <div
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-2/3 lg:-translate-y-1/2 w-full max-w-[1314px] px-4 sm:px-6 md:px-10"
    >
      <div
        class="flex flex-col lg:flex-row items-center lg:items-start justify-between w-full gap-8"
      >
        <!-- Text Content (Left Side) -->
        <div
          class="flex flex-col gap-3 items-start lg:items-start text-center lg:text-left lg:flex-1 max-w-[744px]"
        >
          <!-- Heading -->
          <div
            class="hero-headline opacity-0 text-white font-bold text-[28px] sm:text-[36px] md:text-[44px] lg:text-[52px] leading-tight tracking-[-0.5px] lg:tracking-[-1.04px] z-[3]"
          >
            Smarter <span class="">Accounting</span>.<br />
            Stronger <span class="">Businesses.</span>
          </div>

          <!-- Paragraph -->
          <p
            class="hero-para opacity-0 text-white text-sm text-left sm:text-base md:text-lg leading-[1.6] max-w-[90%] lg:max-w-[546px] z-[4]"
          >
            Expert U.S. based bookkeeping, payroll, and tax solutions <br
              class="hidden sm:block"
            />tailored for small businesses and startups - all at competitive <br
              class="hidden sm:block"
            />prices.
          </p>

          <!-- CTA Button -->
          <div class="mt-6">
            <a
              href="#"
              class="flex w-[200px] sm:w-[286px] h-[44px] sm:h-[50px] px-[15px] justify-center items-center bg-[#ed7c00] rounded-[8px] cursor-pointer border border-transparent hover:bg-transparent hover:border-white transition duration-300"
            >
              <span
                class="text-[14px] sm:text-[18px] font-semibold leading-[20px] sm:leading-[24px] text-white"
              >
                Book your Consultation
              </span>
            </a>
          </div>
        </div>

        <!-- Hero Image (Right Side) -->
        <!-- <div class="lg:flex-1 flex justify-end hidden sm:block">
          <img
            src="/img/home/hero/1.png"
            alt="Hero"
            class="w-[500px] sm:w-[600px] lg:w-[690px] aspect-[640/420] object-contain z-[9]"
          />
        </div> -->
        <div
          class="lg:flex-1 flex justify-end items-center hidden sm:block group relative w-[580px] sm:w-[680px] lg:w-[760px] aspect-[640/420]"
        >
          <!-- Image 1 (Default) -->
          <img
            src="/img/home/hero/1.png"
            alt="Hero Default"
            class="hero-vector-img opacity-0 absolute inset-0 w-full h-full object-contain transition-opacity duration-700 ease-in-out opacity-100 group-hover:opacity-0 z-10"
          />

          <!-- Image 2 (On Hover) -->
          <img
            src="/img/home/hero/2.png"
            alt="Hero Hover"
            class="absolute inset-0 w-full h-full object-contain transition-opacity duration-700 ease-in-out opacity-0 group-hover:opacity-100 z-10"
          />
          <div class="mb-6"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Trusted Partners Container -->
  <div
    class="flex w-full max-w-[1314px] h-auto px-4 sm:px-6 md:px-10 py-6 flex-col gap-[36px] items-start bg-white absolute top-[448px] left-1/2 -translate-x-1/2 overflow-hidden shadow-[0_4px_4px_0_rgba(0,0,0,0.25)] mt-10 rounded-xl"
  >
    <span
      class="w-full text-center font-['Inter'] text-[16px] sm:text-[18px] font-semibold leading-[23px] text-[#51506e] z-[81]"
    >
      Trusted by 850+ Accounting Firms
    </span>

    <!-- Scrolling container -->
    <div class="relative w-full overflow-hidden z-[82]">
      <div
        id="logoSlider"
        class="flex gap-[40px] sm:gap-[66px] items-center w-max animate-scroll-logos"
      >
        <!-- Your existing logos -->
        <div
          class="w-[100px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/KkCHEb9kWG.png')] bg-contain bg-no-repeat"
        >
        </div>
        <!-- Add all your other logo divs here -->
        <div
          class="w-[100px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/8gnRNwvbbo.png')] bg-contain bg-no-repeat"
        >
        </div>
        <div
          class="w-[91px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/esSFsO4xY3.png')] bg-contain bg-no-repeat"
        >
        </div>
        <div
          class="w-[45px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/NMAB88jbQV.png')] bg-contain bg-no-repeat"
        >
        </div>
        <div
          class="w-[76px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/AqXsuXTuir.png')] bg-contain bg-no-repeat"
        >
        </div>
        <div
          class="w-[88px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/y8fiJBKrt3.png')] bg-contain bg-no-repeat"
        >
        </div>
        <div
          class="w-[164px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/SGdvqa92BL.png')] bg-contain bg-no-repeat"
        >
        </div>
        <div
          class="w-[96px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/wmpt4ReKVY.png')] bg-contain bg-no-repeat"
        >
        </div>
        <div
          class="w-[200px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/aDGaHRu7Hm.png')] bg-contain bg-no-repeat"
        >
        </div>
        <div
          class="w-[96px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/TSp8XrMAUR.png')] bg-contain bg-no-repeat"
        >
        </div>
        <div
          class="w-[123px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/aB4JxYU5e1.png')] bg-contain bg-no-repeat"
        >
        </div>

        <!-- Duplicates for loop -->
        <div
          class="w-[100px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/KkCHEb9kWG.png')] bg-contain bg-no-repeat"
        >
        </div>
        <div
          class="w-[100px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/8gnRNwvbbo.png')] bg-contain bg-no-repeat"
        >
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  @keyframes scroll-logos {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll-logos {
    animation: scroll-logos 30s linear infinite;
  }
</style>

<script>
  import { gsap } from "gsap";
  // Animate vector image (main target)
  gsap.set(".hero-vector-img", { opacity: 0, y: 100 }); // start 50px lower
  gsap.to(".hero-vector-img", {
    opacity: 1,
    y: 0, // move to original position
    duration: 1.4,
    ease: "power2.out",
    delay: 0.2,
  });

  // Animate headline, para, cta with stagger
  gsap.set([".hero-headline", ".hero-para", ".hero-cta"], {
    opacity: 0,
    y: 30,
  });
  gsap.to([".hero-headline", ".hero-para", ".hero-cta"], {
    opacity: 1,
    y: 0,
    duration: 1.1,
    stagger: 0.15,
    ease: "power2.out",
    delay: 0.3,
  });
</script>
