<div
  class="flex w-full pt-[80px] pb-[80px] px-[20px] md:px-[60px] lg:px-[120px] flex-col gap-[32px] items-center bg-[#fff]"
>
  <div class="main-container w-[1200px] h-[1669.976px] relative mx-auto my-0">
    <div
      class="flex w-[1200px] flex-col gap-[32px] justify-center items-start flex-nowrap relative mt-0 mr-0 mb-0 ml-0"
    >
      <div
        class="flex flex-col gap-[12px] items-start self-stretch shrink-0 flex-nowrap relative z-[1]"
      >
        <div
          class="flex gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[2]"
        >
          <div
            class="flex w-[1200px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative z-[3]"
          >
            <span
              class="flex w-[757px] h-[124px] justify-start items-start shrink-0 font-['Inter'] text-[52px] font-bold leading-[62.4px] text-[#151515] relative text-left z-[4]"
            >
              Our Pricing - Transparent, Flexible, and Value Driven
            </span>
          </div>
        </div>
        <span
          class="flex w-[785px] h-[54px] justify-start items-start shrink-0 font-['Inter'] text-[18px] font-normal leading-[27px] text-[#797979] relative text-left z-[5]"
        >
          From essential bookkeeping to advanced tax and accounting support, our
          packages are built to scale with your business so you can focus on
          growth while we handle the numbers.
        </span>
      </div>
      <div
        class="flex w-[592px] gap-[15px] items-center shrink-0 flex-nowrap relative z-[6]"
      >
        <span
          class="flex w-[124px] h-[22px] justify-end items-start shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[21.6px] text-[rgba(0,0,0,0.5)] relative text-right whitespace-nowrap z-[7]"
        >
          Billed Monthly
        </span>
        <div
          class="w-[48.364px] h-[26.6px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-20/CCDeZ7erV0.png)] bg-cover bg-no-repeat rounded-[60.455px] relative overflow-hidden z-[8]"
        >
        </div>
        <span
          class="flex w-[220px] h-[22px] justify-start items-start shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[21.6px] text-[#ed7c00] relative text-left whitespace-nowrap z-[9]"
        >
          Billed Yearly (save 15%)
        </span>
      </div>
    </div>
    <div
      class="flex w-[1200px] gap-[48px] items-start flex-nowrap relative z-10 mt-[40px] mr-0 mb-0 ml-0"
    >
      <div
        class="flex flex-col gap-[32px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[11]"
      >
        <div
          class="flex flex-col gap-[12px] items-start self-stretch shrink-0 flex-nowrap relative z-[12]"
        >
          <div
            class="flex flex-col gap-[40px] items-center self-stretch shrink-0 flex-nowrap relative z-[13]"
          >
            <div class="w-[1200px] h-[631.376px] shrink-0 relative z-[14]">
              <div
                class="w-[373.959px] h-[605.763px] rounded-[33.298px] absolute top-0 left-[768.41px] z-[27]"
              >
                <div
                  class="flex w-[373.959px] h-[605.763px] pt-[25.614px] pr-[38.42px] pb-[25.614px] pl-[38.42px] flex-col gap-[25.614px] items-end flex-nowrap bg-[#151515] rounded-[33.298px] absolute top-0 left-0 shadow-[0_53.789px_43.543px_0_rgba(16,98,83,0.2)] z-[28]"
                >
                  <div
                    class="w-[154.963px] h-[34.578px] shrink-0 text-[0px] relative overflow-hidden z-[29]"
                  >
                    <span
                      class="flex w-[124px] h-[17px] justify-center items-start font-['Inter'] text-[14px] font-medium leading-[16.943px] text-[#ed7c00] tracking-[1.07px] relative text-center whitespace-nowrap z-[31] mt-[8.965px] mr-0 mb-0 ml-[14.491px]"
                    >
                      MOST POPULAR
                    </span>
                    <div
                      class="w-full h-full bg-[#fdf2e8] rounded-[17.289px] absolute top-0 left-0 z-30"
                    >
                    </div>
                  </div>
                  <div
                    class="flex w-[297.118px] flex-col gap-[29.456px] items-start shrink-0 flex-nowrap relative z-[32]"
                  >
                    <div
                      class="flex w-[297.118px] flex-col gap-[25.614px] items-start shrink-0 flex-nowrap relative z-[33]"
                    >
                      <div
                        class="w-[194.664px] h-[58.911px] shrink-0 relative overflow-hidden z-[34]"
                      >
                        <div
                          class="flex w-[108px] gap-[12px] items-center flex-nowrap relative z-[35] mt-0 mr-0 mb-0 ml-0"
                        >
                          <span
                            class="h-[59px] shrink-0 basis-auto font-['Inter'] text-[45px] font-bold leading-[58.911px] text-[#fff] relative text-left whitespace-nowrap z-[36]"
                          >
                            $
                          </span>
                          <span
                            class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[20px] font-medium leading-[24px] text-[#fff] relative text-left whitespace-nowrap z-[37]"
                          >
                            /yearly
                          </span>
                        </div>
                      </div>
                      <div
                        class="w-[297.118px] h-[112.7px] shrink-0 text-[0px] relative overflow-hidden z-[38]"
                      >
                        <span
                          class="flex w-[254px] h-[58px] justify-start items-start font-['Inter'] text-[24px] font-medium leading-[29.045px] text-[#fff] relative text-left z-[39] mt-[-0.33px] mr-0 mb-0 ml-[0.17px]"
                        >
                          Multi-Entity Businesses
                        </span>
                        <span
                          class="block h-[22px] font-['Inter'] text-[18px] font-medium leading-[21.784px] text-[#fff] relative text-left whitespace-nowrap z-40 mt-[3.804px] mr-0 mb-0 ml-0"
                        >
                          Lorem Ipsum is simply text
                        </span>
                      </div>
                      <div
                        class="flex w-[265.101px] flex-col gap-[12.807px] items-start shrink-0 flex-nowrap relative z-[41]"
                      >
                        <div
                          class="w-[265.101px] h-[26.894px] shrink-0 relative overflow-hidden z-[42]"
                        >
                          <span
                            class="flex h-[22px] justify-start items-start font-['Inter'] text-[18px] font-medium leading-[21.784px] text-[#fff] absolute top-[calc(50%-13.45px)] left-[14.49%] text-left whitespace-nowrap z-[44]"
                          >
                            Amazing feature one
                          </span>
                          <div
                            class="w-[9.66%] h-[95.24%] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-20/7thCGprPxm.png)] bg-[length:100%_100%] bg-no-repeat absolute top-[4.76%] left-0 z-[43]"
                          >
                          </div>
                        </div>
                        <div
                          class="w-[265.101px] h-[26.894px] shrink-0 relative overflow-hidden z-[45]"
                        >
                          <span
                            class="flex h-[22px] justify-start items-start font-['Inter'] text-[18px] font-medium leading-[21.784px] text-[#fff] absolute top-[calc(50%-13.45px)] left-[14.49%] text-left whitespace-nowrap z-[47]"
                          >
                            Wonderful feature two
                          </span>
                          <div
                            class="w-[9.66%] h-[95.24%] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-20/tgxEu9PTiK.png)] bg-[length:100%_100%] bg-no-repeat absolute top-[4.76%] left-0 z-[46]"
                          >
                          </div>
                        </div>
                        <div
                          class="w-[265.101px] h-[26.894px] shrink-0 relative overflow-hidden z-[48]"
                        >
                          <span
                            class="flex h-[22px] justify-start items-start font-['Inter'] text-[18px] font-medium leading-[21.784px] text-[#fff] absolute top-[calc(50%-13.45px)] left-[14.49%] text-left whitespace-nowrap z-50"
                          >
                            Priceless feature three
                          </span>
                          <div
                            class="w-[9.66%] h-[95.24%] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-20/dgpY8J23gZ.png)] bg-[length:100%_100%] bg-no-repeat absolute top-[4.76%] left-0 z-[49]"
                          >
                          </div>
                        </div>
                        <div
                          class="w-[265.101px] h-[26.894px] shrink-0 relative overflow-hidden z-[51]"
                        >
                          <span
                            class="flex h-[22px] justify-start items-start font-['Inter'] text-[18px] font-medium leading-[21.784px] text-[#fff] absolute top-[calc(50%-13.45px)] left-[14.49%] text-left whitespace-nowrap z-[53]"
                          >
                            Splended feature four
                          </span>
                          <div
                            class="w-[9.66%] h-[95.24%] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-20/WZEVU5zUPd.png)] bg-[length:100%_100%] bg-no-repeat absolute top-[4.76%] left-0 z-[52]"
                          >
                          </div>
                        </div>
                        <div
                          class="w-[265.101px] h-[26.894px] shrink-0 relative overflow-hidden z-[54]"
                        >
                          <span
                            class="flex h-[22px] justify-start items-start font-['Inter'] text-[18px] font-medium leading-[21.784px] text-[#fff] absolute top-[calc(50%-13.45px)] left-[14.49%] text-left whitespace-nowrap z-[56]"
                          >
                            Delightful feature five
                          </span>
                          <div
                            class="w-[9.66%] h-[95.24%] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-20/8CiW0qpcXz.png)] bg-[length:100%_100%] bg-no-repeat absolute top-[4.76%] left-0 z-[55]"
                          >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="flex w-[265.1px] h-[50px] pt-0 pr-[24px] pb-0 pl-[24px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap bg-[#ed7c00] rounded-[8px] relative z-[57]"
                    >
                      <div
                        class="flex w-[34px] h-[40px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[58]"
                      >
                        <span
                          class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#fff] relative text-left whitespace-nowrap z-[59]"
                        >
                          Call
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="w-[1200px] h-[598.079px] bg-[#f5f7fa] rounded-[33.298px] absolute top-[33.297px] left-0 z-[15]"
              >
              </div>
              <div
                class="w-[161px] h-[59px] absolute top-[84px] left-[427px] z-[19]"
              >
                <div
                  class="flex w-[161px] h-[59px] gap-[12px] items-center flex-nowrap absolute top-0 left-0 z-20"
                >
                  <span
                    class="h-[59px] shrink-0 basis-auto font-['Inter'] text-[45px] font-bold leading-[58.911px] text-[#151515] relative text-left whitespace-nowrap z-[21]"
                  >
                    $12
                  </span>
                  <span
                    class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[20px] font-medium leading-[24px] text-[#797979] relative text-left whitespace-nowrap z-[22]"
                  >
                    /month
                  </span>
                </div>
              </div>
              <div
                class="w-[265.1px] h-[459.136px] absolute top-[84px] left-[87px] z-[75]"
              >
                <div
                  class="w-[204.909px] h-[58.911px] relative overflow-hidden z-[76] mt-0 mr-0 mb-0 ml-0"
                >
                  <div
                    class="flex w-[199px] gap-[12px] items-center flex-nowrap relative z-[77] mt-0 mr-0 mb-0 ml-0"
                  >
                    <span
                      class="h-[59px] shrink-0 basis-auto font-['Inter'] text-[45px] font-bold leading-[58.911px] text-[#151515] relative text-left whitespace-nowrap z-[78]"
                    >
                      $250
                    </span>
                    <span
                      class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[20px] font-medium leading-[24px] text-[#797979] relative text-left whitespace-nowrap z-[79]"
                    >
                      /month
                    </span>
                  </div>
                </div>
                <div
                  class="flex w-[265.1px] h-[50px] pt-0 pr-[24px] pb-0 pl-[24px] flex-col gap-[8px] justify-center items-center flex-nowrap rounded-[8px] border-solid border border-[#ed7c00] relative z-[80] mt-[350.224px] mr-0 mb-0 ml-0"
                >
                  <div
                    class="flex w-[34px] h-[40px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[81]"
                  >
                    <span
                      class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#ed7c00] relative text-left whitespace-nowrap z-[82]"
                    >
                      Call
                    </span>
                  </div>
                </div>
              </div>
              <div
                class="w-[265px] h-[88px] text-[0px] absolute top-[168.475px] left-[427px] z-[16]"
              >
                <span
                  class="flex w-[265px] h-[58px] justify-start items-start font-['Inter'] text-[24px] font-medium leading-[29.045px] text-[#151515] relative text-left z-[17] mt-0 mr-0 mb-0 ml-0"
                >
                  Project-Based Bookkeeping
                </span>
                <span
                  class="block h-[22px] font-['Inter'] text-[18px] font-medium leading-[21.784px] text-[#797979] relative text-left whitespace-nowrap z-[18] mt-[8px] mr-0 mb-0 ml-0"
                >
                  Lorem Ipsum is simply text
                </span>
              </div>
              <div
                class="flex w-[265px] h-[88px] flex-col gap-[8px] items-start flex-nowrap absolute top-[169px] left-[87.086px] z-[60]"
              >
                <div
                  class="w-[265px] h-[88px] shrink-0 text-[0px] relative z-[61]"
                >
                  <span
                    class="flex w-[265px] h-[58px] justify-start items-start font-['Inter'] text-[24px] font-medium leading-[29.045px] text-[#151515] relative text-left z-[62] mt-0 mr-0 mb-0 ml-0"
                  >
                    Monthly
                    <br />
                    Retainers
                  </span>
                  <span
                    class="block h-[22px] font-['Inter'] text-[18px] font-medium leading-[21.784px] text-[#797979] relative text-left whitespace-nowrap z-[63] mt-[8px] mr-0 mb-0 ml-0"
                  >
                    Lorem Ipsum is simply text
                  </span>
                </div>
              </div>
              <div
                class="flex w-[265.101px] h-[106.297px] flex-col gap-[12.807px] items-start flex-nowrap absolute top-[307.4px] left-[87.086px] z-[64]"
              >
                <div
                  class="w-[265.101px] h-[106.297px] shrink-0 relative z-[65]"
                >
                  <div
                    class="w-[265.101px] h-[26.894px] relative overflow-hidden z-[66] mt-0 mr-0 mb-0 ml-0"
                  >
                    <span
                      class="flex h-[22px] justify-start items-start font-['Inter'] text-[18px] font-medium leading-[21.784px] text-[#797979] absolute top-[calc(50%-13.45px)] left-[14.49%] text-left whitespace-nowrap z-[68]"
                    >
                      Amazing feature one
                    </span>
                    <div
                      class="w-[9.66%] h-[95.24%] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-20/nRHr72AL8Q.png)] bg-[length:100%_100%] bg-no-repeat absolute top-[4.76%] left-[0%] z-[67]"
                    >
                    </div>
                  </div>
                  <div
                    class="w-[265.101px] h-[26.894px] relative overflow-hidden z-[69] mt-[12.807px] mr-0 mb-0 ml-0"
                  >
                    <span
                      class="flex h-[22px] justify-start items-start font-['Inter'] text-[18px] font-medium leading-[21.784px] text-[#797979] absolute top-[calc(50%-13.45px)] left-[14.49%] text-left whitespace-nowrap z-[70]"
                    >
                      Wonderful feature two
                    </span>
                    <div
                      class="w-[9.66%] h-[95.24%] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-20/XuCkE5W8HH.png)] bg-[length:100%_100%] bg-no-repeat absolute top-[4.97%] left-[-0.03%] z-[71]"
                    >
                    </div>
                  </div>
                  <div
                    class="w-[265.101px] h-[26.894px] relative overflow-hidden z-[72] mt-[12.807px] mr-0 mb-0 ml-0"
                  >
                    <span
                      class="flex h-[22px] justify-start items-start font-['Inter'] text-[18px] font-medium leading-[21.784px] text-[#797979] absolute top-[calc(50%-13.45px)] left-[14.49%] text-left whitespace-nowrap z-[73]"
                    >
                      Priceless feature three
                    </span>
                    <div
                      class="w-[9.66%] h-[95.24%] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-20/HRS9wTvcfc.png)] bg-[length:100%_100%] bg-no-repeat absolute top-[2.36%] left-[-0.03%] z-[74]"
                    >
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="w-[265.1px] h-[50px] rounded-[8px] absolute top-[493.475px] left-[427px] z-[23]"
              >
                <div
                  class="flex w-[265.1px] h-[50px] pt-0 pr-[24px] pb-0 pl-[24px] flex-col gap-[8px] justify-center items-center flex-nowrap rounded-[8px] border-solid border border-[#ed7c00] absolute top-0 left-0 z-[24]"
                >
                  <div
                    class="flex w-[34px] h-[40px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[25]"
                  >
                    <span
                      class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#ed7c00] relative text-left whitespace-nowrap z-[26]"
                    >
                      Call
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="flex w-[265.101px] h-[106.297px] flex-col gap-[12.807px] items-start shrink-0 flex-nowrap absolute top-[307.4px] left-[427px] z-[83]"
            >
              <div class="w-[265.101px] h-[106.297px] shrink-0 relative z-[84]">
                <div
                  class="w-[265.101px] h-[26.894px] relative overflow-hidden z-[85] mt-0 mr-0 mb-0 ml-0"
                >
                  <span
                    class="flex h-[22px] justify-start items-start font-['Inter'] text-[18px] font-medium leading-[21.784px] text-[#797979] absolute top-[calc(50%-13.45px)] left-[14.49%] text-left whitespace-nowrap z-[87]"
                  >
                    Amazing feature one
                  </span>
                  <div
                    class="w-[9.66%] h-[95.24%] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-20/of6LnxTTme.png)] bg-[length:100%_100%] bg-no-repeat absolute top-[4.76%] left-[0%] z-[86]"
                  >
                  </div>
                </div>
                <div
                  class="w-[265.101px] h-[26.894px] relative overflow-hidden z-[88] mt-[12.807px] mr-0 mb-0 ml-0"
                >
                  <span
                    class="flex h-[22px] justify-start items-start font-['Inter'] text-[18px] font-medium leading-[21.784px] text-[#797979] absolute top-[calc(50%-13.45px)] left-[14.49%] text-left whitespace-nowrap z-[89]"
                  >
                    Wonderful feature two
                  </span>
                  <div
                    class="w-[9.66%] h-[95.24%] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-20/phgPr7GXVt.png)] bg-[length:100%_100%] bg-no-repeat absolute top-[4.97%] left-[-0.03%] z-[90]"
                  >
                  </div>
                </div>
                <div
                  class="w-[265.101px] h-[26.894px] relative overflow-hidden z-[91] mt-[12.807px] mr-0 mb-0 ml-0"
                >
                  <span
                    class="flex h-[22px] justify-start items-start font-['Inter'] text-[18px] font-medium leading-[21.784px] text-[#797979] absolute top-[calc(50%-13.45px)] left-[14.49%] text-left whitespace-nowrap z-[92]"
                  >
                    Priceless feature three
                  </span>
                  <div
                    class="w-[9.66%] h-[95.24%] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-20/bpegZRACgZ.png)] bg-[length:100%_100%] bg-no-repeat absolute top-[2.36%] left-[-0.03%] z-[93]"
                  >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex w-[1200px] flex-col gap-[40px] items-start flex-nowrap relative mt-[80px] mr-0 mb-0 ml-0"
    >
      <div
        class="flex flex-col gap-[32px] items-start self-stretch shrink-0 flex-nowrap relative"
      >
        <div
          class="flex gap-[32px] items-start self-stretch shrink-0 flex-nowrap relative"
        >
          <div
            class="flex flex-col gap-[12px] items-start self-stretch grow shrink-0 basis-0 flex-nowrap relative"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative"
            >
              <span
                class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left whitespace-nowrap"
              >
                Comparison
              </span>
            </div>
            <span
              class="flex w-[276px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left"
            >
              Please select the billing cycle that best suits your preference
            </span>
          </div>
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[21.784px] text-[#151515] relative text-left whitespace-nowrap"
              >
                Monthly Retainers
              </span>
            </div>
            <div
              class="flex flex-col gap-[32px] items-start self-stretch shrink-0 flex-nowrap relative"
            >
              <span
                class="flex w-[276px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left"
              >
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui off
              </span>
              <div
                class="flex h-[50px] pt-0 pr-[24px] pb-0 pl-[24px] flex-col gap-[8px] justify-center items-center self-stretch shrink-0 flex-nowrap rounded-[8px] border-solid border border-[#ed7c00] relative z-[106]"
              >
                <div
                  class="flex w-[34px] h-[40px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[107]"
                >
                  <span
                    class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#ed7c00] relative text-left whitespace-nowrap z-[108]"
                  >
                    Call
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[109]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[110]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[21.784px] text-[#151515] relative text-left whitespace-nowrap z-[111]"
              >
                Project-Based Bookkeeping
              </span>
            </div>
            <div
              class="flex flex-col gap-[32px] items-start self-stretch shrink-0 flex-nowrap relative z-[112]"
            >
              <span
                class="flex w-[276px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[113]"
              >
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui off
              </span>
              <div
                class="flex h-[50px] pt-0 pr-[24px] pb-0 pl-[24px] flex-col gap-[8px] justify-center items-center self-stretch shrink-0 flex-nowrap rounded-[8px] border-solid border border-[#ed7c00] relative z-[114]"
              >
                <div
                  class="flex w-[34px] h-[40px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[115]"
                >
                  <span
                    class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#ed7c00] relative text-left whitespace-nowrap z-[116]"
                  >
                    Call
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[117]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[118]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[21.784px] text-[#151515] relative text-left whitespace-nowrap z-[119]"
              >
                Multi-Entity Businesses
              </span>
            </div>
            <div
              class="flex flex-col gap-[32px] items-start self-stretch shrink-0 flex-nowrap relative z-[120]"
            >
              <span
                class="flex w-[276px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[121]"
              >
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui off
              </span>
              <div
                class="flex h-[50px] pt-0 pr-[24px] pb-0 pl-[24px] flex-col gap-[8px] justify-center items-center self-stretch shrink-0 flex-nowrap rounded-[8px] border-solid border border-[#ed7c00] relative z-[122]"
              >
                <div
                  class="flex w-[34px] h-[40px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[123]"
                >
                  <span
                    class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#ed7c00] relative text-left whitespace-nowrap z-[124]"
                  >
                    Call
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="h-px self-stretch shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-20/w5oMVHmu86.png)] bg-cover bg-no-repeat relative z-[125]"
      >
      </div>
      <div
        class="flex flex-col gap-[32px] items-start self-stretch shrink-0 flex-nowrap relative z-[126]"
      >
        <div
          class="flex gap-[32px] items-start self-stretch shrink-0 flex-nowrap relative z-[127]"
        >
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[128]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[129]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[21.784px] text-[#151515] relative text-left whitespace-nowrap z-[130]"
              >
                Feature name 1
              </span>
            </div>
          </div>
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[131]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[132]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left whitespace-nowrap z-[133]"
              >
                No
              </span>
            </div>
          </div>
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[134]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[135]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left whitespace-nowrap z-[136]"
              >
                Yes
              </span>
            </div>
          </div>
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[137]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[138]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left whitespace-nowrap z-[139]"
              >
                Yes
              </span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="h-px self-stretch shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-20/cYbMYcP3Ur.png)] bg-cover bg-no-repeat relative z-[140]"
      >
      </div>
      <div
        class="flex flex-col gap-[32px] items-start self-stretch shrink-0 flex-nowrap relative z-[141]"
      >
        <div
          class="flex gap-[32px] items-start self-stretch shrink-0 flex-nowrap relative z-[142]"
        >
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[143]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[144]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[21.784px] text-[#151515] relative text-left whitespace-nowrap z-[145]"
              >
                Feature name 2
              </span>
            </div>
          </div>
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[146]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[147]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left whitespace-nowrap z-[148]"
              >
                Limited
              </span>
            </div>
          </div>
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[149]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[150]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left whitespace-nowrap z-[151]"
              >
                Unlimited
              </span>
            </div>
          </div>
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[152]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[153]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left whitespace-nowrap z-[154]"
              >
                Unlimited
              </span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="h-px self-stretch shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-20/bEoVqMRCGm.png)] bg-cover bg-no-repeat relative z-[155]"
      >
      </div>
      <div
        class="flex flex-col gap-[32px] items-start self-stretch shrink-0 flex-nowrap relative z-[156]"
      >
        <div
          class="flex gap-[32px] items-start self-stretch shrink-0 flex-nowrap relative z-[157]"
        >
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[158]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[159]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[21.784px] text-[#151515] relative text-left whitespace-nowrap z-[160]"
              >
                Feature name 3
              </span>
            </div>
          </div>
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[161]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[162]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left whitespace-nowrap z-[163]"
              >
                Limited
              </span>
            </div>
          </div>
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[164]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[165]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left whitespace-nowrap z-[166]"
              >
                Unlimited
              </span>
            </div>
          </div>
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[167]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[168]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left whitespace-nowrap z-[169]"
              >
                Unlimited
              </span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="h-px self-stretch shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-20/tWLz3WD9OT.png)] bg-cover bg-no-repeat relative z-[170]"
      >
      </div>
      <div
        class="flex flex-col gap-[32px] items-start self-stretch shrink-0 flex-nowrap relative z-[171]"
      >
        <div
          class="flex gap-[32px] items-start self-stretch shrink-0 flex-nowrap relative z-[172]"
        >
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[173]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[174]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[21.784px] text-[#151515] relative text-left whitespace-nowrap z-[175]"
              >
                Feature name 4
              </span>
            </div>
          </div>
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[176]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[177]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left whitespace-nowrap z-[178]"
              >
                Limited
              </span>
            </div>
          </div>
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[179]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[180]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left whitespace-nowrap z-[181]"
              >
                Unlimited
              </span>
            </div>
          </div>
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[182]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[183]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left whitespace-nowrap z-[184]"
              >
                Unlimited
              </span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="h-px self-stretch shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-20/PYgtyGbouy.png)] bg-cover bg-no-repeat relative z-[185]"
      >
      </div>
      <div
        class="flex flex-col gap-[32px] items-start self-stretch shrink-0 flex-nowrap relative z-[186]"
      >
        <div
          class="flex gap-[32px] items-start self-stretch shrink-0 flex-nowrap relative z-[187]"
        >
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[188]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[189]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[21.784px] text-[#151515] relative text-left whitespace-nowrap z-[190]"
              >
                Feature name 5
              </span>
            </div>
          </div>
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[191]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[192]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left whitespace-nowrap z-[193]"
              >
                Yes
              </span>
            </div>
          </div>
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[194]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[195]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left whitespace-nowrap z-[196]"
              >
                Yes
              </span>
            </div>
          </div>
          <div
            class="flex flex-col gap-[12px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[197]"
          >
            <div
              class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[198]"
            >
              <span
                class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left whitespace-nowrap z-[199]"
              >
                Yes
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
