---
import Layout from "../layouts/Layout.astro";
import Header3 from "../components/Header3.astro";
import Hero from "../components/about2/Hero.astro";
import Hero2 from "../components/about2/Hero2.astro";
import Vision from "../components/about2/Vision.astro";
import Vision2 from "../components/about2/Vision2.astro";
import Vision3 from "../components/about2/Vision3.astro";
import Core from "../components/about2/Core.astro";
import Core2 from "../components/about2/Core2.astro";
import Core3 from "../components/about2/Core3.astro";
import BlogResp from "../components/about2/BlogResp.astro";
import Cta from "../components/about2/Cta.astro";
import Footer4Resp from "../components/Footer4Resp.astro";
import Footer6 from "../components/Footer6.astro";
---

<Layout>
  <Header3 />
  <!-- <Hero /> -->
  <Hero2 />
  <!-- <Vision /> -->
  <Vision3 />
  <!-- <Core /> -->
  <!-- <Core2 /> -->
  <Core3 />
  <BlogResp />
  <div class="mt-10">
    <Cta />
    <div class="relative z-0 -mt-[80px]">
      <Footer6 />
    </div>
  </div>
</Layout>
