---
import Layout from "../layouts/Layout.astro";
import Header3 from "../components/Header3.astro";
import Footer4Resp from "../components/Footer4Resp.astro";
---

<Layout>
  <Header3 />
  <div class="pt-20 mt-20 mb-20 z-[2]">hello</div>
  <div class="mt-10">
    <!-- <Cta /> -->
    <div class="relative z-0 -mt-[80px]">
      <Footer4Resp />
    </div>
  </div>
</Layout>
