---
import Layout from "../layouts/Layout.astro";
import Header3 from "../components/Header3.astro";
import Hero from "../components/about2/Hero.astro";
import Hero2 from "../components/about2/Hero2.astro";
import Vision from "../components/about2/Vision.astro";
import Vision2 from "../components/about2/Vision2.astro";
import Vision3 from "../components/about2/Vision3.astro";
import Core from "../components/about2/Core.astro";
import Core2 from "../components/about2/Core2.astro";
import Core3 from "../components/about2/Core3.astro";
import Team from "../components/about2/Team.astro";
import TeamResp from "../components/about2/TeamResp2.astro";
import BlogResp from "../components/about2/BlogResp.astro";
import Cta from "../components/home/animated/ContactResp.astro";
import Footer4Resp from "../components/Footer4Resp.astro";
import Footer6 from "../components/Footer6.astro";
import Header4 from "../components/Header4.astro";
import TeamResp2 from "../components/about2/TeamResp2.astro";
---

<Layout>
  <Header4 />
  <!-- <Hero /> -->
  <div class="mt-20"><Hero2 /></div>
  <!-- <Vision /> -->
  <Vision3 />
  <!-- <Core /> -->
  <!-- <Core2 /> -->
  <Core3 />
  <!-- <TeamResp2 /> -->
  <TeamResp />
  <!-- <Team /> -->
  <BlogResp />
  <div class="mt-10">
    <Cta />
    <div class="relative z-0 -mt-[120px]">
      <Footer6 />
    </div>
  </div>
</Layout>
