---
import Layout from "../layouts/Layout.astro";
import Header3 from "../components/Header3.astro";
import HeroBlog from "../components/blog/HeroBlog.astro";
import BlogList from "../components/blog/BlogList.astro";
import BlogListResp from "../components/blog/BlogListResp.astro";
import BlogCta from "../components/blog/BlogCta.astro";
import BlogCtaResp from "../components/blog/BlogCtaResp.astro";
import Footer4Resp from "../components/Footer4Resp.astro";
---

<Layout>
  <Header3 />

  <HeroBlog />
  <!-- <BlogList /> -->
  <BlogListResp />
  <div class="mt-10">
    <!-- <BlogCta /> -->
    <BlogCtaResp />
    <div class="relative z-0 -mt-[80px]">
      <Footer4Resp />
    </div>
  </div>
</Layout>
