---
import Layout from "../layouts/Layout.astro";
import Header3 from "../components/Header3.astro";
import Hero from "../components/services/book-keeping/Hero.astro";
import Hero2 from "../components/services/book-keeping/Hero2.astro";
import Why from "../components/services/book-keeping/Why.astro";
import Why2 from "../components/services/book-keeping/Why2.astro";
import WhoWeHelp from "../components/services/book-keeping/WhoWeHelp.astro";
import WhoWeHelp2 from "../components/services/book-keeping/WhoWeHelp2.astro";
import WhoWeHelp3 from "../components/services/book-keeping/WhoWeHelp3.astro";
import WhoWeHelp4 from "../components/services/book-keeping/WhoWeHelp4.astro";
import WhoWeHelp5 from "../components/services/book-keeping/WhoWeHelp5.astro";
import WhoWeHelp6 from "../components/services/book-keeping/WhoWeHelp6.astro";
import WhyChoose from "../components/services/book-keeping/WhyChoose.astro";
import WhyChoose2 from "../components/services/book-keeping/WhyChoose2.astro";
import Pricing from "../components/services/book-keeping/Pricing.astro";
import Pricing2 from "../components/services/book-keeping/Pricing2.astro";
import Pricing3 from "../components/services/book-keeping/Pricing3.astro";
import Pricing4 from "../components/services/book-keeping/Pricing4.astro";
import BookKeepingAccordian from "../components/services/book-keeping/BookKeepingAccordion.astro";
import BookKeepingCta from "../components/services/book-keeping/BookKeepingCta.astro";
import Footer4Resp from "../components/Footer4Resp.astro";
---

<Layout>
  <Header3 />
  <!-- <Hero /> -->
  <Hero2 />
  <!-- <Why /> -->
  <Why2 />
  <!-- <WhoWeHelp /> -->
  <!-- <WhoWeHelp2 /> -->
  <!-- <WhoWeHelp3 /> -->
  <!-- <WhoWeHelp4 /> -->
  <!-- <WhoWeHelp5 /> -->
  <WhoWeHelp6 />
  <!-- <WhyChoose /> -->
  <WhyChoose2 />
  <!-- <Pricing /> -->
  <!-- <Pricing2 /> -->
  <!-- <Pricing3 /> -->
  <Pricing4 />
  <BookKeepingAccordian />

  <div class="mt-10">
    <BookKeepingCta />
    <div class="relative z-0 -mt-[80px]">
      <Footer4Resp />
    </div>
  </div>
</Layout>
