---
import Layout from "../layouts/Layout.astro";
import Header4 from "../components/Header4.astro";
import Hero from "../components/casestudy/Hero.astro";
import List from "../components/casestudy/List4.astro";
import ContactResp from "../components/home/ContactResp.astro";
import Footer6 from "../components/Footer6.astro";
---

<Layout>
  <Header4 />
  <div class="mt-20">
    <Hero />
  </div>
  <div class="mt-10 mb-20">
    <List />
  </div>
  <div class="mt-10">
    <ContactResp />
    <div class="relative z-0 -mt-[100px]">
      <Footer6 />
    </div>
  </div>
</Layout>
