---
import Layout from "../layouts/Layout.astro";
import Header3 from "../components/Header3.astro";
import Hero from "../components/services/cashflow-management/Hero.astro";
import Hero2 from "../components/services/cashflow-management/Hero2.astro";
import Why from "../components/services/cashflow-management/Why.astro";
import Why2 from "../components/services/cashflow-management/Why2.astro";
import WhoWeHelp from "../components/services/cashflow-management/WhoWeHelp.astro";
import WhoWeHelp2 from "../components/services/cashflow-management/WhoWeHelp2.astro";
import WhoWeHelp3 from "../components/services/cashflow-management/WhoWeHelp3.astro";
import WhoWeHelp4 from "../components/services/cashflow-management/WhoWeHelp4.astro";
import WhoWeHelp5 from "../components/services/cashflow-management/WhoWeHelp5.astro";
import WhoWeHelp6 from "../components/services/cashflow-management/WhoWeHelp6.astro";
import WhyChoose from "../components/services/cashflow-management/WhyChoose.astro";
import WhyChoose2 from "../components/services/cashflow-management/WhyChoose2.astro";
import Pricing4 from "../components/pricing/Pricing4.astro";
import BookKeepingAccordian from "../components/services/cashflow-management/BookKeepingAccordion.astro";
import BookKeepingCta from "../components/services/cashflow-management/BookKeepingCta.astro";
import ContactResp from "../components/home/animated/ContactResp.astro";
import Footer6 from "../components/Footer6.astro";
import Header5 from "../components/Header5.astro";
---

<Layout 
  title="Finkeepers"
  description="Expert cash flow management & financial planning services. Optimize working capital, forecast cash needs & improve business liquidity."
  canonical="https://finkeepers.us/cashflow-management"
>
  <Header5 />
  <!-- <Hero /> -->
  <div class="mt-0 lg:mt-20"><Hero2 /></div>
  <!-- <Why /> -->
  <Why2 />
  <!-- <WhoWeHelp /> -->
  <!-- <WhoWeHelp2 /> -->
  <!-- <WhoWeHelp3 /> -->
  <!-- <WhoWeHelp4 /> -->
  <!-- <WhoWeHelp5 /> -->
  <WhoWeHelp6 />
  <!-- <WhyChoose /> -->
  <WhyChoose2 />
  <!-- <Pricing4 /> -->
  <BookKeepingAccordian />

  <div class="mt-10">
    <ContactResp />
    <div class="relative z-0 -mt-[80px] pb-5">
      <Footer6 />
    </div>
  </div>
</Layout>
