---
import Layout from "../layouts/Layout.astro";
import Header5 from "../components/Header5.astro";
import Accordian2 from "../components/home/Accordian2.astro";
import Footer7 from "../components/Footer7.astro";
import Hero3 from "../components/contact/Hero3.astro";
---

<Layout>
  <Header5 />
  <Hero3 />
  <Accordian2 />
  
  <!-- Contact SVG Section -->
  <!-- <div class="w-full flex justify-center absolute" style="top: 1180px; z-index: 10;">
    <img src="/contact.svg" alt="Contact" class="max-w-full h-auto" style="width: 65%; height: auto;" />
  </div> -->
  
  <Footer7 />
</Layout>
