---
import Header3 from "../components/Header3.astro";
import Layout from "../layouts/Layout.astro";
import Hero2 from "../components/home/Hero2.astro";
import Second2Resp from "../components/home/Second2Resp.astro";
import BlogResp from "../components/home/BlogResp.astro";
import ContactResp from "../components/home/ContactResp.astro";
import Footer4Resp from "../components/Footer4Resp.astro";
import Footer5 from "../components/Footer5.astro";
---

<Layout>
  <Header3 />
  <div class="mb-20">
    <Hero2 />
  </div>

  <Second2Resp />

  <BlogResp />

  <div class="mt-10">
    <ContactResp />
    <div class="relative z-0 -mt-[80px]">
      <Footer4Resp />
      <!-- <Footer5 /> -->
    </div>
  </div>
</Layout>
