---
import Header from "../components/Header3.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero2.astro";
import Second2 from "../components/home/Second2.astro";
import Second2Resp from "../components/home/Second2Resp.astro";
import TrustedPartner from "../components/home/TrustedParner.astro";
import BlogSection from "../components/home/BlogSection.astro";
import BlogResp from "../components/home/BlogResp.astro";
import Contact from "../components/home/Contact.astro";
import ContactResp from "../components/home/ContactResp.astro";
import Footer from "../components/Footer.astro";
import FooterResp from "../components/FooterResp.astro";
import FooterResp2 from "../components/FooterResp2.astro";
import FooterResp3 from "../components/FooterResp3.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Header />
  <div class="mb-20">
    <Hero />
  </div>
  <!-- <Second /> -->
  <!-- <TrustedPartner /> -->
  <!-- <Second2 /> -->
  <Second2Resp />
  <!-- <BlogSection /> -->
  <BlogResp />

  <div class="mt-10">
    <!-- <Contact /> -->
    <ContactResp />
    <div class="relative z-0 -mt-[80px]">
      <!-- <Footer /> -->
      <!-- <FooterResp /> -->
      <!-- <FooterResp2 /> -->
      <FooterResp3 />
    </div>
  </div>
</Layout>
