---
import Header4 from "../components/Header4.astro";
import Layout from "../layouts/Layout.astro";
import ContactResp from "../components/home/animated/ContactResp.astro";
import Accordian from "../components/pricing/Accordian.astro";
import Testimonial3 from "../components/blog/inner/Testimonial3.astro";
import Hero from "../components/pricing/Hero.astro";
import Footer6 from "../components/Footer6.astro";
---

<Layout>
  <Header4 />
  <div class="mb-20 mt-20"></div>
  <Hero />
  <Accordian />
  <Testimonial3 />
  <div class="mt-10">
    <ContactResp />
    <div class="relative z-0 -mt-[80px]">
      <Footer6 />
    </div>
  </div>
</Layout>
