<section
  class="relative bg-[#f5f7fa] pt-16 pb-48 px-4 sm:px-8 lg:px-24 overflow-visible"
>
  <div class="max-w-6xl mx-auto">
    <!-- Top Content -->
    <div class="text-center">
      <h1
        class="text-[32px] sm:text-[40px] lg:text-[52px] font-bold leading-tight text-[#151515] max-w-4xl mx-auto"
      >
        Finance Budgeting Success <br /> Step-by-Step Guide
      </h1>
    </div>

    <!-- Meta Info -->
    <div
      class="mt-6 flex flex-wrap gap-4 text-[#797979] text-sm items-center justify-center"
    >
      <span>by Joanna Wellick</span>
      <div class="h-px w-4 bg-[#797979]"></div>
      <div class="flex items-center gap-2">
        <img
          src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/bkMCifTnbJ.png"
          class="w-5 h-5"
        />
        <span>2 minute read</span>
      </div>
      <div class="h-px w-4 bg-[#797979]"></div>
      <div class="flex items-center gap-2">
        <img
          src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/vqjLoxXE3N.png"
          class="w-4 h-4"
        />
        <img
          src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/JoYusFPr18.png"
          class="w-4 h-4"
        />
        <img
          src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/frwVbD7dgi.png"
          class="w-4 h-4"
        />
        <span>1.2K shares</span>
      </div>
    </div>
  </div>

  <!-- Hero Image -->
  <div
    class="absolute left-1/2 -translate-x-1/2 w-[90%] max-w-6xl z-[30] !mt-4 !mb-10"
  >
    <img
      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/VeAsFPZjT6.png"
      class="rounded-2xl w-full shadow-xl h-[220px] sm:h-auto object-cover"
      alt="Hero image"
    />
  </div>
</section>

<div class="pb-[50px] sm:pb-[290px] sm:block"></div>
