<div
  class="flex w-[1440px] pt-[80px] pr-[120px] pb-[80px] pl-[120px] flex-col gap-[32px] items-start shrink-0 flex-nowrap bg-[#fff] relative z-[260]"
>
  <span
    class="h-[42px] self-stretch shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[42px] text-[#28241f] relative text-center whitespace-nowrap z-[261]"
  >
    Finance Consulting: What You Need to Know
  </span>
  <div
    class="flex w-[1184px] h-[447px] gap-[32px] items-start shrink-0 flex-nowrap relative z-[262]"
  >
    <div
      class="flex w-[576px] h-[316px] flex-col gap-[20px] items-start shrink-0 flex-nowrap relative z-[263]"
    >
      <div
        class="flex w-[576px] pt-[30px] pr-[36px] pb-[30px] pl-[36px] flex-col gap-[16px] items-start shrink-0 flex-nowrap bg-[#fff] rounded-[16px] border-solid border border-[#f5f7fa] relative shadow-[0_1px_4px_0_rgba(237,124,0,0.12)] z-[264]"
      >
        <div
          class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative z-[265]"
        >
          <div
            class="flex w-[400px] gap-[8px] items-center shrink-0 flex-nowrap relative z-[266]"
          >
            <span
              class="flex w-[400px] h-[37px] justify-start items-start shrink-0 font-['Inter'] text-[18px] font-semibold leading-[24.3px] text-[#212121] relative text-left z-[267]"
            >
              How can financial consulting help my business/personal finances?
            </span>
          </div>
          <div
            class="flex w-[30.418px] pt-[5px] pr-[5px] pb-[5px] pl-[5px] gap-[10px] items-center shrink-0 flex-nowrap bg-[#ed7c00] rounded-[8px] relative z-[268]"
          >
            <div
              class="w-[20.418px] h-[20.418px] shrink-0 relative overflow-hidden z-[269]"
            >
              <div
                class="w-[12px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/eKqRguy4MD.png)] bg-[length:100%_100%] bg-no-repeat relative z-[270] mt-[9.902px] mr-0 mb-0 ml-[4.209px]"
              >
              </div>
            </div>
          </div>
        </div>
        <span
          class="flex w-[504px] h-[110px] justify-start items-start shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[271]"
        >
          Financial consulting helps you make smarter money decisions. For
          businesses, it improves cash flow, reduces taxes, and boosts profits.
          For personal finances, it helps with budgeting, investments, and
          long-term planning like saving for a home or retirement.
        </span>
      </div>
      <div
        class="flex w-[576px] h-[92px] pt-[30px] pr-[36px] pb-[30px] pl-[36px] flex-col gap-[16px] items-start shrink-0 flex-nowrap bg-[#fff] rounded-[16px] border-solid border border-[#f5f7fa] relative shadow-[0_1px_4px_0_rgba(237,124,0,0.12)] z-[272]"
      >
        <div
          class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative z-[273]"
        >
          <div
            class="flex w-[400px] gap-[8px] items-center shrink-0 flex-nowrap relative z-[274]"
          >
            <span
              class="flex w-[400px] h-[37px] justify-start items-start shrink-0 font-['Inter'] text-[18px] font-semibold leading-[24.3px] text-[#212121] relative text-left z-[275]"
            >
              What qualifications and certifications do your advisors have?
            </span>
          </div>
          <div
            class="flex w-[30.418px] pt-[5px] pr-[5px] pb-[5px] pl-[5px] gap-[10px] items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[8px] relative z-[276]"
          >
            <div
              class="w-[20.418px] h-[20.418px] shrink-0 relative overflow-hidden z-[277]"
            >
              <div
                class="w-[12px] h-[12px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/wd7hWn2i4i.png)] bg-[length:100%_100%] bg-no-repeat relative z-[278] mt-[3.902px] mr-0 mb-0 ml-[4.209px]"
              >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex w-[576px] h-[92px] pt-[30px] pr-[36px] pb-[30px] pl-[36px] flex-col gap-[16px] items-start shrink-0 flex-nowrap bg-[#fff] rounded-[16px] border-solid border border-[#f5f7fa] relative shadow-[0_1px_4px_0_rgba(237,124,0,0.12)] z-[279]"
      >
        <div
          class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative z-[280]"
        >
          <div
            class="flex w-[400px] gap-[8px] items-center shrink-0 flex-nowrap relative z-[281]"
          >
            <span
              class="flex w-[400px] h-[37px] justify-start items-start shrink-0 font-['Inter'] text-[18px] font-semibold leading-[24.3px] text-[#212121] relative text-left z-[282]"
            >
              What is the process for working with your firm?
            </span>
          </div>
          <div
            class="flex w-[30.418px] pt-[5px] pr-[5px] pb-[5px] pl-[5px] gap-[10px] items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[8px] relative z-[283]"
          >
            <div
              class="w-[20.418px] h-[20.418px] shrink-0 relative overflow-hidden z-[284]"
            >
              <div
                class="w-[12px] h-[12px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/ZOBtQmbLKO.png)] bg-[length:100%_100%] bg-no-repeat relative z-[285] mt-[3.902px] mr-0 mb-0 ml-[4.209px]"
              >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex w-[576px] flex-col gap-[20px] items-start shrink-0 flex-nowrap relative z-[286]"
    >
      <div
        class="flex w-[576px] h-[92px] pt-[30px] pr-[36px] pb-[30px] pl-[36px] flex-col gap-[16px] items-start shrink-0 flex-nowrap bg-[#fff] rounded-[16px] border-solid border border-[#f5f7fa] relative shadow-[0_1px_4px_0_rgba(237,124,0,0.12)] z-[287]"
      >
        <div
          class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative z-[288]"
        >
          <div
            class="flex w-[328px] gap-[8px] items-center shrink-0 flex-nowrap relative z-[289]"
          >
            <span
              class="h-[13px] shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[13px] text-[#212121] relative text-left whitespace-nowrap z-[290]"
            >
              How do you charge for your services?
            </span>
          </div>
          <div
            class="flex w-[30.418px] pt-[5px] pr-[5px] pb-[5px] pl-[5px] gap-[10px] items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[8px] relative z-[291]"
          >
            <div
              class="w-[20.418px] h-[20.418px] shrink-0 relative overflow-hidden z-[292]"
            >
              <div
                class="w-[12px] h-[12px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/ivpLALhyrm.png)] bg-[length:100%_100%] bg-no-repeat relative z-[293] mt-[3.902px] mr-0 mb-0 ml-[4.209px]"
              >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex w-[576px] h-[92px] pt-[30px] pr-[36px] pb-[30px] pl-[36px] flex-col gap-[16px] items-start shrink-0 flex-nowrap bg-[#fff] rounded-[16px] border-solid border border-[#f5f7fa] relative shadow-[0_1px_4px_0_rgba(237,124,0,0.12)] z-[294]"
      >
        <div
          class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative z-[295]"
        >
          <div
            class="flex w-[400px] gap-[8px] items-center shrink-0 flex-nowrap relative z-[296]"
          >
            <span
              class="flex w-[400px] h-[37px] justify-start items-start shrink-0 font-['Inter'] text-[18px] font-semibold leading-[24.3px] text-[#212121] relative text-left z-[297]"
            >
              Can you provide examples of successful client outcomes?
            </span>
          </div>
          <div
            class="flex w-[30.418px] pt-[5px] pr-[5px] pb-[5px] pl-[5px] gap-[10px] items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[8px] relative z-[298]"
          >
            <div
              class="w-[20.418px] h-[20.418px] shrink-0 relative overflow-hidden z-[299]"
            >
              <div
                class="w-[12px] h-[12px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/XKtKbk8smE.png)] bg-[length:100%_100%] bg-no-repeat relative z-[300] mt-[3.902px] mr-0 mb-0 ml-[4.209px]"
              >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex w-[576px] h-[92px] pt-[30px] pr-[36px] pb-[30px] pl-[36px] flex-col gap-[16px] items-start shrink-0 flex-nowrap bg-[#fff] rounded-[16px] border-solid border border-[#f5f7fa] relative shadow-[0_1px_4px_0_rgba(237,124,0,0.12)] z-[301]"
      >
        <div
          class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative z-[302]"
        >
          <div
            class="flex w-[400px] gap-[8px] items-center shrink-0 flex-nowrap relative z-[303]"
          >
            <span
              class="flex w-[400px] h-[37px] justify-start items-start shrink-0 font-['Inter'] text-[18px] font-semibold leading-[24.3px] text-[#212121] relative text-left z-[304]"
            >
              What is your approach to investment planning and management?
            </span>
          </div>
          <div
            class="flex w-[30.418px] pt-[5px] pr-[5px] pb-[5px] pl-[5px] gap-[10px] items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[8px] relative z-[305]"
          >
            <div
              class="w-[20.418px] h-[20.418px] shrink-0 relative overflow-hidden z-[306]"
            >
              <div
                class="w-[12px] h-[12px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/jCkHJCeuxx.png)] bg-[length:100%_100%] bg-no-repeat relative z-[307] mt-[3.902px] mr-0 mb-0 ml-[4.209px]"
              >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
