<div
  class="main-container flex w-full pt-[80px] pr-[120px] pb-[80px] pl-[120px] flex-col gap-[32px] items-center flex-nowrap bg-[#f5f7fa] relative mx-auto my-0"
>
  <div
    class="flex w-[1200px] flex-col gap-[36px] items-center shrink-0 flex-nowrap relative"
  >
    <div class="h-[44px] self-stretch shrink-0 relative z-[1]">
      <span
        class="flex h-[42px] justify-start items-start font-['Inter'] text-[36px] font-bold leading-[42px] text-[#28241f] absolute top-[calc(50%-27.77px)] left-[calc(50%-600px)] text-left whitespace-nowrap z-[2]"
      >
        Finance Insights, Updates and Trends
      </span>
    </div>
  </div>
  <div
    class="flex w-[1200px] justify-between items-start shrink-0 flex-nowrap relative z-[3]"
  >
    <div
      class="w-[383.33px] h-[479.23px] shrink-0 bg-[#fff] rounded-[16px] relative z-[4]"
    >
      <div
        class="flex w-[335px] flex-col gap-[16px] items-start flex-nowrap relative z-[5] mt-[24px] mr-0 mb-0 ml-[24px]"
      >
        <div
          class="h-[257px] self-stretch shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/H8eh0uGzuL.png)] bg-cover bg-no-repeat rounded-[5.002px] relative overflow-hidden z-[6]"
        >
        </div>
        <span
          class="flex w-[335px] h-[50.015px] justify-start items-start self-stretch shrink-0 font-['Wix_Madefor_Display'] text-[18.338857650756836px] font-bold leading-[26.675px] text-[#151515] relative text-left z-[7]"
        >
          Finance Budgeting Success Step-
          <br />
          by-Step Guide
        </span>
        <span
          class="flex w-[335px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[8]"
        >
          Learn how to create a clear, effective budget to manage expenses and
          ...
        </span>
        <div
          class="flex w-[73px] h-[24px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap rounded-[4px] relative z-[9]"
        >
          <div
            class="flex w-[73px] h-[24px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-10"
          >
            <span
              class="h-[22px] shrink-0 basis-auto font-['Inter'] text-[14px] font-semibold leading-[22px] text-[#ed7c00] relative text-left whitespace-nowrap z-[11]"
            >
              Read More
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-[383.33px] h-[479.23px] shrink-0 bg-[#fff] rounded-[16px] relative z-[12]"
    >
      <div
        class="flex w-[335px] flex-col gap-[16px] items-start flex-nowrap relative z-[13] mt-[24px] mr-0 mb-0 ml-[24px]"
      >
        <div
          class="h-[257px] self-stretch shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/t8BCWqtZLR.png)] bg-cover bg-no-repeat rounded-[5.002px] relative overflow-hidden z-[14]"
        >
        </div>
        <span
          class="flex w-[335px] h-[50.015px] justify-start items-start self-stretch shrink-0 font-['Wix_Madefor_Display'] text-[18.338857650756836px] font-bold leading-[26.675px] text-[#151515] relative text-left z-[15]"
        >
          Finance Budgeting Success Step-
          <br />
          by-Step Guide
        </span>
        <span
          class="flex w-[335px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[16]"
        >
          Learn how to create a clear, effective budget to manage expenses and
          ...
        </span>
        <div
          class="flex w-[73px] h-[24px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap rounded-[4px] relative z-[17]"
        >
          <div
            class="flex w-[73px] h-[24px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[18]"
          >
            <span
              class="h-[22px] shrink-0 basis-auto font-['Inter'] text-[14px] font-semibold leading-[22px] text-[#ed7c00] relative text-left whitespace-nowrap z-[19]"
            >
              Read More
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-[383.33px] h-[479.23px] shrink-0 bg-[#fff] rounded-[16px] relative z-20"
    >
      <div
        class="flex w-[335px] flex-col gap-[16px] items-start flex-nowrap relative z-[21] mt-[24px] mr-0 mb-0 ml-[24px]"
      >
        <div
          class="h-[257px] self-stretch shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/SvMCM1Pr3S.png)] bg-cover bg-no-repeat rounded-[5.002px] relative overflow-hidden z-[22]"
        >
        </div>
        <span
          class="flex w-[335px] h-[50.015px] justify-start items-start self-stretch shrink-0 font-['Wix_Madefor_Display'] text-[18.338857650756836px] font-bold leading-[26.675px] text-[#151515] relative text-left z-[23]"
        >
          Finance Budgeting Success Step-
          <br />
          by-Step Guide
        </span>
        <span
          class="flex w-[335px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[24]"
        >
          Learn how to create a clear, effective budget to manage expenses and
          ...
        </span>
        <div
          class="flex w-[73px] h-[24px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap rounded-[4px] relative z-[25]"
        >
          <div
            class="flex w-[73px] h-[24px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[26]"
          >
            <span
              class="h-[22px] shrink-0 basis-auto font-['Inter'] text-[14px] font-semibold leading-[22px] text-[#ed7c00] relative text-left whitespace-nowrap z-[27]"
            >
              Read More
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
