<div
  class="flex w-full pt-[80px] pr-[120px] pb-[80px] pl-[120px] gap-[24px] items-start flex-nowrap bg-[#106253] relative z-[31] mt-0 mr-0 mb-0 ml-0 justify-center"
>
  <div
    class="flex w-[1200px] justify-between items-center shrink-0 flex-nowrap relative z-[32]"
  >
    <div
      class="flex w-[570px] flex-col gap-[32px] items-start shrink-0 flex-nowrap relative z-[33]"
    >
      <span
        class="flex w-[570px] h-[105px] justify-start items-start self-stretch shrink-0 font-inter font-bold text-[36px] font-bold leading-[42px] text-[#fff] relative text-left z-[34]"
      >
        Building Resilient<br class="hidden sm:block" /> Financial Strategies
      </span>
      <div class="w-[534.619px] h-[445.667px] shrink-0 relative z-[35]">
        <div
          class="w-[468.349px] h-[129.227px] relative z-[36] mt-0 mr-0 mb-0 ml-[66.271px]"
        >
          <div
            class="group rounded-[124.257px] border-solid border-[0.83px] border-[#eaeaea] absolute top-0 bottom-0 left-0 right-0 z-[37] transition-transform transform hover:scale-[1.03] hover:shadow-lg hover:z-10"
          >
            <div
              class="w-[341.08px] h-[87.437px] text-[0px] absolute top-[17.396px] left-[96.092px] z-[41]"
            >
              <span
                class="block h-[28px] font-inter text-[24px] font-semibold leading-[28px] text-[#fff] relative text-left whitespace-nowrap z-40 mt-0 mr-0 mb-0 ml-0"
              >
                Strategic Market Insight
              </span>
              <span
                class="flex w-[341px] h-[44px] justify-start items-start font-['Inter'] text-[16px] !pb-4 font-normal leading-[22px] text-[#fff] relative text-left z-[41] mt-[15.437px] mr-0 mb-0 ml-[0.08px]"
              >
                We turn your financial data into actionable insights for better
                decision-making.{" "}
              </span>
            </div>
            <div
              class="w-[50.531px] h-[51.053px] bg-[#ed7c00] rounded-[25.398px] absolute top-[34.833px] left-[25.172px] z-[38]"
            >
              <div
                class="w-[22.366px] h-[22.366px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/o3wBK4j2pv.png)] bg-cover bg-no-repeat relative z-[39] mt-[14.082px] mr-0 mb-0 ml-[14.082px] transition-transform duration-300 group-hover:rotate-[45deg]"
              >
              </div>
            </div>
          </div>
        </div>
        <div
          class="w-[468.349px] h-[129.227px] relative z-[42] mt-[28.994px] mr-0 mb-0 ml-0"
        >
          <div
            class="group rounded-[124.257px] border-solid border-[0.83px] border-[#eaeaea] absolute top-0 bottom-0 left-0 right-0 z-[43] transition-transform transform hover:scale-[1.03] hover:shadow-lg hover:z-10"
          >
            <div
              class="w-[358.351px] h-[87.216px] text-[0px] absolute top-[17.396px] left-[96.092px] z-[47]"
            >
              <span
                class="block h-[28px] font-inter text-[24px] font-semibold leading-[28px] text-[#fff] relative text-left whitespace-nowrap z-[46] mt-0 mr-0 mb-0 ml-0"
              >
                Revenue Acceleration
              </span>
              <span
                class="flex w-[358px] h-[44px] justify-start items-start font-['Inter'] text-[16px] font-normal leading-[22px] text-[#fff] relative text-left z-[47] mt-[15.216px] mr-0 mb-0 ml-[0.35px]"
              >
                From cash flow to pricing, we streamline your finances and
                sustainable business growth.{" "}
              </span>
            </div>
            <div
              class="w-[50.531px] h-[51.053px] bg-[#ed7c00] rounded-[25.398px] absolute top-[34.612px] left-[24.442px] z-[44]"
            >
              <div
                class="w-[22.366px] h-[22.366px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/rFsJfGuGEL.png)] bg-cover bg-no-repeat relative z-[45] mt-[14.082px] mr-0 mb-0 ml-[14.082px] transition-transform duration-300 group-hover:rotate-[45deg]"
              >
              </div>
            </div>
          </div>
        </div>
        <div
          class="w-[468.349px] h-[129.227px] relative z-[48] mt-[28.993px] ml-[66.271px]"
        >
          <div
            class="group rounded-[124.257px] border-solid border-[0.83px] border-[#eaeaea] absolute top-0 bottom-0 left-0 right-0 z-[49] transition-transform transform hover:scale-[1.03] hover:shadow-lg hover:z-10"
          >
            <div
              class="w-[364.08px] h-[86.995px] text-[0px] absolute top-[17.396px] left-[96.092px] z-[53]"
            >
              <span
                class="block h-[28px] font-inter text-[24px] font-semibold leading-[28px] text-[#fff] relative text-left whitespace-nowrap z-[52] mt-0 mr-0 mb-0 ml-0"
              >
                Tailored for Every Platform
              </span>
              <span
                class="flex w-[364px] h-[44px] justify-start items-start font-['Inter'] text-[16px] font-normal leading-[22px] text-[#fff] relative text-left z-[53] mt-[14.995px] mr-0 mb-0 ml-[0.08px]"
              >
                Flexible CPA, payroll, tax, and advisory services for startups
                and growing businesses.
              </span>
            </div>
            <div
              class="w-[50.531px] h-[51.053px] bg-[#ed7c00] rounded-[25.398px] absolute top-[34.391px] left-[25.172px] z-50"
            >
              <div
                class="w-[22.366px] h-[22.366px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/t81ZYCJ4VX.png)] bg-cover bg-no-repeat relative z-[51] mt-[14.082px] mr-0 mb-0 ml-[14.082px] transition-transform duration-300 group-hover:rotate-[45deg]"
              >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-[569px] h-[370.512px] shrink-0 rounded-[11.027px] relative z-[54] group"
    >
      <div
        class="w-[569px] h-[370.512px] rounded-[11.027px] absolute top-0 left-0 z-[55]"
      >
        <!-- Default Image -->
        <img
          src="/img/home/build-img.png"
          alt="Building strong financial foundations for business growth"
          class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-opacity duration-700 ease-in-out opacity-100 group-hover:opacity-0 z-10"
        />
        <!-- Hover Image -->
        <img
          src="/img/home/build-img_2.png"
          alt="Professional accounting team supporting business success"
          class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-opacity duration-700 ease-in-out opacity-0 group-hover:opacity-100 z-20"
        />
        <!-- <div
          class="w-[358.382px] h-[247.008px] bg-[#fff] rounded-[11.027px] absolute top-0 left-[210.618px] overflow-hidden shadow-[4.411px_8.822px_17.643px_0_rgba(142,106,185,0.25)] z-[61]"
        >
          <div
            class="w-[296.63px] h-[220.694px] text-[0px] absolute top-[14.335px] left-[26.465px] z-[77]"
          >
            <span
              class="block h-[33px] font-['Poppins'] text-[22.054262161254883px] font-normal leading-[33px] text-[#abaeb6] relative text-left whitespace-nowrap z-[62] mt-0 mr-0 mb-0 ml-0"
            >
              Sales
            </span>
            <span
              class="block h-[30px] font-poppins text-[19.84883689880371px] font-bold leading-[29.773px] text-[#ed7c00] relative text-left whitespace-nowrap z-[74] mt-[-7.638px] mr-0 mb-0 ml-0"
            >
              5248
            </span>
            <div
              class="w-[261.343px] h-[20px] relative z-[63] mt-[145.332px] mr-0 mb-0 ml-[22.055px]"
            >
              <span
                class="flex h-[20px] justify-start items-center font-['Poppins'] text-[13.232558250427246px] font-normal leading-[19.849px] text-[#abaeb6] absolute top-0 left-0 text-left whitespace-nowrap z-[64]"
              >
                M
              </span>
              <span
                class="flex h-[20px] justify-start items-center font-['Poppins'] text-[13.232558250427246px] font-normal leading-[19.849px] text-[#abaeb6] absolute top-0 left-[46.824px] text-left whitespace-nowrap z-[65]"
              >
                T
              </span>
              <span
                class="flex h-[20px] justify-start items-center font-['Poppins'] text-[13.232558250427246px] font-normal leading-[19.849px] text-[#abaeb6] absolute top-0 left-[84.937px] text-left whitespace-nowrap z-[66]"
              >
                W
              </span>
              <span
                class="flex h-[20px] justify-start items-center font-['Poppins'] text-[13.232558250427246px] font-normal leading-[19.849px] text-[#abaeb6] absolute top-0 left-[131.761px] text-left whitespace-nowrap z-[67]"
              >
                T
              </span>
              <span
                class="flex h-[20px] justify-start items-center font-['Poppins'] text-[13.232558250427246px] font-normal leading-[19.849px] text-[#abaeb6] absolute top-0 left-[169.873px] text-left whitespace-nowrap z-[68]"
              >
                F
              </span>
              <span
                class="flex h-[20px] justify-start items-center font-['Poppins'] text-[13.232558250427246px] font-normal leading-[19.849px] text-[#abaeb6] absolute top-0 left-[207.985px] text-left whitespace-nowrap z-[69]"
              >
                S
              </span>
              <span
                class="flex h-[20px] justify-start items-center font-['Poppins'] text-[13.232558250427246px] font-normal leading-[19.849px] text-[#abaeb6] absolute top-0 left-[246.098px] text-left whitespace-nowrap z-[70]"
              >
                S
              </span>
            </div>
            <div
              class="w-[79.395px] h-[39.698px] text-[0px] absolute top-[56.239px] left-[165.407px] z-[77]"
            >
              <span
                class="block h-[9px] font-poppins text-[8.821704864501953px] font-normal leading-[8.822px] text-[#abaeb6] relative text-left whitespace-nowrap z-[79] mt-[3.308px] mr-0 mb-0 ml-[25.362px]"
              >
                Jan 18
              </span>
              <div
                class="w-[69px] h-[14px] font-['Poppins'] text-[13.232558250427246px] font-medium leading-[13.233px] relative text-left whitespace-nowrap z-[80] mt-[2.027px] mr-0 mb-0 ml-[4.411px]"
              >
                <span
                  class="font-poppins text-[11.027131080627441px] font-normal leading-[13.233px] text-[#2d55b4] relative text-left"
                >
                  Sales:
                </span>
                <span
                  class="font-['Poppins'] text-[13.232558250427246px] font-medium leading-[13.233px] text-[#ed7c00] relative text-left"
                >
                  {" "}
                </span>
                <span
                  class="font-poppins text-[13.232558250427246px] font-normal leading-[13.233px] text-[#ed7c00] relative text-left"
                >
                  5200
                </span>
              </div>
              <div
                class="w-[79.395px] h-[39.698px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/goXuOFBZ8G.png)] bg-cover bg-no-repeat absolute top-0 left-0 z-[78]"
              >
              </div>
            </div>
            <div
              class="w-[287.808px] h-[132.326px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/qy73bTSMPi.png)] bg-cover bg-no-repeat absolute top-[67.266px] left-[8.822px] z-[73]"
            >
            </div>
            <div
              class="w-[260.792px] h-[89.329px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/WroYAcUej9.png)] bg-cover bg-no-repeat absolute top-[76.629px] left-[22.055px] z-[75]"
            >
            </div>
            <div
              class="w-[4.411px] h-[4.411px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/Fd0yvocOik.png)] bg-cover bg-no-repeat rounded-[50%] absolute top-[98.143px] left-[202.899px] box-content z-[76]"
            >
            </div>
          </div>
          <div
            class="w-[26.465px] h-[26.465px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/cZBXybNJei.png)] bg-cover bg-no-repeat absolute top-[17.644px] left-[305.451px] overflow-hidden z-[72]"
          >
          </div>
          <div
            class="w-[14px] h-[114.038px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/jTYWmT8CFv.png)] bg-cover bg-no-repeat absolute top-[88.218px] left-[19.849px] z-[71]"
          >
          </div>
        </div>
        <div
          class="w-[358.382px] h-[247.008px] bg-[#fff] rounded-[11.027px] absolute top-[123.504px] left-0 overflow-hidden z-[56]"
        >
          <div
            class="w-[305.451px] h-[215.03px] text-[0px] absolute top-[14.335px] left-[26.465px] z-[60]"
          >
            <span
              class="block h-[33px] font-poppins text-[22.054262161254883px] font-medium leading-[33px] text-[#abaeb6] relative text-left whitespace-nowrap z-[57] mt-0 mr-0 mb-0 ml-0"
            >
              Expenses
            </span>
            <span
              class="block h-[30px] font-poppins text-[19.84883689880371px] font-bold leading-[29.773px] text-[#37383b] relative text-left whitespace-nowrap z-[60] mt-[-7.638px] mr-0 mb-0 ml-0"
            >
              $4200.30
            </span>
            <div
              class="w-[305.451px] h-[142.251px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/npJy7aSOqj.png)] bg-cover bg-no-repeat rounded-[11.027px] relative z-[59] mt-[17.417px] mr-0 mb-0 ml-0"
            >
            </div>
          </div>
          <div
            class="w-[26.465px] h-[26.465px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/m6ePcNwaZ8.png)] bg-cover bg-no-repeat absolute top-[25.362px] left-[305.451px] overflow-hidden z-[58]"
          >
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
