<div
  class="main-container w-full min-h-[622px] z-[50] relative mx-auto my-0 px-4 py-10 lg:py-0"
>
  <div
    class="max-w-[1320px] mx-auto h-auto lg:h-[622px] bg-[#106253] rounded-[30px] relative flex flex-col lg:flex-row items-center justify-between px-4 lg:px-0 pb-20"
  >
    <div class="lg:pb-20">
      <!-- Form Section -->
      <div
        class="w-full lg:w-[470px] lg:h-[462px] flex flex-col gap-[32px] items-start mt-10 lg:mt-[80px] lg:ml-[60px] z-2"
      >
        <div class="flex flex-col gap-[12px] items-start">
          <span class="text-[36px] font-bold leading-[42px] text-[#fff]"
            >Get in Touch</span
          >
          <span class="text-[16px] font-medium leading-[22px] text-[#fff]"
            >We are here for you! How can we help?</span
          >
        </div>
        <form class="w-full flex flex-col gap-[24px]">
          <!-- Name -->
          <div class="relative w-full">
            <label for="name" class="text-white text-[16px]">Name</label>
            <input
              type="text"
              id="name"
              name="name"
              class="w-full bg-[#106253] border-b border-white text-white mt-1 py-2 px-2 outline-none"
              placeholder="Enter your name"
            />
          </div>
          <!-- Email -->
          <div class="relative w-full">
            <label for="email" class="text-white text-[16px]">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="w-full bg-[#106253] border-b border-white text-white mt-1 py-2 px-2 outline-none"
              placeholder="Enter your email"
            />
          </div>
          <!-- Message -->
          <div class="relative w-full">
            <label for="message" class="text-white text-[16px]">Message</label>
            <textarea
              id="message"
              name="message"
              rows="4"
              class="w-full bg-[#106253] border-b border-white text-white mt-1 py-2 px-2 outline-none"
              placeholder="Your message here..."></textarea>
          </div>
          <!-- Submit Button -->
          <button
            type="submit"
            class="bg-[#ed7c00] text-white font-semibold text-[18px] rounded-[8px] py-[12px] px-[30px] self-start w-full hover:bg-opacity-90 hover:cursor-pointer transition mb-6 md:mb-0"
          >
            Submit
          </button>
        </form>
      </div>

      <!-- Right Side Box -->
      <div
        class="w-full lg:w-[660px] bg-white rounded-tr-[30px] rounded-br-[30px] p-[24px] lg:absolute lg:top-[24px] lg:left-[636px] lg:h-[574px] z-20 flex flex-col justify-start"
      >
        <p class="text-[#797979] text-[16px] leading-[20px] mb-6"></p>
        <div
          class="w-full h-[200px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/dtf0PMDgco.png)] bg-cover bg-no-repeat rounded-[10px] mb-6"
        >
        </div>
        <div class="flex flex-col gap-6">
          <div
            class="flex gap-[12px] items-start w-full flex-nowrap relative z-[26] pr-4"
          >
            <div
              class="min-w-[20px] w-[20px] h-[24px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/a3ZruQ1T9R.png)] bg-cover bg-no-repeat relative z-[27]"
            >
            </div>
            <span
              class="text-[16px] text-[#797979] font-['Inter'] leading-[22px] w-full"
            >
              132, Tic St, Kingston, New York 12401 <br />United States of
              America
            </span>
          </div>

          <div class="flex gap-4 items-center">
            <div
              class="w-[22px] h-[22px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/RjMPdasAGf.png)] bg-no-repeat bg-cover"
            >
            </div>
            <span class="text-[#797979] text-[16px]">+ 123 456 789</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
