<div class="main-container w-full h-[622px] relative mx-auto my-0">
  <div
    class="w-[1320px] h-[622px] bg-[#106253] rounded-[30px] absolute top-0 left-1/2 translate-x-[-50%] translate-y-0 z-[1]"
  >
    <div
      class="w-[660px] h-[574px] text-[0px] bg-[#fff] rounded-tl-none rounded-tr-[30px] rounded-br-[30px] rounded-bl-none absolute top-[24px] left-[636px] z-20"
    >
      <span
        class="flex w-[416px] h-[57px] justify-start items-start font-['Inter'] text-[16px] font-normal leading-[19.364px] text-[#797979] relative text-left z-[22] mt-[90px] mr-0 mb-0 ml-[55px]"
      >
        Borem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate
        libero et velit interdum, ac aliquet odio mattis.
      </span>
      <div
        class="w-[551px] h-[206px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/dtf0PMDgco.png)] bg-cover bg-no-repeat rounded-[10px] relative z-[24] mt-[24px] mr-0 mb-0 ml-[55px]"
      >
      </div>
      <div
        class="flex w-[514px] flex-col gap-[24px] items-start flex-nowrap relative z-[25] mt-[24px] mr-0 mb-0 ml-[55px]"
      >
        <div
          class="flex gap-[17px] items-start self-stretch shrink-0 flex-nowrap relative z-[26]"
        >
          <div
            class="w-[20px] h-[24px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/a3ZruQ1T9R.png)] bg-cover bg-no-repeat relative z-[27]"
          >
          </div>
          <span
            class="flex w-[296px] h-[38px] justify-start items-start shrink-0 font-['Inter'] text-[16px] font-normal leading-[19.364px] text-[#797979] relative text-left z-[28]"
          >
            132, Tic St, Kingston, New York 12401 United States of America
          </span>
        </div>
        <div
          class="flex w-[149px] gap-[16px] items-center shrink-0 flex-nowrap relative z-[29]"
        >
          <div
            class="w-[22px] h-[22px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/RjMPdasAGf.png)] bg-cover bg-no-repeat relative z-30"
          >
          </div>
          <span
            class="h-[19px] shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[19px] text-[#797979] relative text-left whitespace-nowrap z-[31]"
          >
            + 123 456 789
          </span>
        </div>
      </div>
    </div>
    <div
      class="flex w-[470px] h-[462px] flex-col gap-[32px] items-start flex-nowrap absolute top-[80px] left-[60px] z-[2]"
    >
      <div
        class="flex w-[335px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative z-[3]"
      >
        <span
          class="h-[42px] shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[42px] text-[#fff] relative text-left whitespace-nowrap z-[4]"
        >
          Get in Touch
        </span>
        <span
          class="flex w-[335px] h-[22px] justify-start items-start shrink-0 basis-auto font-['Inter'] text-[16px] font-medium leading-[22px] text-[#fff] relative text-left whitespace-nowrap z-[5]"
        >
          We are here for you! How can we help?
        </span>
      </div>
      <div class="h-[44px] self-stretch shrink-0 relative z-[6]">
        <div
          class="w-full h-[77.27%] bg-[#106253] border-solid border-t border-t-[#fff] absolute top-[22.73%] left-0 z-[7]"
        >
        </div>
        <div class="w-[49px] h-[16px] absolute top-[19px] left-[8px] z-[8]">
          <span
            class="flex h-[118.75%] justify-start items-start font-['Inter'] text-[16px] font-normal leading-[19px] text-[#fff] absolute top-[-25%] left-0 text-left whitespace-nowrap z-[9]"
          >
            Name
          </span>
        </div>
      </div>
      <div class="h-[44px] self-stretch shrink-0 relative z-10">
        <div
          class="w-full h-[77.27%] bg-[#106253] border-solid border-t border-t-[#fff] absolute top-[22.73%] left-0 z-[11]"
        >
        </div>
        <div class="w-[44px] h-[12px] absolute top-[21px] left-[8px] z-[12]">
          <span
            class="flex h-[158.33%] justify-start items-start font-['Inter'] text-[16px] font-normal leading-[19px] text-[#fff] absolute top-[-50%] left-0 text-left whitespace-nowrap z-[13]"
          >
            Email
          </span>
        </div>
      </div>
      <div class="h-[120px] self-stretch shrink-0 relative z-[14]">
        <div
          class="w-full h-[93.96%] bg-[#106253] border-solid border-t border-t-[#fff] absolute top-[7.1%] left-0 z-[15]"
        >
        </div>
        <span
          class="flex h-[15.83%] justify-start items-start font-['Inter'] text-[16px] font-normal leading-[19px] text-[#fff] absolute top-[12%] left-[1.86%] text-left whitespace-nowrap z-[16]"
        >
          Message
        </span>
      </div>
      <div
        class="flex h-[50px] pt-0 pr-[15px] pb-0 pl-[15px] flex-col gap-[8px] justify-center items-center self-stretch shrink-0 flex-nowrap bg-[#ed7c00] rounded-[8px] relative z-[17]"
      >
        <div
          class="flex w-[62px] h-[40px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[18]"
        >
          <span
            class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#fff] relative text-left whitespace-nowrap z-[19]"
          >
            Submit
          </span>
        </div>
      </div>
    </div>
  </div>
  <div
    class="w-[1440px] h-[100px] bg-[#007164] absolute top-[492px] left-1/2 translate-x-[-50%] translate-y-0"
  >
  </div>
</div>
