<div class="main-container w-full min-h-[544px] relative mx-auto my-0">
  <div
    class="w-full h-[570px] bg-[#213d3c] absolute top-0 left-0 overflow-hidden"
  >
    <div
      class="flex w-[1440px] h-[870.759px] flex-col items-start flex-nowrap absolute top-1/2 left-0 translate-x-0 translate-y-[-49.96%] z-10"
    >
      <div
        class="w-[1440px] h-[818.759px] shrink-0 opacity-[0.08] relative z-[11]"
      >
        <div
          class="w-[1835.026px] h-[654.623px] relative z-[12] mt-[327.142px] mr-0 mb-0 ml-[-180.691px]"
        >
          <div class="w-[94.21%] h-[26.66%] absolute top-0 left-0 z-[13]">
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/nT4KkmgsiZ.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[14]"
            >
            </div>
          </div>
          <div
            class="w-[94.93%] h-[25.01%] absolute top-[3.13%] left-[0.03%] z-[15]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/9u1nihC9uf.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[16]"
            >
            </div>
          </div>
          <div
            class="w-[94.76%] h-[24.65%] absolute top-[4.98%] left-[0.06%] z-[17]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/QiVNDRzVaQ.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[18]"
            >
            </div>
          </div>
          <div
            class="w-[95.33%] h-[24.33%] absolute top-[6.82%] left-[0.1%] z-[19]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/Tm7Ma3SgXc.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-20"
            >
            </div>
          </div>
          <div
            class="w-[95.81%] h-[24.07%] absolute top-[8.67%] left-[0.13%] z-[21]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/4RxhJi9Wpu.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[22]"
            >
            </div>
          </div>
          <div
            class="w-[96.18%] h-[23.87%] absolute top-[10.51%] left-[0.16%] z-[23]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/scePXywA1v.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[24]"
            >
            </div>
          </div>
          <div
            class="w-[96.41%] h-[23.76%] absolute top-[12.35%] left-[0.19%] z-[25]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/N3emeUUuDx.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[26]"
            >
            </div>
          </div>
          <div
            class="w-[96.49%] h-[23.79%] absolute top-[14.2%] left-[0.22%] z-[27]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/AN50hEjkv3.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[28]"
            >
            </div>
          </div>
          <div
            class="w-[97.46%] h-[24.01%] absolute top-[16.04%] left-[0.26%] z-[29]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/GdQdNFifpy.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-30"
            >
            </div>
          </div>
          <div
            class="w-[97.28%] h-[25.12%] absolute top-[17.88%] left-[0.29%] z-[31]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/unxX0ukURi.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[32]"
            >
            </div>
          </div>
          <div
            class="w-[97.9%] h-[26.53%] absolute top-[19.73%] left-[0.32%] z-[33]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/ZR6hPHUAiR.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[34]"
            >
            </div>
          </div>
          <div
            class="w-[98.37%] h-[28.15%] absolute top-[21.57%] left-[0.35%] z-[35]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/rQxG44dnjr.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[36]"
            >
            </div>
          </div>
          <div
            class="w-[98.72%] h-[29.86%] absolute top-[23.42%] left-[0.38%] z-[37]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/mQXC8TNMXQ.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[38]"
            >
            </div>
          </div>
          <div
            class="w-[99.02%] h-[31.53%] absolute top-[25.26%] left-[0.42%] z-[39]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/wdc9Ut3MU6.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-40"
            >
            </div>
          </div>
          <div
            class="w-[99.28%] h-[33.25%] absolute top-[27.11%] left-[0.45%] z-[41]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/Swg8HvG0XC.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[42]"
            >
            </div>
          </div>
          <div
            class="w-[99.52%] h-[34.97%] absolute top-[28.95%] left-[0.48%] z-[43]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/PrDgQkVGeq.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[44]"
            >
            </div>
          </div>
          <div
            class="w-[98.12%] h-[35.19%] absolute top-[31.01%] left-[1.63%] z-[45]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/1xgJ0eYtLe.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[46]"
            >
            </div>
          </div>
          <div
            class="w-[97.76%] h-[35.96%] absolute top-[31.72%] left-[1.39%] z-[47]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/hUc6M66jjL.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[48]"
            >
            </div>
          </div>
          <div
            class="w-[97.08%] h-[36.99%] absolute top-[32.72%] left-[1.46%] z-[49]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/OjGGuSaC9w.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-50"
            >
            </div>
          </div>
          <div
            class="w-[96.18%] h-[37.85%] absolute top-[33.96%] left-[1.76%] z-[51]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/TpPyvNxmkz.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[52]"
            >
            </div>
          </div>
          <div
            class="w-[95.12%] h-[38.55%] absolute top-[35.41%] left-[2.22%] z-[53]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/gA0VZcoCiN.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[54]"
            >
            </div>
          </div>
          <div
            class="w-[93.94%] h-[39.07%] absolute top-[37.08%] left-[2.8%] z-[55]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/TJArBXEZDf.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[56]"
            >
            </div>
          </div>
          <div
            class="w-[93.54%] h-[40.81%] absolute top-[37.57%] left-[2.59%] z-[57]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/XCyPdKZ0bM.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[58]"
            >
            </div>
          </div>
          <div
            class="w-[92.15%] h-[40.93%] absolute top-[39.7%] left-[3.38%] z-[59]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/n3n1c6nQMB.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[60]"
            >
            </div>
          </div>
          <div
            class="w-[91.54%] h-[42.44%] absolute top-[40.46%] left-[3.39%] z-[61]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/6haqbtjrbY.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[62]"
            >
            </div>
          </div>
          <div
            class="w-[90.83%] h-[43.86%] absolute top-[41.31%] left-[3.49%] z-[63]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/tAD9xbZ53N.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[64]"
            >
            </div>
          </div>
          <div
            class="w-[89.29%] h-[43.08%] absolute top-[44.38%] left-[4.43%] z-[65]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/ZAU4a9TOBg.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[66]"
            >
            </div>
          </div>
          <div
            class="w-[88.16%] h-[48.51%] absolute top-[45%] left-[4.36%] z-[69]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/0WJZqrTBV2.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[70]"
            >
            </div>
          </div>
          <div
            class="w-[88.46%] h-[44.56%] absolute top-[45.76%] left-[4.66%] z-[67]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/fMQvmbtqkw.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[68]"
            >
            </div>
          </div>
          <div
            class="w-[87.16%] h-[49.91%] absolute top-[46.83%] left-[4.75%] z-[71]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/yYGa7oj23a.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[72]"
            >
            </div>
          </div>
          <div
            class="w-[86.17%] h-[50.92%] absolute top-[49.08%] left-[5.14%] z-[73]"
          >
            <div
              class="w-full h-full bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/G5XiK0emOh.png)] bg-[length:100%_100%] bg-no-repeat absolute top-0 left-0 z-[74]"
            >
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex pt-[16px] pr-[110px] pb-[16px] pl-[110px] justify-between items-end self-stretch shrink-0 flex-nowrap bg-[#fff] border-solid border-b border-b-[#eaecf0] relative z-[75]"
      >
        <div
          class="w-[270px] shrink-0 font-['Inter'] text-[14px] font-normal leading-[20px] relative text-left whitespace-nowrap z-[76]"
        >
          <span
            class="font-['Inter'] text-[14px] font-normal leading-[20px] text-[#5c667a] relative text-left"
          >
            ©2024 -
          </span>
          <span
            class="font-['Inter'] text-[14px] font-medium leading-[20px] text-[#1d2939] relative text-left"
          >
            my-cpe.com
          </span>
          <span
            class="font-['Inter'] text-[14px] font-normal leading-[20px] text-[#5c667a] relative text-left"
          >
          </span>
          <span
            class="font-['Inter'] text-[14px] font-normal leading-[20px] text-[#5c667a] relative text-left"
          >
            All rights reserved
          </span>
        </div>
        <div
          class="flex w-[172px] gap-[8px] items-center shrink-0 flex-nowrap relative z-[77]"
        >
          <div
            class="w-[16px] h-[16px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/73L1BBiN4A.png)] bg-cover bg-no-repeat relative overflow-hidden z-[78]"
          >
          </div>
          <span
            class="h-[20px] shrink-0 basis-auto font-['Inter'] text-[14px] font-normal leading-[20px] text-[#5c667a] relative text-left whitespace-nowrap z-[79]"
          >
            support@my-cpe.com
          </span>
        </div>
      </div>
    </div>
    <div
      class="absolute z-[1] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-2/3 w-full px-6 lg:w-[744px] lg:left-[141px] lg:translate-x-0 lg:px-0"
    >
      <div class="flex flex-col gap-3 items-start w-full z-[2]">
        <!-- Heading -->
        <div
          class="text-white font-bold text-[28px] sm:text-[36px] md:text-[44px] lg:text-[52px] leading-tight tracking-[-0.5px] lg:tracking-[-1.04px] z-[3]"
        >
          Smarter <span class="text-[#ed7c00]">Accounting</span>.<br />
          Stronger <span class="text-[#ed7c00]">Businesses.</span>
        </div>

        <!-- Paragraph -->
        <p
          class="text-white text-sm sm:text-base md:text-lg leading-[1.6] max-w-[90%] lg:max-w-[546px] z-[4]"
        >
          Expert U.S. based bookkeeping, payroll, and tax solutions tailored for
          small businesses and startups - all at competitive prices.
        </p>
      </div>

      <!-- CTA Button -->
      <div class="mt-6 z-[5]">
        <button
          class="flex items-center gap-2 bg-[#ed7c00] text-white text-sm font-semibold px-6 py-2 rounded-full shadow-md z-[6]"
        >
          Book your Consultation
          <div
            class="w-5 h-5 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/y4WtPHU6Vh.png)] bg-cover bg-no-repeat"
          >
          </div>
        </button>
      </div>
    </div>

    <!-- <div
      class="w-[599.542px] h-[390.572px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/fWZXWuW79M.png)] bg-cover bg-no-repeat absolute top-[82px] left-[800px] z-[9]"
    >
    </div> -->
  </div>
  <div
    class="w-[599.542px] h-[390.572px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/fWZXWuW79M.png)] bg-cover bg-no-repeat absolute top-[82px] left-[900px] z-[9] hidden md:block mb-5"
  >
  </div>
  <!-- <div
    class="flex w-[1314.545px] h-[163px] pt-[40px] pr-[40px] pb-[40px] pl-[40px] flex-col gap-[36px] items-start flex-nowrap bg-[#fff] absolute top-[448px] left-1/2 translate-x-[-51.03%] translate-y-0 overflow-hidden shadow-[0_4px_4px_0_rgba(0,0,0,0.25)] z-[80] mt-10"
  >
    <span
      class="h-[23px] self-stretch shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[23px] text-[#51506e] relative text-center whitespace-nowrap z-[81]"
    >
      Trusted by 850+ Accounting Firms
    </span>
    <div
      class="flex w-[1234.545px] h-[24px] gap-[66px] items-end shrink-0 flex-nowrap relative overflow-hidden z-[82]"
    >
      <div
        class="w-[127.659px] h-[24px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/KkCHEb9kWG.png)] bg-cover bg-no-repeat relative overflow-hidden z-[83]"
      >
      </div>
      <div
        class="w-[134.831px] h-[24px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/8gnRNwvbbo.png)] bg-cover bg-no-repeat relative overflow-hidden z-[84]"
      >
      </div>
      <div
        class="w-[91.603px] h-[24px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/esSFsO4xY3.png)] bg-cover bg-no-repeat relative overflow-hidden z-[85]"
      >
      </div>
      <div
        class="w-[45.113px] h-[24px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/NMAB88jbQV.png)] bg-cover bg-no-repeat relative overflow-hidden z-[86]"
      >
      </div>
      <div
        class="w-[76.923px] h-[24px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/AqXsuXTuir.png)] bg-cover bg-no-repeat relative overflow-hidden z-[87]"
      >
      </div>
      <div
        class="w-[88.889px] h-[24px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/y8fiJBKrt3.png)] bg-cover bg-no-repeat relative overflow-hidden z-[88]"
      >
      </div>
      <div
        class="w-[164.384px] h-[24px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/SGdvqa92BL.png)] bg-cover bg-no-repeat relative overflow-hidden z-[89]"
      >
      </div>
      <div
        class="w-[96px] h-[24px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/wmpt4ReKVY.png)] bg-cover bg-no-repeat relative overflow-hidden z-[90]"
      >
      </div>
      <div
        class="w-[200px] h-[24px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/aDGaHRu7Hm.png)] bg-cover bg-no-repeat relative overflow-hidden z-[91]"
      >
      </div>
      <div
        class="w-[96px] h-[24px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/TSp8XrMAUR.png)] bg-cover bg-no-repeat relative overflow-hidden z-[92]"
      >
      </div>
      <div
        class="w-[123.711px] h-[24px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/aB4JxYU5e1.png)] bg-cover bg-no-repeat relative overflow-hidden z-[93]"
      >
      </div>
    </div>
  </div> -->
  <div
    class="flex w-[1314.545px] h-[163px] pt-[40px] pr-[40px] pb-[40px] pl-[40px] flex-col gap-[36px] items-start flex-nowrap bg-[#fff] absolute top-[448px] left-1/2 translate-x-[-51.03%] translate-y-0 overflow-hidden shadow-[0_4px_4px_0_rgba(0,0,0,0.25)] z-[80] mt-10"
  >
    <span
      class="h-[23px] self-stretch shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[23px] text-[#51506e] relative text-center whitespace-nowrap z-[81]"
    >
      Trusted by 850+ Accounting Firms
    </span>

    <!-- Scrolling container -->
    <div class="relative w-full overflow-hidden z-[82]">
      <div
        id="logoSlider"
        class="flex gap-[66px] items-center w-max animate-scroll-logos"
      >
        <!-- Logos (repeat for smoother loop) -->
        <div
          class="w-[127.659px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/KkCHEb9kWG.png')] bg-contain bg-no-repeat"
        >
        </div>
        <div
          class="w-[134.831px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/8gnRNwvbbo.png')] bg-contain bg-no-repeat"
        >
        </div>
        <div
          class="w-[91.603px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/esSFsO4xY3.png')] bg-contain bg-no-repeat"
        >
        </div>
        <div
          class="w-[45.113px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/NMAB88jbQV.png')] bg-contain bg-no-repeat"
        >
        </div>
        <div
          class="w-[76.923px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/AqXsuXTuir.png')] bg-contain bg-no-repeat"
        >
        </div>
        <div
          class="w-[88.889px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/y8fiJBKrt3.png')] bg-contain bg-no-repeat"
        >
        </div>
        <div
          class="w-[164.384px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/SGdvqa92BL.png')] bg-contain bg-no-repeat"
        >
        </div>
        <div
          class="w-[96px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/wmpt4ReKVY.png')] bg-contain bg-no-repeat"
        >
        </div>
        <div
          class="w-[200px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/aDGaHRu7Hm.png')] bg-contain bg-no-repeat"
        >
        </div>
        <div
          class="w-[96px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/TSp8XrMAUR.png')] bg-contain bg-no-repeat"
        >
        </div>
        <div
          class="w-[123.711px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/aB4JxYU5e1.png')] bg-contain bg-no-repeat"
        >
        </div>

        <!-- duplicate logos to loop smoothly -->
        <div
          class="w-[127.659px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/KkCHEb9kWG.png')] bg-contain bg-no-repeat"
        >
        </div>
        <div
          class="w-[134.831px] h-[24px] shrink-0 bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/8gnRNwvbbo.png')] bg-contain bg-no-repeat"
        >
        </div>
        <!-- ... duplicate more if needed -->
      </div>
    </div>
  </div>
</div>

<style>
  @keyframes scroll-logos {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll-logos {
    animation: scroll-logos 30s linear infinite;
  }
</style>
