<div
  class="flex w-full pt-[80px] pr-[120px] pb-[80px] pl-[120px] flex-col gap-[24px] items-center flex-nowrap bg-[#f5f7fa] relative mt-0 mr-0 mb-0 ml-0"
>
  <div
    class="flex w-[1200px] flex-col gap-[32px] items-start shrink-0 flex-nowrap relative"
  >
    <span
      class="h-[42px] shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[42px] text-[#28241f] relative self-start whitespace-nowrap"
    >
      How It Works
    </span>
    <div
      class="flex w-[987px] justify-between items-center shrink-0 flex-nowrap relative"
    >
      <div
        class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#f5f7fa] text-[#ed7c00] hover:bg-[#ed7c00] hover:text-[#f5f7fa] rounded-[25px] cursor-pointer border-solid border border-[#ed7c00] relative"
      >
        <span
          class="h-[28px] self-stretch shrink-0 basis-auto font-inter text-[24px] font-semibold leading-[28px] relative text-center whitespace-nowrap"
        >
          1
        </span>
      </div>
      <div
        class="w-[208px] h-px shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/p0Y6n2e5S2.png)] bg-cover bg-no-repeat relative"
      >
      </div>
      <div
        class="flex w-[50px] h-[50px] justify-center items-center shrink-0 bg-[#f5f7fa] text-[#ed7c00] hover:bg-[#ed7c00] hover:text-[#f5f7fa] rounded-full cursor-pointer border border-[#ed7c00]"
      >
        <span
          class="font-inter text-[24px] font-semibold leading-none text-center"
        >
          2
        </span>
      </div>

      <div
        class="w-[208px] h-px shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/7JS9fieUBr.png)] bg-cover bg-no-repeat relative"
      >
      </div>
      <div
        class="flex w-[50px] h-[50px] justify-center items-center shrink-0 bg-[#f5f7fa] text-[#ed7c00] hover:bg-[#ed7c00] hover:text-[#f5f7fa] rounded-full cursor-pointer border border-[#ed7c00]"
      >
        <span
          class="font-inter text-[24px] font-semibold leading-none text-center"
        >
          3
        </span>
      </div>

      <div
        class="w-[208px] h-px shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/kKLpbAtrCH.png)] bg-cover bg-no-repeat relative"
      >
      </div>
      <div
        class="flex w-[50px] h-[50px] justify-center items-center shrink-0 bg-[#f5f7fa] text-[#ed7c00] hover:bg-[#ed7c00] hover:text-[#f5f7fa] rounded-full cursor-pointer border border-[#ed7c00]"
      >
        <span
          class="font-inter text-[24px] font-semibold leading-none text-center"
        >
          4
        </span>
      </div>
    </div>
    <div
      class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative"
    >
      <div
        class="flex w-[255px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative"
      >
        <span
          class="flex w-[255px] h-[56px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left"
        >
          Schedule a Consultation
        </span>
        <span
          class="flex w-[255px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left"
        >
          Talk to us about your business goals and challenges, no strings
          attached.
        </span>
      </div>
      <div
        class="flex w-[255px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative"
      >
        <span
          class="flex w-[225px] h-[56px] justify-start items-start shrink-0 font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left"
        >
          Customized Proposal
        </span>
        <span
          class="flex w-[255px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left"
        >
          Receive a transparent quote based on your business size and
          complexity.
        </span>
      </div>
      <div
        class="flex w-[255px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative"
      >
        <span
          class="flex w-[255px] h-[56px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left"
        >
          Onboarding & Data Setup
        </span>
        <span
          class="flex w-[225px] h-[66px] justify-start items-start shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left"
        >
          Share your docs. We set up your systems and ensure nothing gets
          missed.
        </span>
      </div>
      <div
        class="flex w-[255px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative"
      >
        <span
          class="flex w-[225px] h-[56px] justify-start items-start shrink-0 font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left"
        >
          Monthly Support & Monitoring{" "}
        </span>
        <span
          class="flex w-[255px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left"
        >
          Get consistent bookkeeping, payroll, and tax support plus insights to
          stay ahead.
        </span>
      </div>
    </div>
  </div>
</div>
