<div
  class="main-container flex w-[1440px] h-[4364px] flex-col items-center flex-nowrap relative mx-auto my-0"
>
  <div
    class="flex w-[1440px] pt-[80px] pr-[120px] pb-[80px] pl-[120px] gap-[24px] justify-center items-start shrink-0 flex-nowrap relative"
  >
    <div
      class="flex gap-[48px] items-center grow shrink-0 basis-0 flex-nowrap relative z-[1]"
    >
      <div
        class="flex flex-col gap-[32px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[2]"
      >
        <div
          class="flex flex-col gap-[12px] items-start self-stretch shrink-0 flex-nowrap relative z-[3]"
        >
          <span
            class="flex w-[576px] h-[84px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[36px] font-bold leading-[42px] text-[#04092a] relative text-left z-[4]"
          >
            Your Accounting Partner, Built for SMBs
          </span>
          <span
            class="flex w-[576px] h-[135px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[18px] font-normal leading-[27px] text-[#5c667a] relative text-left z-[5]"
          >
            FinnKeepers is an accounting services brand under Knowcraft
            Analytics, delivering tech-enabled bookkeeping, payroll, and
            financial reporting support to growth-focused U.S. businesses. With
            deep expertise in cloud accounting, we act as your extended finance
            team, efficient, affordable, and always audit-ready.
          </span>
        </div>
        <div
          class="flex w-[194px] h-[50px] pt-0 pr-[24px] pb-0 pl-[24px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap bg-[#fff] rounded-[8px] border-solid border border-[#ed7c00] relative shadow-[0_2px_0_0_rgba(0,0,0,0.02)] z-[6]"
        >
          <div
            class="flex w-[146px] h-[40px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[7]"
          >
            <span
              class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#ed7c00] relative text-left whitespace-nowrap z-[8]"
            >
              Talk to an Expert
            </span>
          </div>
        </div>
      </div>
      <div
        class="flex gap-[62px] items-start grow shrink-0 basis-0 flex-wrap relative z-[9]"
      >
        <div
          class="flex w-[236px] pt-0 pr-0 pb-0 pl-[16px] flex-col gap-[4px] justify-center items-start flex-nowrap border-solid border-l-2 border-l-[#007164] relative z-10"
        >
          <div
            class="w-[220px] self-stretch shrink-0 font-['Inter'] text-[36px] font-bold leading-[46.8px] relative text-left whitespace-nowrap z-[11]"
          >
            <span
              class="font-['Inter'] text-[36px] font-bold leading-[46.8px] text-[#04092a] relative text-left"
            >
              850
            </span>
            <span
              class="font-['Inter'] text-[36px] font-bold leading-[46.8px] text-[#ed7c00] relative text-left"
            >
              +
            </span>
          </div>
          <span
            class="h-[24px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[24px] text-[#5c667a] relative text-left whitespace-nowrap z-[12]"
          >
            Accounting firm Served
          </span>
        </div>
        <div
          class="flex w-[236px] pt-0 pr-0 pb-0 pl-[16px] flex-col gap-[4px] justify-center items-start flex-nowrap border-solid border-l-2 border-l-[#007164] relative z-[16]"
        >
          <span
            class="h-[47px] self-stretch shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[46.8px] text-[#04092a] relative text-left whitespace-nowrap z-[17]"
          >
            39
          </span>
          <span
            class="h-[24px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[24px] text-[#5c667a] relative text-left whitespace-nowrap z-[18]"
          >
            Offices in 5 Countries
          </span>
        </div>
        <div
          class="flex w-[236px] pt-0 pr-0 pb-0 pl-[16px] flex-col gap-[4px] justify-center items-start flex-nowrap border-solid border-l-2 border-l-[#007164] relative z-[13]"
        >
          <div
            class="w-[220px] self-stretch shrink-0 font-['Inter'] text-[36px] font-bold leading-[46.8px] relative text-left whitespace-nowrap z-[14]"
          >
            <span
              class="font-['Inter'] text-[36px] font-bold leading-[46.8px] text-[#04092a] relative text-left"
            >
              200K
            </span>
            <span
              class="font-['Inter'] text-[36px] font-bold leading-[46.8px] text-[#ed7c00] relative text-left"
            >
              +
            </span>
          </div>
          <span
            class="h-[24px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[24px] text-[#5c667a] relative text-left whitespace-nowrap z-[15]"
          >
            Network Of Professionals
          </span>
        </div>
        <div
          class="flex w-[236px] pt-0 pr-0 pb-0 pl-[16px] flex-col gap-[4px] justify-center items-start flex-nowrap border-solid border-l-2 border-l-[#007164] relative z-[19]"
        >
          <div
            class="w-[220px] self-stretch shrink-0 font-['Inter'] text-[36px] font-bold leading-[46.8px] relative text-left whitespace-nowrap z-20"
          >
            <span
              class="font-['Inter'] text-[36px] font-bold leading-[46.8px] text-[#04092a] relative text-left"
            >
              100
            </span>
            <span
              class="font-['Inter'] text-[36px] font-bold leading-[46.8px] text-[#ed7c00] relative text-left"
            >
              +
            </span>
          </div>
          <span
            class="h-[24px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[24px] text-[#5c667a] relative text-left whitespace-nowrap z-[21]"
          >
            Qualification
          </span>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex w-[1440px] pt-[80px] pr-[120px] pb-[80px] pl-[120px] gap-[24px] items-start shrink-0 flex-nowrap bg-[#f5f7fa] relative z-[22]"
  >
    <div
      class="flex w-[1200px] justify-between items-center shrink-0 flex-nowrap relative z-[23]"
    >
      <div class="w-[576px] h-[287.674px] shrink-0 relative z-[24]">
        <div
          class="w-[49.451px] h-[49.451px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/6oUQU2n50O.png)] bg-cover bg-no-repeat relative overflow-hidden z-[26] mt-[118.577px] mr-0 mb-0 ml-[262.734px]"
        >
        </div>
        <div
          class="w-[576px] h-[287.674px] bg-[rgba(0,0,0,0.12)] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/KqVgoCczVY.png)] bg-cover bg-no-repeat rounded-[21.388px] absolute top-0 left-0 z-[25]"
        >
        </div>
      </div>
      <div
        class="flex w-[576px] flex-col gap-[24px] items-start shrink-0 flex-nowrap relative z-[27]"
      >
        <div
          class="flex flex-col gap-[12px] items-start self-stretch shrink-0 flex-nowrap relative z-[28]"
        >
          <span
            class="h-[42px] self-stretch shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[42px] text-[#04092a] relative text-left whitespace-nowrap z-[29]"
          >
            Why Businesses Trust Us
          </span>
          <span
            class="flex w-[576px] h-[135px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[18px] font-normal leading-[27px] text-[#5c667a] relative text-left z-30"
          >
            Discover how our clients streamline operations and gain financial
            confidence through precise bookkeeping, personalized support, and
            real-time insights. With a dedicated team and a tech-enabled
            approach, we don’t just manage numbers—we empower growth,
            compliance, and clarity at every step.
          </span>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex w-[1440px] pt-[80px] pr-[120px] pb-[80px] pl-[120px] gap-[24px] items-start shrink-0 flex-nowrap bg-[#106253] relative z-[31]"
  >
    <div
      class="flex w-[1200px] justify-between items-center shrink-0 flex-nowrap relative z-[32]"
    >
      <div
        class="flex w-[570px] flex-col gap-[32px] items-start shrink-0 flex-nowrap relative z-[33]"
      >
        <span
          class="flex w-[570px] h-[105px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[36px] font-bold leading-[42px] text-[#fff] relative text-left z-[34]"
        >
          Building Resilient  Financial Strategies
        </span>
        <div class="w-[534.619px] h-[445.667px] shrink-0 relative z-[35]">
          <div
            class="w-[468.349px] h-[129.227px] relative z-[36] mt-0 mr-0 mb-0 ml-[66.271px]"
          >
            <div
              class="rounded-[124.257px] border-solid border-[0.83px] border-[#eaeaea] absolute top-0 bottom-0 left-0 right-0 z-[37]"
            >
              <div
                class="w-[341.08px] h-[87.437px] text-[0px] absolute top-[17.396px] left-[96.092px] z-[41]"
              >
                <span
                  class="block h-[28px] font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#fff] relative text-left whitespace-nowrap z-40 mt-0 mr-0 mb-0 ml-0"
                >
                  Strategic Market Insight
                </span>
                <span
                  class="flex w-[341px] h-[44px] justify-start items-start font-['Inter'] text-[16px] font-medium leading-[22px] text-[#fff] relative text-left z-[41] mt-[15.437px] mr-0 mb-0 ml-[0.08px]"
                >
                  We analyze market trends and financial health to uncover
                  opportunities{" "}
                </span>
              </div>
              <div
                class="w-[50.531px] h-[51.053px] bg-[#ed7c00] rounded-[25.398px] absolute top-[34.833px] left-[25.172px] z-[38]"
              >
                <div
                  class="w-[22.366px] h-[22.366px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/LA6yzM8wcx.png)] bg-cover bg-no-repeat relative z-[39] mt-[14.082px] mr-0 mb-0 ml-[14.082px]"
                >
                </div>
              </div>
            </div>
          </div>
          <div
            class="w-[468.349px] h-[129.227px] relative z-[42] mt-[28.994px] mr-0 mb-0 ml-0"
          >
            <div
              class="rounded-[124.257px] border-solid border-[0.83px] border-[#eaeaea] absolute top-0 bottom-0 left-0 right-0 z-[43]"
            >
              <div
                class="w-[358.351px] h-[87.216px] text-[0px] absolute top-[17.396px] left-[96.092px] z-[47]"
              >
                <span
                  class="block h-[28px] font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#fff] relative text-left whitespace-nowrap z-[46] mt-0 mr-0 mb-0 ml-0"
                >
                  Revenue Acceleration
                </span>
                <span
                  class="flex w-[358px] h-[44px] justify-start items-start font-['Inter'] text-[16px] font-medium leading-[22px] text-[#fff] relative text-left z-[47] mt-[15.216px] mr-0 mb-0 ml-[0.35px]"
                >
                  Optimize your financial systems to support smarter sales,
                  sustainable{" "}
                </span>
              </div>
              <div
                class="w-[50.531px] h-[51.053px] bg-[#ed7c00] rounded-[25.398px] absolute top-[34.612px] left-[24.442px] z-[44]"
              >
                <div
                  class="w-[22.366px] h-[22.366px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/q6CGD9E1xv.png)] bg-cover bg-no-repeat relative z-[45] mt-[14.082px] mr-0 mb-0 ml-[14.082px]"
                >
                </div>
              </div>
            </div>
          </div>
          <div
            class="w-[468.349px] h-[129.227px] relative z-[48] mt-[28.993px] mr-0 mb-0 ml-[66.271px]"
          >
            <div
              class="rounded-[124.257px] border-solid border-[0.83px] border-[#eaeaea] absolute top-0 bottom-0 left-0 right-0 z-[49]"
            >
              <div
                class="w-[364.08px] h-[86.995px] text-[0px] absolute top-[17.396px] left-[96.092px] z-[53]"
              >
                <span
                  class="block h-[28px] font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#fff] relative text-left whitespace-nowrap z-[52] mt-0 mr-0 mb-0 ml-0"
                >
                  Tailored for Every Platform
                </span>
                <span
                  class="flex w-[364px] h-[44px] justify-start items-start font-['Inter'] text-[16px] font-medium leading-[22px] text-[#fff] relative text-left z-[53] mt-[14.995px] mr-0 mb-0 ml-[0.08px]"
                >
                  Our tools work smoothly across devices accurate, accessible,
                  always ready.
                </span>
              </div>
              <div
                class="w-[50.531px] h-[51.053px] bg-[#ed7c00] rounded-[25.398px] absolute top-[34.391px] left-[25.172px] z-50"
              >
                <div
                  class="w-[22.366px] h-[22.366px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/4ak3T3NgKZ.png)] bg-cover bg-no-repeat relative z-[51] mt-[14.082px] mr-0 mb-0 ml-[14.082px]"
                >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="w-[569px] h-[370.512px] shrink-0 rounded-[11.027px] relative z-[54]"
      >
        <div
          class="w-[569px] h-[370.512px] rounded-[11.027px] absolute top-0 left-0 z-[55]"
        >
          <div
            class="w-[358.382px] h-[247.008px] bg-[#fff] rounded-[11.027px] absolute top-0 left-[210.618px] overflow-hidden shadow-[4.411px_8.822px_17.643px_0_rgba(37,60,59,0.24)] z-[61]"
          >
            <div
              class="w-[296.63px] h-[220.694px] text-[0px] absolute top-[14.335px] left-[26.465px] z-[77]"
            >
              <span
                class="block h-[33px] font-['Poppins'] text-[22.054262161254883px] font-medium leading-[33px] text-[#abaeb6] relative text-left whitespace-nowrap z-[62] mt-0 mr-0 mb-0 ml-0"
              >
                Sales
              </span>
              <span
                class="block h-[30px] font-['Poppins'] text-[19.84883689880371px] font-bold leading-[29.773px] text-[#ed7c00] relative text-left whitespace-nowrap z-[74] mt-[-7.638px] mr-0 mb-0 ml-0"
              >
                5248
              </span>
              <div
                class="w-[261.343px] h-[20px] relative z-[63] mt-[145.332px] mr-0 mb-0 ml-[22.055px]"
              >
                <span
                  class="flex h-[20px] justify-start items-center font-['Poppins'] text-[13.232558250427246px] font-normal leading-[19.849px] text-[#abaeb6] absolute top-0 left-0 text-left whitespace-nowrap z-[64]"
                >
                  M
                </span>
                <span
                  class="flex h-[20px] justify-start items-center font-['Poppins'] text-[13.232558250427246px] font-normal leading-[19.849px] text-[#abaeb6] absolute top-0 left-[46.824px] text-left whitespace-nowrap z-[65]"
                >
                  T
                </span>
                <span
                  class="flex h-[20px] justify-start items-center font-['Poppins'] text-[13.232558250427246px] font-normal leading-[19.849px] text-[#abaeb6] absolute top-0 left-[84.937px] text-left whitespace-nowrap z-[66]"
                >
                  W
                </span>
                <span
                  class="flex h-[20px] justify-start items-center font-['Poppins'] text-[13.232558250427246px] font-normal leading-[19.849px] text-[#abaeb6] absolute top-0 left-[131.761px] text-left whitespace-nowrap z-[67]"
                >
                  T
                </span>
                <span
                  class="flex h-[20px] justify-start items-center font-['Poppins'] text-[13.232558250427246px] font-normal leading-[19.849px] text-[#abaeb6] absolute top-0 left-[169.873px] text-left whitespace-nowrap z-[68]"
                >
                  F
                </span>
                <span
                  class="flex h-[20px] justify-start items-center font-['Poppins'] text-[13.232558250427246px] font-normal leading-[19.849px] text-[#abaeb6] absolute top-0 left-[207.985px] text-left whitespace-nowrap z-[69]"
                >
                  S
                </span>
                <span
                  class="flex h-[20px] justify-start items-center font-['Poppins'] text-[13.232558250427246px] font-normal leading-[19.849px] text-[#abaeb6] absolute top-0 left-[246.098px] text-left whitespace-nowrap z-[70]"
                >
                  S
                </span>
              </div>
              <div
                class="w-[79.395px] h-[39.698px] text-[0px] absolute top-[56.239px] left-[165.407px] z-[77]"
              >
                <span
                  class="block h-[9px] font-['Poppins'] text-[8.821704864501953px] font-medium leading-[8.822px] text-[#abaeb6] relative text-left whitespace-nowrap z-[79] mt-[3.308px] mr-0 mb-0 ml-[25.362px]"
                >
                  Jan 18
                </span>
                <div
                  class="w-[69px] h-[14px] font-['Poppins'] text-[13.232558250427246px] font-medium leading-[13.233px] relative text-left whitespace-nowrap z-[80] mt-[2.027px] mr-0 mb-0 ml-[4.411px]"
                >
                  <span
                    class="font-['Poppins'] text-[11.027131080627441px] font-medium leading-[13.233px] text-[#2d55b4] relative text-left"
                  >
                    Sales:
                  </span>
                  <span
                    class="font-['Poppins'] text-[13.232558250427246px] font-medium leading-[13.233px] text-[#ed7c00] relative text-left"
                  >
                    {" "}
                  </span>
                  <span
                    class="font-['Poppins'] text-[13.232558250427246px] font-medium leading-[13.233px] text-[#ed7c00] relative text-left"
                  >
                    5200
                  </span>
                </div>
                <div
                  class="w-[79.395px] h-[39.698px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/nDNiqG6vmj.png)] bg-cover bg-no-repeat absolute top-0 left-0 z-[78]"
                >
                </div>
              </div>
              <div
                class="w-[287.808px] h-[132.326px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/vvgiVDpdU0.png)] bg-cover bg-no-repeat absolute top-[67.266px] left-[8.822px] z-[73]"
              >
              </div>
              <div
                class="w-[260.792px] h-[89.329px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/ifcyTnEVZp.png)] bg-cover bg-no-repeat absolute top-[76.629px] left-[22.055px] z-[75]"
              >
              </div>
              <div
                class="w-[4.411px] h-[4.411px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/agA4xUfbdQ.png)] bg-cover bg-no-repeat rounded-[50%] absolute top-[98.143px] left-[202.899px] box-content z-[76]"
              >
              </div>
            </div>
            <div
              class="w-[26.465px] h-[26.465px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/PuYpzyKMi4.png)] bg-cover bg-no-repeat absolute top-[17.644px] left-[305.451px] overflow-hidden z-[72]"
            >
            </div>
            <div
              class="w-[14px] h-[114.038px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/mnKVevY7us.png)] bg-cover bg-no-repeat absolute top-[88.218px] left-[19.849px] z-[71]"
            >
            </div>
          </div>
          <div
            class="w-[358.382px] h-[247.008px] bg-[#fff] rounded-[11.027px] absolute top-[123.504px] left-0 overflow-hidden z-[56]"
          >
            <div
              class="w-[305.451px] h-[215.03px] text-[0px] absolute top-[14.335px] left-[26.465px] z-[60]"
            >
              <span
                class="block h-[33px] font-['Poppins'] text-[22.054262161254883px] font-medium leading-[33px] text-[#abaeb6] relative text-left whitespace-nowrap z-[57] mt-0 mr-0 mb-0 ml-0"
              >
                Expenses
              </span>
              <span
                class="block h-[30px] font-['Poppins'] text-[19.84883689880371px] font-bold leading-[29.773px] text-[#37383b] relative text-left whitespace-nowrap z-[60] mt-[-7.638px] mr-0 mb-0 ml-0"
              >
                $4200.30
              </span>
              <div
                class="w-[305.451px] h-[142.251px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/rJjs5O2nff.png)] bg-cover bg-no-repeat rounded-[11.027px] relative z-[59] mt-[17.417px] mr-0 mb-0 ml-0"
              >
              </div>
            </div>
            <div
              class="w-[26.465px] h-[26.465px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/gCnVpyKxo5.png)] bg-cover bg-no-repeat absolute top-[25.362px] left-[305.451px] overflow-hidden z-[58]"
            >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex w-[1440px] pt-[80px] pr-[120px] pb-[80px] pl-[120px] flex-col gap-[32px] justify-center items-center shrink-0 flex-nowrap bg-[#fff] relative z-[81]"
  >
    <div
      class="flex w-[1200px] justify-between items-center shrink-0 flex-nowrap relative z-[82]"
    >
      <span
        class="h-[42px] shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[42px] text-[#28241f] relative text-left whitespace-nowrap z-[83]"
      >
        Our Core Financial Services
      </span>
    </div>
    <div
      class="flex w-[1200px] flex-col gap-[25px] items-start shrink-0 flex-nowrap relative z-[84]"
    >
      <div
        class="flex gap-[25px] items-center self-stretch shrink-0 flex-nowrap relative z-[85]"
      >
        <div
          class="flex h-[299px] pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[18px] justify-end items-end grow shrink-0 basis-0 flex-nowrap bg-[#fff] rounded-[16px] relative shadow-[0_1px_11.1px_0_rgba(237,124,0,0.16)] z-[86]"
        >
          <div
            class="flex flex-col gap-[12px] items-start self-stretch grow shrink-0 basis-0 flex-nowrap relative z-[87]"
          >
            <div
              class="flex w-[241px] flex-col gap-[24px] items-start shrink-0 flex-nowrap relative z-[88]"
            >
              <div
                class="w-[48px] h-[48px] shrink-0 relative overflow-hidden z-[89]"
              >
                <div
                  class="w-[37px] h-[43px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/CGQGDynANi.png)] bg-[length:100%_100%] bg-no-repeat relative z-[90] mt-[4px] mr-0 mb-0 ml-[7px]"
                >
                </div>
              </div>
              <span
                class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left whitespace-nowrap z-[91]"
              >
                Bookkeeping
              </span>
            </div>
            <span
              class="flex w-[343.333px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[92]"
            >
              Accurate, timely recording of your day-to-day financial
              transactions to keep your books clean and audit-ready.
            </span>
          </div>
          <div
            class="w-[50.531px] h-[51.053px] shrink-0 bg-[#ed7c00] rounded-[25.398px] relative z-[93]"
          >
            <div
              class="w-[22.366px] h-[22.366px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/rYkppg7gyk.png)] bg-cover bg-no-repeat relative z-[94] mt-[14.082px] mr-0 mb-0 ml-[14.082px]"
            >
            </div>
          </div>
        </div>
        <div
          class="flex h-[299px] pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[18px] justify-end items-end grow shrink-0 basis-0 flex-nowrap bg-[#fff] rounded-[16px] relative shadow-[0_1px_11.1px_0_rgba(237,124,0,0.16)] z-[95]"
        >
          <div
            class="flex flex-col gap-[12px] items-start self-stretch grow shrink-0 basis-0 flex-nowrap relative z-[96]"
          >
            <div
              class="flex w-[241px] flex-col gap-[24px] items-start shrink-0 flex-nowrap relative z-[97]"
            >
              <div
                class="w-[48px] h-[48px] shrink-0 relative overflow-hidden z-[98]"
              >
                <div
                  class="w-[32px] h-[40px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/fr1j4YRqPU.png)] bg-[length:100%_100%] bg-no-repeat relative z-[99] mt-[4px] mr-0 mb-0 ml-[7px]"
                >
                </div>
              </div>
              <span
                class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left whitespace-nowrap z-[100]"
              >
                Financial Modeling
              </span>
            </div>
            <span
              class="flex w-[343.333px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[101]"
            >
              Custom-built financial models to forecast revenue, costs, and cash
              flow — empowering smarter strategic planning.
            </span>
          </div>
          <div
            class="w-[50.531px] h-[51.053px] shrink-0 bg-[#ed7c00] rounded-[25.398px] relative z-[102]"
          >
            <div
              class="w-[22.366px] h-[22.366px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/aucmKyYf8C.png)] bg-cover bg-no-repeat relative z-[103] mt-[14.082px] mr-0 mb-0 ml-[14.082px]"
            >
            </div>
          </div>
        </div>
        <div
          class="flex h-[299px] pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[18px] justify-end items-end grow shrink-0 basis-0 flex-nowrap bg-[#fff] rounded-[16px] relative shadow-[0_1px_11.1px_0_rgba(237,124,0,0.16)] z-[104]"
        >
          <div
            class="flex flex-col gap-[12px] items-start self-stretch grow shrink-0 basis-0 flex-nowrap relative z-[105]"
          >
            <div
              class="flex w-[241px] flex-col gap-[24px] items-start shrink-0 flex-nowrap relative z-[106]"
            >
              <div
                class="w-[48px] h-[48px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/G31mQoLLHC.png)] bg-cover bg-no-repeat relative overflow-hidden z-[107]"
              >
              </div>
              <span
                class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left whitespace-nowrap z-[108]"
              >
                Historical Cleanup
              </span>
            </div>
            <span
              class="flex w-[343.333px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[109]"
            >
              We organize and correct your past financial data, ensuring your
              records are accurate and compliant.
            </span>
          </div>
          <div
            class="w-[50.531px] h-[51.053px] shrink-0 bg-[#ed7c00] rounded-[25.398px] relative z-[110]"
          >
            <div
              class="w-[22.366px] h-[22.366px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/V60AWjik0o.png)] bg-cover bg-no-repeat relative z-[111] mt-[14.082px] mr-0 mb-0 ml-[14.082px]"
            >
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex h-[299px] gap-[25px] items-center self-stretch shrink-0 flex-nowrap relative z-[112]"
      >
        <div
          class="flex h-[299px] pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[18px] justify-end items-end grow shrink-0 basis-0 flex-nowrap bg-[#fff] rounded-[16px] relative shadow-[0_1px_11.1px_0_rgba(237,124,0,0.16)] z-[113]"
        >
          <div
            class="flex flex-col gap-[12px] items-start self-stretch grow shrink-0 basis-0 flex-nowrap relative z-[114]"
          >
            <div
              class="flex w-[241px] flex-col gap-[24px] items-start shrink-0 flex-nowrap relative z-[115]"
            >
              <div
                class="w-[48px] h-[48px] shrink-0 relative overflow-hidden z-[116]"
              >
                <div
                  class="w-[44.887px] h-[40px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/8B18snzpsM.png)] bg-[length:100%_100%] bg-no-repeat relative z-[117] mt-[4px] mr-0 mb-0 ml-[1.112px]"
                >
                </div>
              </div>
              <span
                class="h-[28px] shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left whitespace-nowrap z-[118]"
              >
                Accounts Reconciliation
              </span>
            </div>
            <span
              class="flex w-[343.333px] h-[88px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[119]"
            >
              Reconcile bank statements, vendor accounts, and ledgers to
              identify discrepancies and maintain financial integrity.
            </span>
          </div>
          <div
            class="w-[50.531px] h-[51.053px] shrink-0 bg-[#ed7c00] rounded-[25.398px] relative z-[120]"
          >
            <div
              class="w-[22.366px] h-[22.366px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/NnxxM4HKAE.png)] bg-cover bg-no-repeat relative z-[121] mt-[14.082px] mr-0 mb-0 ml-[14.082px]"
            >
            </div>
          </div>
        </div>
        <div
          class="flex h-[299px] pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[18px] justify-end items-end grow shrink-0 basis-0 flex-nowrap bg-[#fff] rounded-[16px] relative shadow-[0_1px_11.1px_0_rgba(237,124,0,0.16)] z-[122]"
        >
          <div
            class="flex flex-col gap-[12px] items-start self-stretch grow shrink-0 basis-0 flex-nowrap relative z-[123]"
          >
            <div
              class="flex w-[241px] flex-col gap-[24px] items-start shrink-0 flex-nowrap relative z-[124]"
            >
              <div
                class="w-[48px] h-[48px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/jP7DquaWQm.png)] bg-cover bg-no-repeat relative overflow-hidden z-[125]"
              >
              </div>
              <span
                class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left whitespace-nowrap z-[126]"
              >
                Payroll Assistance
              </span>
            </div>
            <span
              class="flex w-[343.333px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[127]"
            >
              End-to-end support for processing employee payroll, managing
              taxes, and ensuring timely compliance.
            </span>
          </div>
          <div
            class="w-[50.531px] h-[51.053px] shrink-0 bg-[#ed7c00] rounded-[25.398px] relative z-[128]"
          >
            <div
              class="w-[22.366px] h-[22.366px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/a8Cu3OyUzF.png)] bg-cover bg-no-repeat relative z-[129] mt-[14.082px] mr-0 mb-0 ml-[14.082px]"
            >
            </div>
          </div>
        </div>
        <div
          class="flex h-[299px] pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[18px] justify-end items-end grow shrink-0 basis-0 flex-nowrap bg-[#fff] rounded-[16px] relative shadow-[0_1px_11.1px_0_rgba(237,124,0,0.16)] z-[130]"
        >
          <div
            class="flex flex-col gap-[12px] items-start self-stretch grow shrink-0 basis-0 flex-nowrap relative z-[131]"
          >
            <div
              class="flex w-[241px] flex-col gap-[24px] items-start shrink-0 flex-nowrap relative z-[132]"
            >
              <div
                class="w-[48px] h-[48px] shrink-0 relative overflow-hidden z-[133]"
              >
                <div
                  class="w-[35.104px] h-[41.624px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/eTrMLmes4f.png)] bg-[length:100%_100%] bg-no-repeat relative z-[134] mt-[4px] mr-0 mb-0 ml-[7px]"
                >
                </div>
              </div>
              <span
                class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left whitespace-nowrap z-[135]"
              >
                Audit Support
              </span>
            </div>
            <span
              class="flex w-[343.333px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[136]"
            >
              From documentation to clarifications, we help prepare and present
              your books with confidence during audits.
            </span>
          </div>
          <div
            class="w-[50.531px] h-[51.053px] shrink-0 bg-[#ed7c00] rounded-[25.398px] relative z-[137]"
          >
            <div
              class="w-[22.366px] h-[22.366px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/5beHCV59MY.png)] bg-cover bg-no-repeat relative z-[138] mt-[14.082px] mr-0 mb-0 ml-[14.082px]"
            >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex w-[304px] h-[50px] pt-0 pr-[24px] pb-0 pl-[24px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap bg-[#ed7c00] rounded-[8px] relative z-[139]"
    >
      <div
        class="flex w-[256px] h-[40px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[140]"
      >
        <span
          class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#fff] relative text-left whitespace-nowrap z-[141]"
        >
          Schedule a Free Consultation
        </span>
      </div>
    </div>
  </div>
  <div
    class="flex w-[1440px] pt-[80px] pr-[120px] pb-[80px] pl-[120px] flex-col gap-[24px] items-start shrink-0 flex-nowrap bg-[#f5f7fa] relative z-[142]"
  >
    <span
      class="h-[42px] shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[42px] text-[#28241f] relative text-left whitespace-nowrap z-[143]"
    >
      How It Works
    </span>
    <div
      class="flex w-[1200px] flex-col gap-[32px] items-start shrink-0 flex-nowrap relative z-[144]"
    >
      <div
        class="flex w-[987px] justify-between items-center shrink-0 flex-nowrap relative z-[145]"
      >
        <div
          class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[25px] border-solid border border-[#ed7c00] relative z-[146]"
        >
          <span
            class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#ed7c00] relative text-center whitespace-nowrap z-[147]"
          >
            1
          </span>
        </div>
        <div
          class="w-[208px] h-px shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/WefxWHEr3d.png)] bg-cover bg-no-repeat relative z-[148]"
        >
        </div>
        <div
          class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#ed7c00] rounded-[25px] relative z-[149]"
        >
          <span
            class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#f5f7fa] relative text-center whitespace-nowrap z-[150]"
          >
            2
          </span>
        </div>
        <div
          class="w-[208px] h-px shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/fNcvCDZh9k.png)] bg-cover bg-no-repeat relative z-[151]"
        >
        </div>
        <div
          class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[25px] border-solid border border-[#ed7c00] relative z-[152]"
        >
          <span
            class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#ed7c00] relative text-center whitespace-nowrap z-[153]"
          >
            3
          </span>
        </div>
        <div
          class="w-[208px] h-px shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/Db5qMpmza7.png)] bg-cover bg-no-repeat relative z-[154]"
        >
        </div>
        <div
          class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[25px] border-solid border border-[#ed7c00] relative z-[155]"
        >
          <span
            class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#ed7c00] relative text-center whitespace-nowrap z-[156]"
          >
            4
          </span>
        </div>
      </div>
      <div
        class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative z-[157]"
      >
        <div
          class="flex w-[255px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative z-[158]"
        >
          <span
            class="flex w-[255px] h-[56px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left z-[159]"
          >
            Schedule a Consultation
          </span>
          <span
            class="flex w-[255px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[160]"
          >
            Book online, discuss your business needs—no commitment.
          </span>
        </div>
        <div
          class="flex w-[255px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative z-[161]"
        >
          <span
            class="flex w-[225px] h-[56px] justify-start items-start shrink-0 font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left z-[162]"
          >
            Customized Proposal
          </span>
          <span
            class="flex w-[255px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[163]"
          >
            Receive a tailored pricing plan based on volume and complexity.{" "}
          </span>
        </div>
        <div
          class="flex w-[255px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative z-[164]"
        >
          <span
            class="flex w-[255px] h-[56px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left z-[165]"
          >
            Onboarding & Data Setup
          </span>
          <span
            class="flex w-[225px] h-[66px] justify-start items-start shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[166]"
          >
            Share your financial documents; our team sets up your books.{" "}
          </span>
        </div>
        <div
          class="flex w-[255px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative z-[167]"
        >
          <span
            class="flex w-[225px] h-[56px] justify-start items-start shrink-0 font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left z-[168]"
          >
            Monthly Support & Monitoring{" "}
          </span>
          <span
            class="flex w-[255px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[169]"
          >
            Ongoing bookkeeping, tax prep, payroll, and advisory—all with
            proactive alerts and insights
          </span>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex w-[1440px] pt-[80px] pr-[120px] pb-[80px] pl-[120px] gap-[24px] justify-center items-start shrink-0 flex-nowrap bg-[#106253] relative z-[170]"
  >
    <div
      class="flex w-[1200px] flex-col gap-[40px] items-center shrink-0 flex-nowrap relative z-[171]"
    >
      <div
        class="flex flex-col gap-[20px] items-center self-stretch shrink-0 flex-nowrap relative z-[172]"
      >
        <div
          class="flex flex-col gap-[32px] items-center self-stretch shrink-0 flex-nowrap relative z-[173]"
        >
          <div
            class="flex pt-0 pr-0 pb-0 pl-[72px] gap-[10px] justify-center items-center self-stretch shrink-0 flex-nowrap relative z-[174]"
          >
            <span
              class="flex w-[1272px] h-[42px] justify-center items-start shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[42px] text-[#fff] relative text-center whitespace-nowrap z-[175]"
            >
              What Our Customer Says
            </span>
          </div>
          <div
            class="flex w-[1164px] gap-[21.148px] justify-center items-start shrink-0 flex-nowrap relative z-[176]"
          >
            <div
              class="flex pt-[28.197px] pr-[21.148px] pb-[21.148px] pl-[21.148px] flex-col gap-[24px] items-start self-stretch grow shrink-0 basis-0 flex-nowrap bg-[#fff] rounded-[16px] relative z-[177]"
            >
              <div
                class="flex flex-col gap-[21.148px] items-start self-stretch shrink-0 flex-nowrap relative z-[178]"
              >
                <div
                  class="flex flex-col gap-[7.049px] items-start self-stretch shrink-0 flex-nowrap relative z-[179]"
                >
                  <span
                    class="h-[20.266px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-bold leading-[20.266px] text-[#000] relative text-left whitespace-nowrap z-[180]"
                  >
                    This is a great platform.
                  </span>
                  <div
                    class="flex w-[102.213px] flex-col gap-[8.812px] items-start shrink-0 flex-nowrap relative z-[181]"
                  >
                    <div
                      class="flex gap-[3.525px] items-center self-stretch shrink-0 flex-nowrap relative z-[182]"
                    >
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/AXnUO9GfcD.png)] bg-cover bg-no-repeat relative overflow-hidden z-[183]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/qZzKEY1ehi.png)] bg-cover bg-no-repeat relative overflow-hidden z-[184]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/z57Nzj9juA.png)] bg-cover bg-no-repeat relative overflow-hidden z-[185]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/vm8MUOYN1v.png)] bg-cover bg-no-repeat relative overflow-hidden z-[186]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/51KjW9vGkE.png)] bg-cover bg-no-repeat relative overflow-hidden z-[187]"
                      >
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="flex flex-col gap-[12.336px] items-start self-stretch shrink-0 flex-nowrap relative z-[188]"
                >
                  <div
                    class="flex flex-col gap-[7.93px] items-start self-stretch shrink-0 flex-nowrap relative z-[189]"
                  >
                    <span
                      class="flex w-[331.606px] h-[99px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[15px] font-normal leading-[24.672px] text-[#75757d] relative text-left z-[190]"
                    >
                      “There are plenty of webinars to choose from. Selection is
                      wide range. Webinars provide ability to expand knowledge
                      base in all areas desired.”
                    </span>
                  </div>
                </div>
              </div>
              <div
                class="flex gap-[8.812px] items-center self-stretch shrink-0 flex-nowrap relative z-[191]"
              >
                <div
                  class="w-[45.82px] h-[45.82px] shrink-0 bg-[#aec8ee] rounded-[52.869px] relative overflow-hidden z-[192]"
                >
                  <div
                    class="w-[45.82px] h-[45.82px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/UgmUxypTDO.png)] bg-cover bg-no-repeat absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] z-[193]"
                  >
                  </div>
                </div>
                <div
                  class="flex flex-col items-start grow shrink-0 basis-0 flex-nowrap relative z-[194]"
                >
                  <span
                    class="h-[27px] self-stretch shrink-0 basis-auto font-['Avenir'] text-[15.860711097717285px] font-extrabold leading-[23.791px] text-[#0f0e29] relative text-left whitespace-nowrap z-[195]"
                  >
                    Miriam Lawerence,{" "}
                  </span>
                  <span
                    class="h-[20px] self-stretch shrink-0 basis-auto font-['Avenir'] text-[12.336109161376953px] font-medium leading-[17.623px] text-[#75757d] relative text-left whitespace-nowrap z-[196]"
                  >
                    HRCI Professional
                  </span>
                </div>
              </div>
              <div
                class="w-[56.394px] h-[56.394px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/ot3Ocofg4g.png)] bg-cover bg-no-repeat absolute top-[-30.841px] left-[12.337px] overflow-hidden z-[197]"
              >
              </div>
            </div>
            <div
              class="flex pt-[28.197px] pr-[21.148px] pb-[21.148px] pl-[21.148px] flex-col gap-[24px] items-start self-stretch grow shrink-0 basis-0 flex-nowrap bg-[#fff] rounded-[16px] relative z-[198]"
            >
              <div
                class="flex flex-col gap-[21.148px] items-start self-stretch shrink-0 flex-nowrap relative z-[199]"
              >
                <div
                  class="flex flex-col gap-[7.049px] items-start self-stretch shrink-0 flex-nowrap relative z-[200]"
                >
                  <span
                    class="h-[20.266px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-bold leading-[20.266px] text-[#000] relative text-left whitespace-nowrap z-[201]"
                  >
                    This is a great platform.
                  </span>
                  <div
                    class="flex w-[102.213px] flex-col gap-[8.812px] items-start shrink-0 flex-nowrap relative z-[202]"
                  >
                    <div
                      class="flex gap-[3.525px] items-center self-stretch shrink-0 flex-nowrap relative z-[203]"
                    >
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/QGCVBLAPLZ.png)] bg-cover bg-no-repeat relative overflow-hidden z-[204]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/L06GNZa7Sa.png)] bg-cover bg-no-repeat relative overflow-hidden z-[205]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/NAZcXG81Xx.png)] bg-cover bg-no-repeat relative overflow-hidden z-[206]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/eB7ALw8g49.png)] bg-cover bg-no-repeat relative overflow-hidden z-[207]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/On5wqLT7Ab.png)] bg-cover bg-no-repeat relative overflow-hidden z-[208]"
                      >
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="flex flex-col gap-[12.336px] items-start self-stretch shrink-0 flex-nowrap relative z-[209]"
                >
                  <div
                    class="flex flex-col gap-[7.93px] items-start self-stretch shrink-0 flex-nowrap relative z-[210]"
                  >
                    <span
                      class="flex w-[331.606px] h-[99px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[15px] font-normal leading-[24.672px] text-[#75757d] relative text-left z-[211]"
                    >
                      “There are plenty of webinars to choose from. Selection is
                      wide range. Webinars provide ability to expand knowledge
                      base in all areas desired.”
                    </span>
                  </div>
                </div>
              </div>
              <div
                class="flex gap-[8.812px] items-center self-stretch shrink-0 flex-nowrap relative z-[212]"
              >
                <div
                  class="w-[45.82px] h-[45.82px] shrink-0 bg-[#aec8ee] rounded-[52.869px] relative overflow-hidden z-[213]"
                >
                  <div
                    class="w-[45.82px] h-[45.82px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/XZU9EJDiEu.png)] bg-cover bg-no-repeat absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] z-[214]"
                  >
                  </div>
                </div>
                <div
                  class="flex flex-col items-start grow shrink-0 basis-0 flex-nowrap relative z-[215]"
                >
                  <span
                    class="h-[27px] self-stretch shrink-0 basis-auto font-['Avenir'] text-[15.860711097717285px] font-extrabold leading-[23.791px] text-[#0f0e29] relative text-left whitespace-nowrap z-[216]"
                  >
                    Miriam Lawerence,{" "}
                  </span>
                  <span
                    class="h-[20px] self-stretch shrink-0 basis-auto font-['Avenir'] text-[12.336109161376953px] font-medium leading-[17.623px] text-[#75757d] relative text-left whitespace-nowrap z-[217]"
                  >
                    HRCI Professional
                  </span>
                </div>
              </div>
              <div
                class="w-[56.394px] h-[56.394px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/1h3doRhYxO.png)] bg-cover bg-no-repeat absolute top-[-30.841px] left-[12.337px] overflow-hidden z-[218]"
              >
              </div>
            </div>
            <div
              class="flex pt-[28.197px] pr-[21.148px] pb-[21.148px] pl-[21.148px] flex-col gap-[24px] items-start self-stretch grow shrink-0 basis-0 flex-nowrap bg-[#fff] rounded-[16px] relative z-[219]"
            >
              <div
                class="flex flex-col gap-[21.148px] items-start self-stretch shrink-0 flex-nowrap relative z-[220]"
              >
                <div
                  class="flex flex-col gap-[7.049px] items-start self-stretch shrink-0 flex-nowrap relative z-[221]"
                >
                  <span
                    class="h-[20.266px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-bold leading-[20.266px] text-[#000] relative text-left whitespace-nowrap z-[222]"
                  >
                    This is a great platform.
                  </span>
                  <div
                    class="flex w-[102.213px] flex-col gap-[8.812px] items-start shrink-0 flex-nowrap relative z-[223]"
                  >
                    <div
                      class="flex gap-[3.525px] items-center self-stretch shrink-0 flex-nowrap relative z-[224]"
                    >
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/vLBocZT8YJ.png)] bg-cover bg-no-repeat relative overflow-hidden z-[225]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/LOFj11nqso.png)] bg-cover bg-no-repeat relative overflow-hidden z-[226]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/2BKkGz0eHq.png)] bg-cover bg-no-repeat relative overflow-hidden z-[227]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/RocUKW15Nh.png)] bg-cover bg-no-repeat relative overflow-hidden z-[228]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/McesebTEAO.png)] bg-cover bg-no-repeat relative overflow-hidden z-[229]"
                      >
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="flex flex-col gap-[12.336px] items-start self-stretch shrink-0 flex-nowrap relative z-[230]"
                >
                  <div
                    class="flex flex-col gap-[7.93px] items-start self-stretch shrink-0 flex-nowrap relative z-[231]"
                  >
                    <span
                      class="flex w-[331.606px] h-[99px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[15px] font-normal leading-[24.672px] text-[#75757d] relative text-left z-[232]"
                    >
                      “There are plenty of webinars to choose from. Selection is
                      wide range. Webinars provide ability to expand knowledge
                      base in all areas desired.”
                    </span>
                  </div>
                </div>
              </div>
              <div
                class="flex gap-[8.812px] items-center self-stretch shrink-0 flex-nowrap relative z-[233]"
              >
                <div
                  class="w-[45.82px] h-[45.82px] shrink-0 bg-[#aec8ee] rounded-[52.869px] relative overflow-hidden z-[234]"
                >
                  <div
                    class="w-[45.82px] h-[45.82px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/Ke1UqdF4sS.png)] bg-cover bg-no-repeat absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] z-[235]"
                  >
                  </div>
                </div>
                <div
                  class="flex flex-col items-start grow shrink-0 basis-0 flex-nowrap relative z-[236]"
                >
                  <span
                    class="h-[27px] self-stretch shrink-0 basis-auto font-['Avenir'] text-[15.860711097717285px] font-extrabold leading-[23.791px] text-[#0f0e29] relative text-left whitespace-nowrap z-[237]"
                  >
                    Miriam Lawerence,{" "}
                  </span>
                  <span
                    class="h-[20px] self-stretch shrink-0 basis-auto font-['Avenir'] text-[12.336109161376953px] font-medium leading-[17.623px] text-[#75757d] relative text-left whitespace-nowrap z-[238]"
                  >
                    HRCI Professional
                  </span>
                </div>
              </div>
              <div
                class="w-[56.394px] h-[56.394px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/mpPunDSa3q.png)] bg-cover bg-no-repeat absolute top-[-30.841px] left-[12.337px] overflow-hidden z-[239]"
              >
              </div>
            </div>
          </div>
          <div
            class="w-[35px] h-[10px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/Com5MQrVDp.png)] bg-cover bg-no-repeat relative z-[240]"
          >
          </div>
        </div>
        <div
          class="w-[670px] h-px shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/OjaDzfBk4v.png)] bg-cover bg-no-repeat relative z-[241]"
        >
        </div>
      </div>
      <div
        class="flex w-[540px] gap-[20px] items-start shrink-0 flex-nowrap relative z-[242]"
      >
        <div
          class="flex w-[260px] pt-[16px] pr-[24px] pb-[16px] pl-[24px] flex-col gap-[12px] items-center shrink-0 flex-nowrap bg-[#fff] rounded-[12px] border-solid border border-[#eaeaea] relative z-[243]"
        >
          <div
            class="flex w-[206.823px] gap-[10px] items-center shrink-0 flex-nowrap relative z-[244]"
          >
            <div
              class="w-[122.157px] h-[30px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/FMHSN3BV4O.png)] bg-cover bg-no-repeat relative overflow-hidden z-[245]"
            >
            </div>
            <div
              class="w-[74.667px] h-[14px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/pWqk6TZzU0.png)] bg-cover bg-no-repeat relative overflow-hidden z-[246]"
            >
            </div>
          </div>
          <div
            class="flex w-[197px] gap-[10px] items-start shrink-0 flex-nowrap relative z-[247]"
          >
            <div
              class="w-[197px] shrink-0 font-['Inter'] text-[14px] font-normal leading-[16.943px] relative text-left whitespace-nowrap z-[248]"
            >
              <span
                class="font-['Avenir'] text-[14px] font-extrabold leading-[16.943px] text-[#2d2d2d] relative text-left"
              >
                TrustScore 4.9 |{" "}
              </span>
              <span
                class="font-['Avenir'] text-[14px] font-extrabold leading-[16.943px] text-[#2d2d2d] relative text-left underline"
              >
                400+ Reviews
              </span>
            </div>
          </div>
        </div>
        <div
          class="flex w-[260px] pt-[16px] pr-[24px] pb-[16px] pl-[24px] flex-col gap-[12px] items-center shrink-0 flex-nowrap bg-[#fff] rounded-[12px] border-solid border border-[#eaeaea] relative z-[249]"
        >
          <div
            class="flex w-[183.805px] gap-[10px] items-center shrink-0 flex-nowrap relative z-[250]"
          >
            <div
              class="w-[87.805px] h-[30px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/DPrreFbmH0.png)] bg-cover bg-no-repeat relative overflow-hidden z-[251]"
            >
            </div>
            <div class="w-[86px] h-[14px] shrink-0 relative z-[252]">
              <div
                class="w-[14px] h-[14px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/yh8itg9oiR.png)] bg-cover bg-no-repeat absolute top-0 left-0 overflow-hidden z-[253]"
              >
              </div>
              <div
                class="w-[14px] h-[14px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/Yv2ceX4fQ7.png)] bg-cover bg-no-repeat absolute top-0 left-[18px] overflow-hidden z-[254]"
              >
              </div>
              <div
                class="w-[14px] h-[14px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/qovua0DLDu.png)] bg-cover bg-no-repeat absolute top-0 left-[36px] overflow-hidden z-[255]"
              >
              </div>
              <div
                class="w-[14px] h-[14px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/7egxLC0dBR.png)] bg-cover bg-no-repeat absolute top-0 left-[54px] overflow-hidden z-[256]"
              >
              </div>
              <div
                class="w-[14px] h-[14px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/BfQFN6LMfg.png)] bg-cover bg-no-repeat absolute top-0 left-[72px] overflow-hidden z-[257]"
              >
              </div>
            </div>
          </div>
          <div
            class="flex w-[151px] gap-[10px] items-start shrink-0 flex-nowrap relative z-[258]"
          >
            <div
              class="w-[151px] shrink-0 font-['Inter'] text-[14px] font-normal leading-[16.943px] relative text-left whitespace-nowrap z-[259]"
            >
              <span
                class="font-['Avenir'] text-[14px] font-extrabold leading-[16.943px] text-[#2d2d2d] relative text-left"
              >
                4.8 stars |{" "}
              </span>
              <span
                class="font-['Avenir'] text-[14px] font-extrabold leading-[16.943px] text-[#2d2d2d] relative text-left underline"
              >
                90+ Reviews
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex w-[1440px] pt-[80px] pr-[120px] pb-[80px] pl-[120px] flex-col gap-[32px] items-start shrink-0 flex-nowrap bg-[#fff] relative z-[260]"
  >
    <span
      class="h-[42px] self-stretch shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[42px] text-[#28241f] relative text-center whitespace-nowrap z-[261]"
    >
      Finance Consulting: What You Need to Know
    </span>
    <div
      class="flex w-[1184px] h-[447px] gap-[32px] items-start shrink-0 flex-nowrap relative z-[262]"
    >
      <div
        class="flex w-[576px] h-[316px] flex-col gap-[20px] items-start shrink-0 flex-nowrap relative z-[263]"
      >
        <div
          class="flex w-[576px] pt-[30px] pr-[36px] pb-[30px] pl-[36px] flex-col gap-[16px] items-start shrink-0 flex-nowrap bg-[#fff] rounded-[16px] border-solid border border-[#f5f7fa] relative shadow-[0_1px_4px_0_rgba(237,124,0,0.12)] z-[264]"
        >
          <div
            class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative z-[265]"
          >
            <div
              class="flex w-[400px] gap-[8px] items-center shrink-0 flex-nowrap relative z-[266]"
            >
              <span
                class="flex w-[400px] h-[37px] justify-start items-start shrink-0 font-['Inter'] text-[18px] font-semibold leading-[24.3px] text-[#212121] relative text-left z-[267]"
              >
                How can financial consulting help my business/personal finances?
              </span>
            </div>
            <div
              class="flex w-[30.418px] pt-[5px] pr-[5px] pb-[5px] pl-[5px] gap-[10px] items-center shrink-0 flex-nowrap bg-[#ed7c00] rounded-[8px] relative z-[268]"
            >
              <div
                class="w-[20.418px] h-[20.418px] shrink-0 relative overflow-hidden z-[269]"
              >
                <div
                  class="w-[12px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/eKqRguy4MD.png)] bg-[length:100%_100%] bg-no-repeat relative z-[270] mt-[9.902px] mr-0 mb-0 ml-[4.209px]"
                >
                </div>
              </div>
            </div>
          </div>
          <span
            class="flex w-[504px] h-[110px] justify-start items-start shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[271]"
          >
            Financial consulting helps you make smarter money decisions. For
            businesses, it improves cash flow, reduces taxes, and boosts
            profits. For personal finances, it helps with budgeting,
            investments, and long-term planning like saving for a home or
            retirement.
          </span>
        </div>
        <div
          class="flex w-[576px] h-[92px] pt-[30px] pr-[36px] pb-[30px] pl-[36px] flex-col gap-[16px] items-start shrink-0 flex-nowrap bg-[#fff] rounded-[16px] border-solid border border-[#f5f7fa] relative shadow-[0_1px_4px_0_rgba(237,124,0,0.12)] z-[272]"
        >
          <div
            class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative z-[273]"
          >
            <div
              class="flex w-[400px] gap-[8px] items-center shrink-0 flex-nowrap relative z-[274]"
            >
              <span
                class="flex w-[400px] h-[37px] justify-start items-start shrink-0 font-['Inter'] text-[18px] font-semibold leading-[24.3px] text-[#212121] relative text-left z-[275]"
              >
                What qualifications and certifications do your advisors have?
              </span>
            </div>
            <div
              class="flex w-[30.418px] pt-[5px] pr-[5px] pb-[5px] pl-[5px] gap-[10px] items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[8px] relative z-[276]"
            >
              <div
                class="w-[20.418px] h-[20.418px] shrink-0 relative overflow-hidden z-[277]"
              >
                <div
                  class="w-[12px] h-[12px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/wd7hWn2i4i.png)] bg-[length:100%_100%] bg-no-repeat relative z-[278] mt-[3.902px] mr-0 mb-0 ml-[4.209px]"
                >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex w-[576px] h-[92px] pt-[30px] pr-[36px] pb-[30px] pl-[36px] flex-col gap-[16px] items-start shrink-0 flex-nowrap bg-[#fff] rounded-[16px] border-solid border border-[#f5f7fa] relative shadow-[0_1px_4px_0_rgba(237,124,0,0.12)] z-[279]"
        >
          <div
            class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative z-[280]"
          >
            <div
              class="flex w-[400px] gap-[8px] items-center shrink-0 flex-nowrap relative z-[281]"
            >
              <span
                class="flex w-[400px] h-[37px] justify-start items-start shrink-0 font-['Inter'] text-[18px] font-semibold leading-[24.3px] text-[#212121] relative text-left z-[282]"
              >
                What is the process for working with your firm?
              </span>
            </div>
            <div
              class="flex w-[30.418px] pt-[5px] pr-[5px] pb-[5px] pl-[5px] gap-[10px] items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[8px] relative z-[283]"
            >
              <div
                class="w-[20.418px] h-[20.418px] shrink-0 relative overflow-hidden z-[284]"
              >
                <div
                  class="w-[12px] h-[12px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/ZOBtQmbLKO.png)] bg-[length:100%_100%] bg-no-repeat relative z-[285] mt-[3.902px] mr-0 mb-0 ml-[4.209px]"
                >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex w-[576px] flex-col gap-[20px] items-start shrink-0 flex-nowrap relative z-[286]"
      >
        <div
          class="flex w-[576px] h-[92px] pt-[30px] pr-[36px] pb-[30px] pl-[36px] flex-col gap-[16px] items-start shrink-0 flex-nowrap bg-[#fff] rounded-[16px] border-solid border border-[#f5f7fa] relative shadow-[0_1px_4px_0_rgba(237,124,0,0.12)] z-[287]"
        >
          <div
            class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative z-[288]"
          >
            <div
              class="flex w-[328px] gap-[8px] items-center shrink-0 flex-nowrap relative z-[289]"
            >
              <span
                class="h-[13px] shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[13px] text-[#212121] relative text-left whitespace-nowrap z-[290]"
              >
                How do you charge for your services?
              </span>
            </div>
            <div
              class="flex w-[30.418px] pt-[5px] pr-[5px] pb-[5px] pl-[5px] gap-[10px] items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[8px] relative z-[291]"
            >
              <div
                class="w-[20.418px] h-[20.418px] shrink-0 relative overflow-hidden z-[292]"
              >
                <div
                  class="w-[12px] h-[12px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/ivpLALhyrm.png)] bg-[length:100%_100%] bg-no-repeat relative z-[293] mt-[3.902px] mr-0 mb-0 ml-[4.209px]"
                >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex w-[576px] h-[92px] pt-[30px] pr-[36px] pb-[30px] pl-[36px] flex-col gap-[16px] items-start shrink-0 flex-nowrap bg-[#fff] rounded-[16px] border-solid border border-[#f5f7fa] relative shadow-[0_1px_4px_0_rgba(237,124,0,0.12)] z-[294]"
        >
          <div
            class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative z-[295]"
          >
            <div
              class="flex w-[400px] gap-[8px] items-center shrink-0 flex-nowrap relative z-[296]"
            >
              <span
                class="flex w-[400px] h-[37px] justify-start items-start shrink-0 font-['Inter'] text-[18px] font-semibold leading-[24.3px] text-[#212121] relative text-left z-[297]"
              >
                Can you provide examples of successful client outcomes?
              </span>
            </div>
            <div
              class="flex w-[30.418px] pt-[5px] pr-[5px] pb-[5px] pl-[5px] gap-[10px] items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[8px] relative z-[298]"
            >
              <div
                class="w-[20.418px] h-[20.418px] shrink-0 relative overflow-hidden z-[299]"
              >
                <div
                  class="w-[12px] h-[12px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/XKtKbk8smE.png)] bg-[length:100%_100%] bg-no-repeat relative z-[300] mt-[3.902px] mr-0 mb-0 ml-[4.209px]"
                >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex w-[576px] h-[92px] pt-[30px] pr-[36px] pb-[30px] pl-[36px] flex-col gap-[16px] items-start shrink-0 flex-nowrap bg-[#fff] rounded-[16px] border-solid border border-[#f5f7fa] relative shadow-[0_1px_4px_0_rgba(237,124,0,0.12)] z-[301]"
        >
          <div
            class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative z-[302]"
          >
            <div
              class="flex w-[400px] gap-[8px] items-center shrink-0 flex-nowrap relative z-[303]"
            >
              <span
                class="flex w-[400px] h-[37px] justify-start items-start shrink-0 font-['Inter'] text-[18px] font-semibold leading-[24.3px] text-[#212121] relative text-left z-[304]"
              >
                What is your approach to investment planning and management?
              </span>
            </div>
            <div
              class="flex w-[30.418px] pt-[5px] pr-[5px] pb-[5px] pl-[5px] gap-[10px] items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[8px] relative z-[305]"
            >
              <div
                class="w-[20.418px] h-[20.418px] shrink-0 relative overflow-hidden z-[306]"
              >
                <div
                  class="w-[12px] h-[12px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/jCkHJCeuxx.png)] bg-[length:100%_100%] bg-no-repeat relative z-[307] mt-[3.902px] mr-0 mb-0 ml-[4.209px]"
                >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
