<div
  class="main-container w-full h-[4364px] relative flex justify-center flex-col mx-auto my-0"
>
  <div
    class="flex max-w-[1440px] w-full pt-[80px] pr-[120px] pb-[80px] pl-[120px] gap-[24px] justify-center items-start flex-nowrap relative mx-auto"
  >
    <div
      class="flex gap-[48px] items-center grow shrink-0 basis-0 flex-nowrap relative z-[1]"
    >
      <div
        class="flex flex-col gap-[32px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[2]"
      >
        <div
          class="flex flex-col gap-[12px] items-start self-stretch shrink-0 flex-nowrap relative z-[3]"
        >
          <span
            class="flex w-[576px] h-[84px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[36px] font-bold leading-[42px] text-[#04092a] relative text-left z-[4]"
          >
            Your Accounting Partner, Built for SMBs
          </span>
          <span
            class="flex w-[576px] h-[135px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[18px] font-normal leading-[27px] text-[#5c667a] relative text-left z-[5]"
          >
            FinnKeepers is an accounting services brand under Knowcraft
            Analytics, delivering tech-enabled bookkeeping, payroll, and
            financial reporting support to growth-focused U.S. businesses. With
            deep expertise in cloud accounting, we act as your extended finance
            team, efficient, affordable, and always audit-ready.
          </span>
        </div>
        <div
          class="flex w-[176px] h-[50px] pt-0 pr-[15px] pb-0 pl-[15px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap bg-[#fff] rounded-[8px] border-solid border border-[#ed7c00] relative shadow-[0_2px_0_0_rgba(0,0,0,0.02)] z-[6]"
        >
          <div
            class="flex w-[146px] h-[40px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[7]"
          >
            <span
              class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#ed7c00] relative text-left whitespace-nowrap z-[8]"
            >
              Talk to an Expert
            </span>
          </div>
        </div>
      </div>
      <div
        class="flex gap-[62px] items-start grow shrink-0 basis-0 flex-wrap relative z-[9]"
      >
        <div
          class="flex w-[236px] pt-0 pr-0 pb-0 pl-[16px] flex-col gap-[4px] justify-center items-start flex-nowrap border-solid border-l-2 border-l-[#007164] relative z-10"
        >
          <div
            class="w-[220px] self-stretch shrink-0 font-['Inter'] text-[36px] font-bold leading-[46.8px] relative text-left whitespace-nowrap z-[11]"
          >
            <span
              class="font-['Inter'] text-[36px] font-bold leading-[46.8px] text-[#04092a] relative text-left"
            >
              850
            </span>
            <span
              class="font-['Inter'] text-[36px] font-bold leading-[46.8px] text-[#ed7c00] relative text-left"
            >
              +
            </span>
          </div>
          <span
            class="h-[24px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[24px] text-[#5c667a] relative text-left whitespace-nowrap z-[12]"
          >
            Accounting firm Served
          </span>
        </div>
        <div
          class="flex w-[236px] pt-0 pr-0 pb-0 pl-[16px] flex-col gap-[4px] justify-center items-start flex-nowrap border-solid border-l-2 border-l-[#007164] relative z-[16]"
        >
          <span
            class="h-[47px] self-stretch shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[46.8px] text-[#04092a] relative text-left whitespace-nowrap z-[17]"
          >
            39
          </span>
          <span
            class="h-[24px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[24px] text-[#5c667a] relative text-left whitespace-nowrap z-[18]"
          >
            Offices in 5 Countries
          </span>
        </div>
        <div
          class="flex w-[236px] pt-0 pr-0 pb-0 pl-[16px] flex-col gap-[4px] justify-center items-start flex-nowrap border-solid border-l-2 border-l-[#007164] relative z-[13]"
        >
          <div
            class="w-[220px] self-stretch shrink-0 font-['Inter'] text-[36px] font-bold leading-[46.8px] relative text-left whitespace-nowrap z-[14]"
          >
            <span
              class="font-['Inter'] text-[36px] font-bold leading-[46.8px] text-[#04092a] relative text-left"
            >
              200K
            </span>
            <span
              class="font-['Inter'] text-[36px] font-bold leading-[46.8px] text-[#ed7c00] relative text-left"
            >
              +
            </span>
          </div>
          <span
            class="h-[24px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[24px] text-[#5c667a] relative text-left whitespace-nowrap z-[15]"
          >
            Network Of Professionals
          </span>
        </div>
        <div
          class="flex w-[236px] pt-0 pr-0 pb-0 pl-[16px] flex-col gap-[4px] justify-center items-start flex-nowrap border-solid border-l-2 border-l-[#007164] relative z-[19]"
        >
          <div
            class="w-[220px] self-stretch shrink-0 font-['Inter'] text-[36px] font-bold leading-[46.8px] relative text-left whitespace-nowrap z-20"
          >
            <span
              class="font-['Inter'] text-[36px] font-bold leading-[46.8px] text-[#04092a] relative text-left"
            >
              100
            </span>
            <span
              class="font-['Inter'] text-[36px] font-bold leading-[46.8px] text-[#ed7c00] relative text-left"
            >
              +
            </span>
          </div>
          <span
            class="h-[24px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[24px] text-[#5c667a] relative text-left whitespace-nowrap z-[21]"
          >
            Qualification
          </span>
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex w-full pt-[80px] pr-[120px] pb-[80px] pl-[120px] gap-[24px] items-start flex-nowrap bg-[#f5f7fa] relative z-[22] mt-0 mr-0 mb-0 ml-0 justify-center"
  >
    <div
      class="flex w-[1200px] justify-between items-center shrink-0 flex-nowrap relative z-[23]"
    >
      <div class="w-[576px] h-[287.674px] shrink-0 relative z-[24]">
        <div
          class="w-[49.451px] h-[49.451px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/VnKF0fMc22.png)] bg-cover bg-no-repeat relative overflow-hidden z-[26] mt-[118.577px] mr-0 mb-0 ml-[262.734px]"
        >
        </div>
        <div
          class="w-[576px] h-[287.674px] bg-[rgba(0,0,0,0.12)] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/mjsskrpPBj.png)] bg-cover bg-no-repeat rounded-[21.388px] absolute top-0 left-0 z-[25]"
        >
        </div>
      </div>
      <div
        class="flex w-[576px] flex-col gap-[24px] items-start shrink-0 flex-nowrap relative z-[27]"
      >
        <div
          class="flex flex-col gap-[12px] items-start self-stretch shrink-0 flex-nowrap relative z-[28]"
        >
          <span
            class="h-[42px] self-stretch shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[42px] text-[#04092a] relative text-left whitespace-nowrap z-[29]"
          >
            Why Businesses Trust Us
          </span>
          <span
            class="flex w-[576px] h-[135px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[18px] font-normal leading-[27px] text-[#5c667a] relative text-left z-30"
          >
            Discover how our clients streamline operations and gain financial
            confidence through precise bookkeeping, personalized support, and
            real-time insights. With a dedicated team and a tech-enabled
            approach, we don’t just manage numbers—we empower growth,
            compliance, and clarity at every step.
          </span>
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex w-full pt-[80px] pr-[120px] pb-[80px] pl-[120px] gap-[24px] items-start flex-nowrap bg-[#106253] relative z-[31] mt-0 mr-0 mb-0 ml-0 justify-center"
  >
    <div
      class="flex w-[1200px] justify-between items-center shrink-0 flex-nowrap relative z-[32]"
    >
      <div
        class="flex w-[570px] flex-col gap-[32px] items-start shrink-0 flex-nowrap relative z-[33]"
      >
        <span
          class="flex w-[570px] h-[105px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[36px] font-bold leading-[42px] text-[#fff] relative text-left z-[34]"
        >
          Building Resilient  Financial Strategies
        </span>
        <div class="w-[534.619px] h-[445.667px] shrink-0 relative z-[35]">
          <div
            class="w-[468.349px] h-[129.227px] relative z-[36] mt-0 mr-0 mb-0 ml-[66.271px]"
          >
            <div
              class="rounded-[124.257px] border-solid border-[0.83px] border-[#eaeaea] absolute top-0 bottom-0 left-0 right-0 z-[37]"
            >
              <div
                class="w-[341.08px] h-[87.437px] text-[0px] absolute top-[17.396px] left-[96.092px] z-[41]"
              >
                <span
                  class="block h-[28px] font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#fff] relative text-left whitespace-nowrap z-40 mt-0 mr-0 mb-0 ml-0"
                >
                  Strategic Market Insight
                </span>
                <span
                  class="flex w-[341px] h-[44px] justify-start items-start font-['Inter'] text-[16px] font-medium leading-[22px] text-[#fff] relative text-left z-[41] mt-[15.437px] mr-0 mb-0 ml-[0.08px]"
                >
                  We analyze market trends and financial health to uncover
                  opportunities{" "}
                </span>
              </div>
              <div
                class="w-[50.531px] h-[51.053px] bg-[#ed7c00] rounded-[25.398px] absolute top-[34.833px] left-[25.172px] z-[38]"
              >
                <div
                  class="w-[22.366px] h-[22.366px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/o3wBK4j2pv.png)] bg-cover bg-no-repeat relative z-[39] mt-[14.082px] mr-0 mb-0 ml-[14.082px]"
                >
                </div>
              </div>
            </div>
          </div>
          <div
            class="w-[468.349px] h-[129.227px] relative z-[42] mt-[28.994px] mr-0 mb-0 ml-0"
          >
            <div
              class="rounded-[124.257px] border-solid border-[0.83px] border-[#eaeaea] absolute top-0 bottom-0 left-0 right-0 z-[43]"
            >
              <div
                class="w-[358.351px] h-[87.216px] text-[0px] absolute top-[17.396px] left-[96.092px] z-[47]"
              >
                <span
                  class="block h-[28px] font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#fff] relative text-left whitespace-nowrap z-[46] mt-0 mr-0 mb-0 ml-0"
                >
                  Revenue Acceleration
                </span>
                <span
                  class="flex w-[358px] h-[44px] justify-start items-start font-['Inter'] text-[16px] font-medium leading-[22px] text-[#fff] relative text-left z-[47] mt-[15.216px] mr-0 mb-0 ml-[0.35px]"
                >
                  Optimize your financial systems to support smarter sales,
                  sustainable{" "}
                </span>
              </div>
              <div
                class="w-[50.531px] h-[51.053px] bg-[#ed7c00] rounded-[25.398px] absolute top-[34.612px] left-[24.442px] z-[44]"
              >
                <div
                  class="w-[22.366px] h-[22.366px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/rFsJfGuGEL.png)] bg-cover bg-no-repeat relative z-[45] mt-[14.082px] mr-0 mb-0 ml-[14.082px]"
                >
                </div>
              </div>
            </div>
          </div>
          <div
            class="w-[468.349px] h-[129.227px] relative z-[48] mt-[28.993px] mr-0 mb-0 ml-[66.271px]"
          >
            <div
              class="rounded-[124.257px] border-solid border-[0.83px] border-[#eaeaea] absolute top-0 bottom-0 left-0 right-0 z-[49]"
            >
              <div
                class="w-[364.08px] h-[86.995px] text-[0px] absolute top-[17.396px] left-[96.092px] z-[53]"
              >
                <span
                  class="block h-[28px] font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#fff] relative text-left whitespace-nowrap z-[52] mt-0 mr-0 mb-0 ml-0"
                >
                  Tailored for Every Platform
                </span>
                <span
                  class="flex w-[364px] h-[44px] justify-start items-start font-['Inter'] text-[16px] font-medium leading-[22px] text-[#fff] relative text-left z-[53] mt-[14.995px] mr-0 mb-0 ml-[0.08px]"
                >
                  Our tools work smoothly across devices accurate, accessible,
                  always ready.
                </span>
              </div>
              <div
                class="w-[50.531px] h-[51.053px] bg-[#ed7c00] rounded-[25.398px] absolute top-[34.391px] left-[25.172px] z-50"
              >
                <div
                  class="w-[22.366px] h-[22.366px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/t81ZYCJ4VX.png)] bg-cover bg-no-repeat relative z-[51] mt-[14.082px] mr-0 mb-0 ml-[14.082px]"
                >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="w-[569px] h-[370.512px] shrink-0 rounded-[11.027px] relative z-[54]"
      >
        <div
          class="w-[569px] h-[370.512px] rounded-[11.027px] absolute top-0 left-0 z-[55]"
        >
          <div
            class="w-[358.382px] h-[247.008px] bg-[#fff] rounded-[11.027px] absolute top-0 left-[210.618px] overflow-hidden shadow-[4.411px_8.822px_17.643px_0_rgba(142,106,185,0.25)] z-[61]"
          >
            <div
              class="w-[296.63px] h-[220.694px] text-[0px] absolute top-[14.335px] left-[26.465px] z-[77]"
            >
              <span
                class="block h-[33px] font-['Poppins'] text-[22.054262161254883px] font-medium leading-[33px] text-[#abaeb6] relative text-left whitespace-nowrap z-[62] mt-0 mr-0 mb-0 ml-0"
              >
                Sales
              </span>
              <span
                class="block h-[30px] font-['Poppins'] text-[19.84883689880371px] font-bold leading-[29.773px] text-[#ed7c00] relative text-left whitespace-nowrap z-[74] mt-[-7.638px] mr-0 mb-0 ml-0"
              >
                5248
              </span>
              <div
                class="w-[261.343px] h-[20px] relative z-[63] mt-[145.332px] mr-0 mb-0 ml-[22.055px]"
              >
                <span
                  class="flex h-[20px] justify-start items-center font-['Poppins'] text-[13.232558250427246px] font-normal leading-[19.849px] text-[#abaeb6] absolute top-0 left-0 text-left whitespace-nowrap z-[64]"
                >
                  M
                </span>
                <span
                  class="flex h-[20px] justify-start items-center font-['Poppins'] text-[13.232558250427246px] font-normal leading-[19.849px] text-[#abaeb6] absolute top-0 left-[46.824px] text-left whitespace-nowrap z-[65]"
                >
                  T
                </span>
                <span
                  class="flex h-[20px] justify-start items-center font-['Poppins'] text-[13.232558250427246px] font-normal leading-[19.849px] text-[#abaeb6] absolute top-0 left-[84.937px] text-left whitespace-nowrap z-[66]"
                >
                  W
                </span>
                <span
                  class="flex h-[20px] justify-start items-center font-['Poppins'] text-[13.232558250427246px] font-normal leading-[19.849px] text-[#abaeb6] absolute top-0 left-[131.761px] text-left whitespace-nowrap z-[67]"
                >
                  T
                </span>
                <span
                  class="flex h-[20px] justify-start items-center font-['Poppins'] text-[13.232558250427246px] font-normal leading-[19.849px] text-[#abaeb6] absolute top-0 left-[169.873px] text-left whitespace-nowrap z-[68]"
                >
                  F
                </span>
                <span
                  class="flex h-[20px] justify-start items-center font-['Poppins'] text-[13.232558250427246px] font-normal leading-[19.849px] text-[#abaeb6] absolute top-0 left-[207.985px] text-left whitespace-nowrap z-[69]"
                >
                  S
                </span>
                <span
                  class="flex h-[20px] justify-start items-center font-['Poppins'] text-[13.232558250427246px] font-normal leading-[19.849px] text-[#abaeb6] absolute top-0 left-[246.098px] text-left whitespace-nowrap z-[70]"
                >
                  S
                </span>
              </div>
              <div
                class="w-[79.395px] h-[39.698px] text-[0px] absolute top-[56.239px] left-[165.407px] z-[77]"
              >
                <span
                  class="block h-[9px] font-['Poppins'] text-[8.821704864501953px] font-medium leading-[8.822px] text-[#abaeb6] relative text-left whitespace-nowrap z-[79] mt-[3.308px] mr-0 mb-0 ml-[25.362px]"
                >
                  Jan 18
                </span>
                <div
                  class="w-[69px] h-[14px] font-['Poppins'] text-[13.232558250427246px] font-medium leading-[13.233px] relative text-left whitespace-nowrap z-[80] mt-[2.027px] mr-0 mb-0 ml-[4.411px]"
                >
                  <span
                    class="font-['Poppins'] text-[11.027131080627441px] font-medium leading-[13.233px] text-[#2d55b4] relative text-left"
                  >
                    Sales:
                  </span>
                  <span
                    class="font-['Poppins'] text-[13.232558250427246px] font-medium leading-[13.233px] text-[#ed7c00] relative text-left"
                  >
                    {" "}
                  </span>
                  <span
                    class="font-['Poppins'] text-[13.232558250427246px] font-medium leading-[13.233px] text-[#ed7c00] relative text-left"
                  >
                    5200
                  </span>
                </div>
                <div
                  class="w-[79.395px] h-[39.698px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/goXuOFBZ8G.png)] bg-cover bg-no-repeat absolute top-0 left-0 z-[78]"
                >
                </div>
              </div>
              <div
                class="w-[287.808px] h-[132.326px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/qy73bTSMPi.png)] bg-cover bg-no-repeat absolute top-[67.266px] left-[8.822px] z-[73]"
              >
              </div>
              <div
                class="w-[260.792px] h-[89.329px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/WroYAcUej9.png)] bg-cover bg-no-repeat absolute top-[76.629px] left-[22.055px] z-[75]"
              >
              </div>
              <div
                class="w-[4.411px] h-[4.411px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/Fd0yvocOik.png)] bg-cover bg-no-repeat rounded-[50%] absolute top-[98.143px] left-[202.899px] box-content z-[76]"
              >
              </div>
            </div>
            <div
              class="w-[26.465px] h-[26.465px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/cZBXybNJei.png)] bg-cover bg-no-repeat absolute top-[17.644px] left-[305.451px] overflow-hidden z-[72]"
            >
            </div>
            <div
              class="w-[14px] h-[114.038px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/jTYWmT8CFv.png)] bg-cover bg-no-repeat absolute top-[88.218px] left-[19.849px] z-[71]"
            >
            </div>
          </div>
          <div
            class="w-[358.382px] h-[247.008px] bg-[#fff] rounded-[11.027px] absolute top-[123.504px] left-0 overflow-hidden z-[56]"
          >
            <div
              class="w-[305.451px] h-[215.03px] text-[0px] absolute top-[14.335px] left-[26.465px] z-[60]"
            >
              <span
                class="block h-[33px] font-['Poppins'] text-[22.054262161254883px] font-medium leading-[33px] text-[#abaeb6] relative text-left whitespace-nowrap z-[57] mt-0 mr-0 mb-0 ml-0"
              >
                Expenses
              </span>
              <span
                class="block h-[30px] font-['Poppins'] text-[19.84883689880371px] font-bold leading-[29.773px] text-[#37383b] relative text-left whitespace-nowrap z-[60] mt-[-7.638px] mr-0 mb-0 ml-0"
              >
                $4200.30
              </span>
              <div
                class="w-[305.451px] h-[142.251px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/npJy7aSOqj.png)] bg-cover bg-no-repeat rounded-[11.027px] relative z-[59] mt-[17.417px] mr-0 mb-0 ml-0"
              >
              </div>
            </div>
            <div
              class="w-[26.465px] h-[26.465px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/m6ePcNwaZ8.png)] bg-cover bg-no-repeat absolute top-[25.362px] left-[305.451px] overflow-hidden z-[58]"
            >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex w-full pt-[80px] pr-[120px] pb-[80px] pl-[120px] flex-col gap-[32px] items-center flex-nowrap bg-[#fff] relative z-[81] mt-0 mr-0 mb-0 ml-0"
  >
    <div
      class="flex w-[1200px] justify-between items-center shrink-0 flex-nowrap relative z-[82]"
    >
      <span
        class="h-[42px] shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[42px] text-[#28241f] relative text-left whitespace-nowrap z-[83]"
      >
        Our Core Financial Services
      </span>
      <div
        class="flex w-[286px] h-[50px] pt-0 pr-[15px] pb-0 pl-[15px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap bg-[#ed7c00] rounded-[8px] relative z-[84]"
      >
        <div
          class="flex w-[256px] h-[40px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[85]"
        >
          <span
            class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#fff] relative text-left whitespace-nowrap z-[86]"
          >
            Schedule a Free Consultation
          </span>
        </div>
      </div>
    </div>
    <div
      class="flex w-[1200px] flex-col gap-[25px] items-start shrink-0 flex-nowrap relative z-[87]"
    >
      <div
        class="flex gap-[25px] items-center self-stretch shrink-0 flex-nowrap relative z-[88]"
      >
        <div
          class="flex h-[299px] pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[18px] items-start grow shrink-0 basis-0 flex-nowrap bg-[#fff] rounded-[16px] relative shadow-[0_1px_11.1px_0_rgba(237,124,0,0.16)] z-[89]"
        >
          <div
            class="flex flex-col gap-[12px] items-start self-stretch grow shrink-0 basis-0 flex-nowrap relative z-[90]"
          >
            <div
              class="flex w-[241px] flex-col gap-[24px] items-start shrink-0 flex-nowrap relative z-[91]"
            >
              <div
                class="w-[48px] h-[48px] shrink-0 relative overflow-hidden z-[92]"
              >
                <div
                  class="w-[37px] h-[43px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/Rrb4n8qbbe.png)] bg-[length:100%_100%] bg-no-repeat relative z-[93] mt-[4px] mr-0 mb-0 ml-[7px]"
                >
                </div>
              </div>
              <span
                class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left whitespace-nowrap z-[94]"
              >
                Bookkeeping
              </span>
            </div>
            <span
              class="flex w-[343.333px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[95]"
            >
              Accurate, timely recording of your day-to-day financial
              transactions to keep your books clean and audit-ready.
            </span>
          </div>
          <div
            class="flex gap-[14.131px] justify-end items-center self-stretch shrink-0 flex-nowrap rounded-[44.158px] relative z-[96]"
          >
            <div
              class="w-[24.136px] h-[24.385px] shrink-0 bg-[#ed7c00] rounded-[12.131px] relative z-[97]"
            >
              <div
                class="w-[10.683px] h-[10.683px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/ty62UYB23Z.png)] bg-cover bg-no-repeat relative z-[98] mt-[6.726px] mr-0 mb-0 ml-[6.727px]"
              >
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex h-[299px] pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[18px] items-start grow shrink-0 basis-0 flex-nowrap bg-[#fff] rounded-[16px] relative shadow-[0_1px_11.1px_0_rgba(237,124,0,0.16)] z-[99]"
        >
          <div
            class="flex flex-col gap-[12px] items-start self-stretch grow shrink-0 basis-0 flex-nowrap relative z-[100]"
          >
            <div
              class="flex w-[241px] flex-col gap-[24px] items-start shrink-0 flex-nowrap relative z-[101]"
            >
              <div
                class="w-[48px] h-[48px] shrink-0 relative overflow-hidden z-[102]"
              >
                <div
                  class="w-[32px] h-[40px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/h2o3xiyb1w.png)] bg-[length:100%_100%] bg-no-repeat relative z-[103] mt-[4px] mr-0 mb-0 ml-[7px]"
                >
                </div>
              </div>
              <span
                class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left whitespace-nowrap z-[104]"
              >
                Financial Modeling
              </span>
            </div>
            <span
              class="flex w-[343.333px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[105]"
            >
              Custom-built financial models to forecast revenue, costs, and cash
              flow — empowering smarter strategic planning.
            </span>
          </div>
          <div
            class="flex gap-[14.131px] justify-end items-center self-stretch shrink-0 flex-nowrap rounded-[44.158px] relative z-[106]"
          >
            <div
              class="w-[24.136px] h-[24.385px] shrink-0 bg-[#ed7c00] rounded-[12.131px] relative z-[107]"
            >
              <div
                class="w-[10.683px] h-[10.683px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/XGdr85U80k.png)] bg-cover bg-no-repeat relative z-[108] mt-[6.726px] mr-0 mb-0 ml-[6.727px]"
              >
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex h-[299px] pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[18px] items-start grow shrink-0 basis-0 flex-nowrap bg-[#fff] rounded-[16px] relative shadow-[0_1px_11.1px_0_rgba(237,124,0,0.16)] z-[109]"
        >
          <div
            class="flex flex-col gap-[12px] items-start self-stretch grow shrink-0 basis-0 flex-nowrap relative z-[110]"
          >
            <div
              class="flex w-[241px] flex-col gap-[24px] items-start shrink-0 flex-nowrap relative z-[111]"
            >
              <div
                class="w-[48px] h-[48px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/b5TprYOVpR.png)] bg-cover bg-no-repeat relative overflow-hidden z-[112]"
              >
              </div>
              <span
                class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left whitespace-nowrap z-[113]"
              >
                Historical Cleanup
              </span>
            </div>
            <span
              class="flex w-[343.333px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[114]"
            >
              We organize and correct your past financial data, ensuring your
              records are accurate and compliant.
            </span>
          </div>
          <div
            class="flex gap-[14.131px] justify-end items-center self-stretch shrink-0 flex-nowrap rounded-[44.158px] relative z-[115]"
          >
            <div
              class="w-[24.136px] h-[24.385px] shrink-0 bg-[#ed7c00] rounded-[12.131px] relative z-[116]"
            >
              <div
                class="w-[10.683px] h-[10.683px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/ea5MkwQgTV.png)] bg-cover bg-no-repeat relative z-[117] mt-[6.726px] mr-0 mb-0 ml-[6.727px]"
              >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex h-[299px] gap-[25px] items-center self-stretch shrink-0 flex-nowrap relative z-[118]"
      >
        <div
          class="flex h-[299px] pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[18px] items-start grow shrink-0 basis-0 flex-nowrap bg-[#fff] rounded-[16px] relative shadow-[0_1px_11.1px_0_rgba(237,124,0,0.16)] z-[119]"
        >
          <div
            class="flex flex-col gap-[12px] items-start self-stretch grow shrink-0 basis-0 flex-nowrap relative z-[120]"
          >
            <div
              class="flex w-[241px] flex-col gap-[24px] items-start shrink-0 flex-nowrap relative z-[121]"
            >
              <div
                class="w-[48px] h-[48px] shrink-0 relative overflow-hidden z-[122]"
              >
                <div
                  class="w-[44.887px] h-[40px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/5GY0tAVakX.png)] bg-[length:100%_100%] bg-no-repeat relative z-[123] mt-[4px] mr-0 mb-0 ml-[1.112px]"
                >
                </div>
              </div>
              <span
                class="h-[28px] shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left whitespace-nowrap z-[124]"
              >
                Accounts Reconciliation
              </span>
            </div>
            <span
              class="flex w-[343.333px] h-[88px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[125]"
            >
              Reconcile bank statements, vendor accounts, and ledgers to
              identify discrepancies and maintain financial integrity.
            </span>
          </div>
          <div
            class="flex gap-[14.131px] justify-end items-center self-stretch shrink-0 flex-nowrap rounded-[44.158px] relative z-[126]"
          >
            <div
              class="w-[24.136px] h-[24.385px] shrink-0 bg-[#ed7c00] rounded-[12.131px] relative z-[127]"
            >
              <div
                class="w-[10.683px] h-[10.683px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/ftLoDL4Wa5.png)] bg-cover bg-no-repeat relative z-[128] mt-[6.726px] mr-0 mb-0 ml-[6.727px]"
              >
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex h-[299px] pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[18px] items-start grow shrink-0 basis-0 flex-nowrap bg-[#fff] rounded-[16px] relative shadow-[0_1px_11.1px_0_rgba(237,124,0,0.16)] z-[129]"
        >
          <div
            class="flex flex-col gap-[12px] items-start self-stretch grow shrink-0 basis-0 flex-nowrap relative z-[130]"
          >
            <div
              class="flex w-[241px] flex-col gap-[24px] items-start shrink-0 flex-nowrap relative z-[131]"
            >
              <div
                class="w-[48px] h-[48px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/KaMAebN9Gy.png)] bg-cover bg-no-repeat relative overflow-hidden z-[132]"
              >
              </div>
              <span
                class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left whitespace-nowrap z-[133]"
              >
                Payroll Assistance
              </span>
            </div>
            <span
              class="flex w-[343.333px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[134]"
            >
              End-to-end support for processing employee payroll, managing
              taxes, and ensuring timely compliance.
            </span>
          </div>
          <div
            class="flex gap-[14.131px] justify-end items-center self-stretch shrink-0 flex-nowrap rounded-[44.158px] relative z-[135]"
          >
            <div
              class="w-[24.136px] h-[24.385px] shrink-0 bg-[#ed7c00] rounded-[12.131px] relative z-[136]"
            >
              <div
                class="w-[10.683px] h-[10.683px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/MnPzjdr3iy.png)] bg-cover bg-no-repeat relative z-[137] mt-[6.726px] mr-0 mb-0 ml-[6.727px]"
              >
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex h-[299px] pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[18px] items-start grow shrink-0 basis-0 flex-nowrap bg-[#fff] rounded-[16px] relative shadow-[0_1px_11.1px_0_rgba(237,124,0,0.16)] z-[138]"
        >
          <div
            class="flex flex-col gap-[12px] items-start self-stretch grow shrink-0 basis-0 flex-nowrap relative z-[139]"
          >
            <div
              class="flex w-[241px] flex-col gap-[24px] items-start shrink-0 flex-nowrap relative z-[140]"
            >
              <div
                class="w-[48px] h-[48px] shrink-0 relative overflow-hidden z-[141]"
              >
                <div
                  class="w-[35.104px] h-[41.624px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/5jzhu7e1ie.png)] bg-[length:100%_100%] bg-no-repeat relative z-[142] mt-[4px] mr-0 mb-0 ml-[7px]"
                >
                </div>
              </div>
              <span
                class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left whitespace-nowrap z-[143]"
              >
                Audit Support
              </span>
            </div>
            <span
              class="flex w-[343.333px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[144]"
            >
              From documentation to clarifications, we help prepare and present
              your books with confidence during audits.
            </span>
          </div>
          <div
            class="flex gap-[14.131px] justify-end items-center self-stretch shrink-0 flex-nowrap rounded-[44.158px] relative z-[145]"
          >
            <div
              class="w-[24.136px] h-[24.385px] shrink-0 bg-[#ed7c00] rounded-[12.131px] relative z-[146]"
            >
              <div
                class="w-[10.683px] h-[10.683px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/BFCu8rXefs.png)] bg-cover bg-no-repeat relative z-[147] mt-[6.726px] mr-0 mb-0 ml-[6.727px]"
              >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex w-full pt-[80px] pr-[120px] pb-[80px] pl-[120px] flex-col gap-[24px] items-center flex-nowrap bg-[#f5f7fa] relative z-[148] mt-0 mr-0 mb-0 ml-0"
  >
    <span
      class="h-[42px] shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[42px] text-[#28241f] relative text-left whitespace-nowrap z-[149]"
    >
      How It Works
    </span>
    <div
      class="flex w-[1200px] flex-col gap-[32px] items-start shrink-0 flex-nowrap relative z-[150]"
    >
      <div
        class="flex w-[987px] justify-between items-center shrink-0 flex-nowrap relative z-[151]"
      >
        <div
          class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[25px] border-solid border border-[#ed7c00] relative z-[152]"
        >
          <span
            class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#ed7c00] relative text-center whitespace-nowrap z-[153]"
          >
            1
          </span>
        </div>
        <div
          class="w-[208px] h-px shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/p0Y6n2e5S2.png)] bg-cover bg-no-repeat relative z-[154]"
        >
        </div>
        <div
          class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#ed7c00] rounded-[25px] relative z-[155]"
        >
          <span
            class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#f5f7fa] relative text-center whitespace-nowrap z-[156]"
          >
            2
          </span>
        </div>
        <div
          class="w-[208px] h-px shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/7JS9fieUBr.png)] bg-cover bg-no-repeat relative z-[157]"
        >
        </div>
        <div
          class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[25px] border-solid border border-[#ed7c00] relative z-[158]"
        >
          <span
            class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#ed7c00] relative text-center whitespace-nowrap z-[159]"
          >
            3
          </span>
        </div>
        <div
          class="w-[208px] h-px shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/kKLpbAtrCH.png)] bg-cover bg-no-repeat relative z-[160]"
        >
        </div>
        <div
          class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[25px] border-solid border border-[#ed7c00] relative z-[161]"
        >
          <span
            class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#ed7c00] relative text-center whitespace-nowrap z-[162]"
          >
            4
          </span>
        </div>
      </div>
      <div
        class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative z-[163]"
      >
        <div
          class="flex w-[255px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative z-[164]"
        >
          <span
            class="flex w-[255px] h-[56px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left z-[165]"
          >
            Schedule a Consultation
          </span>
          <span
            class="flex w-[255px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[166]"
          >
            Book online, discuss your business needs—no commitment.
          </span>
        </div>
        <div
          class="flex w-[255px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative z-[167]"
        >
          <span
            class="flex w-[225px] h-[56px] justify-start items-start shrink-0 font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left z-[168]"
          >
            Customized Proposal
          </span>
          <span
            class="flex w-[255px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[169]"
          >
            Receive a tailored pricing plan based on volume and complexity.{" "}
          </span>
        </div>
        <div
          class="flex w-[255px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative z-[170]"
        >
          <span
            class="flex w-[255px] h-[56px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left z-[171]"
          >
            Onboarding & Data Setup
          </span>
          <span
            class="flex w-[225px] h-[66px] justify-start items-start shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[172]"
          >
            Share your financial documents; our team sets up your books.{" "}
          </span>
        </div>
        <div
          class="flex w-[255px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative z-[173]"
        >
          <span
            class="flex w-[225px] h-[56px] justify-start items-start shrink-0 font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left z-[174]"
          >
            Monthly Support & Monitoring{" "}
          </span>
          <span
            class="flex w-[255px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[175]"
          >
            Ongoing bookkeeping, tax prep, payroll, and advisory—all with
            proactive alerts and insights
          </span>
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex w-full pt-[80px] pr-[120px] pb-[80px] pl-[120px] gap-[24px] justify-center items-start flex-nowrap bg-[#106253] relative z-[176] mt-0 mr-0 mb-0 ml-0"
  >
    <div
      class="flex w-[1200px] flex-col gap-[40px] items-center shrink-0 flex-nowrap relative z-[177]"
    >
      <div
        class="flex flex-col gap-[20px] items-center self-stretch shrink-0 flex-nowrap relative z-[178]"
      >
        <div
          class="flex flex-col gap-[32px] items-center self-stretch shrink-0 flex-nowrap relative z-[179]"
        >
          <div
            class="flex pt-0 pr-0 pb-0 pl-[72px] gap-[10px] justify-center items-center self-stretch shrink-0 flex-nowrap relative z-[180]"
          >
            <span
              class="flex w-[1272px] h-[42px] justify-start items-start shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[42px] text-[#fff] relative text-left whitespace-nowrap z-[181]"
            >
              What Our Customer Says
            </span>
          </div>
          <div
            class="flex w-[1164px] gap-[21.148px] justify-center items-start shrink-0 flex-nowrap relative z-[182]"
          >
            <div
              class="flex pt-[28.197px] pr-[21.148px] pb-[21.148px] pl-[21.148px] flex-col justify-between items-start self-stretch grow shrink-0 basis-0 flex-nowrap bg-[#fff] rounded-[16px] relative z-[183]"
            >
              <div
                class="flex flex-col gap-[21.148px] items-start self-stretch shrink-0 flex-nowrap relative z-[184]"
              >
                <div
                  class="flex flex-col gap-[7.049px] items-start self-stretch shrink-0 flex-nowrap relative z-[185]"
                >
                  <span
                    class="h-[20.266px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-bold leading-[20.266px] text-[#000] relative text-left whitespace-nowrap z-[186]"
                  >
                    This is a great platform.
                  </span>
                  <div
                    class="flex w-[102.213px] flex-col gap-[8.812px] items-start shrink-0 flex-nowrap relative z-[187]"
                  >
                    <div
                      class="flex gap-[3.525px] items-center self-stretch shrink-0 flex-nowrap relative z-[188]"
                    >
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/zoF6yoeuyV.png)] bg-cover bg-no-repeat relative overflow-hidden z-[189]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/DtcLdShOAd.png)] bg-cover bg-no-repeat relative overflow-hidden z-[190]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/O7TNJ9vJUT.png)] bg-cover bg-no-repeat relative overflow-hidden z-[191]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/onOKwaqXvi.png)] bg-cover bg-no-repeat relative overflow-hidden z-[192]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/7hkqwyy1x1.png)] bg-cover bg-no-repeat relative overflow-hidden z-[193]"
                      >
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="flex flex-col gap-[12.336px] items-start self-stretch shrink-0 flex-nowrap relative z-[194]"
                >
                  <div
                    class="flex flex-col gap-[7.93px] items-start self-stretch shrink-0 flex-nowrap relative z-[195]"
                  >
                    <span
                      class="flex w-[331.606px] h-[99px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[15px] font-normal leading-[24.672px] text-[#75757d] relative text-left z-[196]"
                    >
                      “There are plenty of webinars to choose from. Selection is
                      wide range. Webinars provide ability to expand knowledge
                      base in all areas desired.”
                    </span>
                  </div>
                </div>
              </div>
              <div
                class="flex gap-[8.812px] items-center self-stretch shrink-0 flex-nowrap relative z-[197]"
              >
                <div
                  class="w-[45.82px] h-[45.82px] shrink-0 bg-[#aec8ee] rounded-[52.869px] relative overflow-hidden z-[198]"
                >
                  <div
                    class="w-[45.82px] h-[45.82px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/zv6kJkz6K8.png)] bg-cover bg-no-repeat absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] z-[199]"
                  >
                  </div>
                </div>
                <div
                  class="flex flex-col items-start grow shrink-0 basis-0 flex-nowrap relative z-[200]"
                >
                  <span
                    class="h-[27px] self-stretch shrink-0 basis-auto font-['Avenir'] text-[15.860711097717285px] font-extrabold leading-[23.791px] text-[#0f0e29] relative text-left whitespace-nowrap z-[201]"
                  >
                    Miriam Lawerence,{" "}
                  </span>
                  <span
                    class="h-[20px] self-stretch shrink-0 basis-auto font-['Avenir'] text-[12.336109161376953px] font-medium leading-[17.623px] text-[#75757d] relative text-left whitespace-nowrap z-[202]"
                  >
                    HRCI Professional
                  </span>
                </div>
              </div>
              <div
                class="w-[56.394px] h-[56.394px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/QD3j6XrT1x.png)] bg-cover bg-no-repeat absolute top-[-30.841px] left-[12.337px] overflow-hidden z-[203]"
              >
              </div>
            </div>
            <div
              class="flex pt-[28.197px] pr-[21.148px] pb-[21.148px] pl-[21.148px] flex-col justify-between items-start self-stretch grow shrink-0 basis-0 flex-nowrap bg-[#fff] rounded-[16px] relative z-[204]"
            >
              <div
                class="flex flex-col gap-[21.148px] items-start self-stretch shrink-0 flex-nowrap relative z-[205]"
              >
                <div
                  class="flex flex-col gap-[7.049px] items-start self-stretch shrink-0 flex-nowrap relative z-[206]"
                >
                  <span
                    class="h-[20.266px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-bold leading-[20.266px] text-[#000] relative text-left whitespace-nowrap z-[207]"
                  >
                    This is a great platform.
                  </span>
                  <div
                    class="flex w-[102.213px] flex-col gap-[8.812px] items-start shrink-0 flex-nowrap relative z-[208]"
                  >
                    <div
                      class="flex gap-[3.525px] items-center self-stretch shrink-0 flex-nowrap relative z-[209]"
                    >
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/e6B1KRvRoo.png)] bg-cover bg-no-repeat relative overflow-hidden z-[210]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/0q6AKZjO2E.png)] bg-cover bg-no-repeat relative overflow-hidden z-[211]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/fjfKqNWV7v.png)] bg-cover bg-no-repeat relative overflow-hidden z-[212]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/dmt99xP754.png)] bg-cover bg-no-repeat relative overflow-hidden z-[213]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/Rnsu9cdLME.png)] bg-cover bg-no-repeat relative overflow-hidden z-[214]"
                      >
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="flex flex-col gap-[12.336px] items-start self-stretch shrink-0 flex-nowrap relative z-[215]"
                >
                  <div
                    class="flex flex-col gap-[7.93px] items-start self-stretch shrink-0 flex-nowrap relative z-[216]"
                  >
                    <span
                      class="flex w-[331.606px] h-[99px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[15px] font-normal leading-[24.672px] text-[#75757d] relative text-left z-[217]"
                    >
                      “There are plenty of webinars to choose from. Selection is
                      wide range. Webinars provide ability to expand knowledge
                      base in all areas desired.”
                    </span>
                  </div>
                </div>
              </div>
              <div
                class="flex gap-[8.812px] items-center self-stretch shrink-0 flex-nowrap relative z-[218]"
              >
                <div
                  class="w-[45.82px] h-[45.82px] shrink-0 bg-[#aec8ee] rounded-[52.869px] relative overflow-hidden z-[219]"
                >
                  <div
                    class="w-[45.82px] h-[45.82px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/To63RsrdSx.png)] bg-cover bg-no-repeat absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] z-[220]"
                  >
                  </div>
                </div>
                <div
                  class="flex flex-col items-start grow shrink-0 basis-0 flex-nowrap relative z-[221]"
                >
                  <span
                    class="h-[27px] self-stretch shrink-0 basis-auto font-['Avenir'] text-[15.860711097717285px] font-extrabold leading-[23.791px] text-[#0f0e29] relative text-left whitespace-nowrap z-[222]"
                  >
                    Miriam Lawerence,{" "}
                  </span>
                  <span
                    class="h-[20px] self-stretch shrink-0 basis-auto font-['Avenir'] text-[12.336109161376953px] font-medium leading-[17.623px] text-[#75757d] relative text-left whitespace-nowrap z-[223]"
                  >
                    HRCI Professional
                  </span>
                </div>
              </div>
              <div
                class="w-[56.394px] h-[56.394px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/JteAC1rmUY.png)] bg-cover bg-no-repeat absolute top-[-30.841px] left-[12.337px] overflow-hidden z-[224]"
              >
              </div>
            </div>
            <div
              class="flex pt-[28.197px] pr-[21.148px] pb-[21.148px] pl-[21.148px] flex-col justify-between items-start self-stretch grow shrink-0 basis-0 flex-nowrap bg-[#fff] rounded-[16px] relative z-[225]"
            >
              <div
                class="flex flex-col gap-[21.148px] items-start self-stretch shrink-0 flex-nowrap relative z-[226]"
              >
                <div
                  class="flex flex-col gap-[7.049px] items-start self-stretch shrink-0 flex-nowrap relative z-[227]"
                >
                  <span
                    class="h-[20.266px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-bold leading-[20.266px] text-[#000] relative text-left whitespace-nowrap z-[228]"
                  >
                    This is a great platform.
                  </span>
                  <div
                    class="flex w-[102.213px] flex-col gap-[8.812px] items-start shrink-0 flex-nowrap relative z-[229]"
                  >
                    <div
                      class="flex gap-[3.525px] items-center self-stretch shrink-0 flex-nowrap relative z-[230]"
                    >
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/2QqNOJK2OH.png)] bg-cover bg-no-repeat relative overflow-hidden z-[231]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/MwifFjOOAK.png)] bg-cover bg-no-repeat relative overflow-hidden z-[232]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/JDYZN6LPUA.png)] bg-cover bg-no-repeat relative overflow-hidden z-[233]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/GcsWSqpytL.png)] bg-cover bg-no-repeat relative overflow-hidden z-[234]"
                      >
                      </div>
                      <div
                        class="w-[17.623px] h-[17.623px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/uMNLBn5Ycc.png)] bg-cover bg-no-repeat relative overflow-hidden z-[235]"
                      >
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="flex flex-col gap-[12.336px] items-start self-stretch shrink-0 flex-nowrap relative z-[236]"
                >
                  <div
                    class="flex flex-col gap-[7.93px] items-start self-stretch shrink-0 flex-nowrap relative z-[237]"
                  >
                    <span
                      class="flex w-[331.606px] h-[99px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[15px] font-normal leading-[24.672px] text-[#75757d] relative text-left z-[238]"
                    >
                      “There are plenty of webinars to choose from. Selection is
                      wide range. Webinars provide ability to expand knowledge
                      base in all areas desired.”
                    </span>
                  </div>
                </div>
              </div>
              <div
                class="flex gap-[8.812px] items-center self-stretch shrink-0 flex-nowrap relative z-[239]"
              >
                <div
                  class="w-[45.82px] h-[45.82px] shrink-0 bg-[#aec8ee] rounded-[52.869px] relative overflow-hidden z-[240]"
                >
                  <div
                    class="w-[45.82px] h-[45.82px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/zdpyMGh6Gk.png)] bg-cover bg-no-repeat absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] z-[241]"
                  >
                  </div>
                </div>
                <div
                  class="flex flex-col items-start grow shrink-0 basis-0 flex-nowrap relative z-[242]"
                >
                  <span
                    class="h-[27px] self-stretch shrink-0 basis-auto font-['Avenir'] text-[15.860711097717285px] font-extrabold leading-[23.791px] text-[#0f0e29] relative text-left whitespace-nowrap z-[243]"
                  >
                    Miriam Lawerence,{" "}
                  </span>
                  <span
                    class="h-[20px] self-stretch shrink-0 basis-auto font-['Avenir'] text-[12.336109161376953px] font-medium leading-[17.623px] text-[#75757d] relative text-left whitespace-nowrap z-[244]"
                  >
                    HRCI Professional
                  </span>
                </div>
              </div>
              <div
                class="w-[56.394px] h-[56.394px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/seKHCjvjwt.png)] bg-cover bg-no-repeat absolute top-[-30.841px] left-[12.337px] overflow-hidden z-[245]"
              >
              </div>
            </div>
          </div>
          <div
            class="w-[35px] h-[10px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/qGPratvdHh.png)] bg-cover bg-no-repeat relative z-[246]"
          >
          </div>
        </div>
        <div
          class="w-[670px] h-px shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/CZVb24VtwD.png)] bg-cover bg-no-repeat relative z-[247]"
        >
        </div>
      </div>
      <div
        class="flex w-[540px] gap-[20px] items-start shrink-0 flex-nowrap relative z-[248]"
      >
        <div
          class="flex w-[260px] pt-[16px] pr-[24px] pb-[16px] pl-[24px] flex-col gap-[12px] items-center shrink-0 flex-nowrap bg-[#fff] rounded-[12px] border-solid border border-[#eaeaea] relative z-[249]"
        >
          <div
            class="flex w-[206.823px] gap-[10px] items-center shrink-0 flex-nowrap relative z-[250]"
          >
            <div
              class="w-[122.157px] h-[30px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/DLe5q2X5gH.png)] bg-cover bg-no-repeat relative overflow-hidden z-[251]"
            >
            </div>
            <div
              class="w-[74.667px] h-[14px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/yzqQMXKe4H.png)] bg-cover bg-no-repeat relative overflow-hidden z-[252]"
            >
            </div>
          </div>
          <div
            class="flex w-[197px] gap-[10px] items-start shrink-0 flex-nowrap relative z-[253]"
          >
            <div
              class="w-[197px] shrink-0 font-['Inter'] text-[14px] font-normal leading-[16.943px] relative text-left whitespace-nowrap z-[254]"
            >
              <span
                class="font-['Avenir'] text-[14px] font-extrabold leading-[16.943px] text-[#2d2d2d] relative text-left"
              >
                TrustScore 4.9 |{" "}
              </span>
              <span
                class="font-['Avenir'] text-[14px] font-extrabold leading-[16.943px] text-[#2d2d2d] relative text-left underline"
              >
                400+ Reviews
              </span>
            </div>
          </div>
        </div>
        <div
          class="flex w-[260px] pt-[16px] pr-[24px] pb-[16px] pl-[24px] flex-col gap-[12px] items-center shrink-0 flex-nowrap bg-[#fff] rounded-[12px] border-solid border border-[#eaeaea] relative z-[255]"
        >
          <div
            class="flex w-[183.805px] gap-[10px] items-center shrink-0 flex-nowrap relative z-[256]"
          >
            <div
              class="w-[87.805px] h-[30px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/S37m5Rovjj.png)] bg-cover bg-no-repeat relative overflow-hidden z-[257]"
            >
            </div>
            <div class="w-[86px] h-[14px] shrink-0 relative z-[258]">
              <div
                class="w-[14px] h-[14px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/AnHRY6LJeJ.png)] bg-cover bg-no-repeat absolute top-0 left-0 overflow-hidden z-[259]"
              >
              </div>
              <div
                class="w-[14px] h-[14px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/AfYujFCDzF.png)] bg-cover bg-no-repeat absolute top-0 left-[18px] overflow-hidden z-[260]"
              >
              </div>
              <div
                class="w-[14px] h-[14px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/tDFt5MMioT.png)] bg-cover bg-no-repeat absolute top-0 left-[36px] overflow-hidden z-[261]"
              >
              </div>
              <div
                class="w-[14px] h-[14px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/eKEtO1jyji.png)] bg-cover bg-no-repeat absolute top-0 left-[54px] overflow-hidden z-[262]"
              >
              </div>
              <div
                class="w-[14px] h-[14px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/Mva2Y8iXiO.png)] bg-cover bg-no-repeat absolute top-0 left-[72px] overflow-hidden z-[263]"
              >
              </div>
            </div>
          </div>
          <div
            class="flex w-[151px] gap-[10px] items-start shrink-0 flex-nowrap relative z-[264]"
          >
            <div
              class="w-[151px] shrink-0 font-['Inter'] text-[14px] font-normal leading-[16.943px] relative text-left whitespace-nowrap z-[265]"
            >
              <span
                class="font-['Avenir'] text-[14px] font-extrabold leading-[16.943px] text-[#2d2d2d] relative text-left"
              >
                4.8 stars |{" "}
              </span>
              <span
                class="font-['Avenir'] text-[14px] font-extrabold leading-[16.943px] text-[#2d2d2d] relative text-left underline"
              >
                90+ Reviews
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex w-full h-[703.228px] pt-[80px] pr-[120px] pb-[80px] pl-[120px] flex-col gap-[32px] items-center flex-nowrap bg-[#fff] relative z-[266] mt-0 mr-0 mb-0 ml-0"
  >
    <span
      class="h-[42px] self-stretch shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[42px] text-[#28241f] relative text-center whitespace-nowrap z-[267]"
    >
      Finance Consulting: What You Need to Know
    </span>
    <div
      class="flex w-[1184px] gap-[32px] items-start grow shrink-0 basis-0 flex-nowrap relative z-[268]"
    >
      <div
        class="flex w-[576px] h-[316px] flex-col gap-[20px] items-start shrink-0 flex-nowrap relative z-[269]"
      >
        <div
          class="flex w-[576px] pt-[30px] pr-[36px] pb-[30px] pl-[36px] flex-col gap-[16px] items-start shrink-0 flex-nowrap bg-[#fff] rounded-[16px] border-solid border border-[#f5f7fa] relative shadow-[0_1px_4px_0_rgba(237,124,0,0.12)] z-[270]"
        >
          <div
            class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative z-[271]"
          >
            <div
              class="flex w-[400px] gap-[8px] items-center shrink-0 flex-nowrap relative z-[272]"
            >
              <span
                class="flex w-[400px] h-[37px] justify-start items-start shrink-0 font-['Inter'] text-[18px] font-semibold leading-[24.3px] text-[#212121] relative text-left z-[273]"
              >
                How can financial consulting help my business/personal finances?
              </span>
            </div>
            <div
              class="flex w-[30.418px] pt-[5px] pr-[5px] pb-[5px] pl-[5px] gap-[10px] items-center shrink-0 flex-nowrap bg-[#797979] rounded-[8px] relative z-[274]"
            >
              <div
                class="w-[20.418px] h-[20.418px] shrink-0 relative overflow-hidden z-[275]"
              >
                <div
                  class="w-[12px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/rf0ZBDGf0o.png)] bg-[length:100%_100%] bg-no-repeat relative z-[276] mt-[9.902px] mr-0 mb-0 ml-[4.209px]"
                >
                </div>
              </div>
            </div>
          </div>
          <span
            class="flex w-[400px] h-[132px] justify-start items-start shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[277]"
          >
            Financial consulting helps you make smarter money decisions. For
            businesses, it improves cash flow, reduces taxes, and boosts
            profits. For personal finances, it helps with budgeting,
            investments, and long-term planning like saving for a home or
            retirement.
          </span>
        </div>
        <div
          class="flex w-[576px] h-[92px] pt-[30px] pr-[36px] pb-[30px] pl-[36px] flex-col gap-[16px] items-start shrink-0 flex-nowrap bg-[#fff] rounded-[16px] border-solid border border-[#f5f7fa] relative shadow-[0_1px_4px_0_rgba(237,124,0,0.12)] z-[278]"
        >
          <div
            class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative z-[279]"
          >
            <div
              class="flex w-[400px] gap-[8px] items-center shrink-0 flex-nowrap relative z-[280]"
            >
              <span
                class="flex w-[400px] h-[37px] justify-start items-start shrink-0 font-['Inter'] text-[18px] font-semibold leading-[24.3px] text-[#212121] relative text-left z-[281]"
              >
                What qualifications and certifications do your advisors have?
              </span>
            </div>
            <div
              class="flex w-[30.418px] pt-[5px] pr-[5px] pb-[5px] pl-[5px] gap-[10px] items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[8px] relative z-[282]"
            >
              <div
                class="w-[20.418px] h-[20.418px] shrink-0 relative overflow-hidden z-[283]"
              >
                <div
                  class="w-[12px] h-[12px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/Qas8aih7UJ.png)] bg-[length:100%_100%] bg-no-repeat relative z-[284] mt-[3.902px] mr-0 mb-0 ml-[4.209px]"
                >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex w-[576px] h-[92px] pt-[30px] pr-[36px] pb-[30px] pl-[36px] flex-col gap-[16px] items-start shrink-0 flex-nowrap bg-[#fff] rounded-[16px] border-solid border border-[#f5f7fa] relative shadow-[0_1px_4px_0_rgba(237,124,0,0.12)] z-[285]"
        >
          <div
            class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative z-[286]"
          >
            <div
              class="flex w-[400px] gap-[8px] items-center shrink-0 flex-nowrap relative z-[287]"
            >
              <span
                class="flex w-[400px] h-[37px] justify-start items-start shrink-0 font-['Inter'] text-[18px] font-semibold leading-[24.3px] text-[#212121] relative text-left z-[288]"
              >
                What is the process for working with your firm?
              </span>
            </div>
            <div
              class="flex w-[30.418px] pt-[5px] pr-[5px] pb-[5px] pl-[5px] gap-[10px] items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[8px] relative z-[289]"
            >
              <div
                class="w-[20.418px] h-[20.418px] shrink-0 relative overflow-hidden z-[290]"
              >
                <div
                  class="w-[12px] h-[12px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/jZOaqFOD5N.png)] bg-[length:100%_100%] bg-no-repeat relative z-[291] mt-[3.902px] mr-0 mb-0 ml-[4.209px]"
                >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex w-[576px] flex-col gap-[20px] items-start shrink-0 flex-nowrap relative z-[292]"
      >
        <div
          class="flex w-[576px] h-[92px] pt-[30px] pr-[36px] pb-[30px] pl-[36px] flex-col gap-[16px] items-start shrink-0 flex-nowrap bg-[#fff] rounded-[16px] border-solid border border-[#f5f7fa] relative shadow-[0_1px_4px_0_rgba(237,124,0,0.12)] z-[293]"
        >
          <div
            class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative z-[294]"
          >
            <div
              class="flex w-[328px] gap-[8px] items-center shrink-0 flex-nowrap relative z-[295]"
            >
              <span
                class="h-[13px] shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[13px] text-[#212121] relative text-left whitespace-nowrap z-[296]"
              >
                How do you charge for your services?
              </span>
            </div>
            <div
              class="flex w-[30.418px] pt-[5px] pr-[5px] pb-[5px] pl-[5px] gap-[10px] items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[8px] relative z-[297]"
            >
              <div
                class="w-[20.418px] h-[20.418px] shrink-0 relative overflow-hidden z-[298]"
              >
                <div
                  class="w-[12px] h-[12px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/Pv7yKtFNak.png)] bg-[length:100%_100%] bg-no-repeat relative z-[299] mt-[3.902px] mr-0 mb-0 ml-[4.209px]"
                >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex w-[576px] h-[92px] pt-[30px] pr-[36px] pb-[30px] pl-[36px] flex-col gap-[16px] items-start shrink-0 flex-nowrap bg-[#fff] rounded-[16px] border-solid border border-[#f5f7fa] relative shadow-[0_1px_4px_0_rgba(237,124,0,0.12)] z-[300]"
        >
          <div
            class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative z-[301]"
          >
            <div
              class="flex w-[400px] gap-[8px] items-center shrink-0 flex-nowrap relative z-[302]"
            >
              <span
                class="flex w-[400px] h-[37px] justify-start items-start shrink-0 font-['Inter'] text-[18px] font-semibold leading-[24.3px] text-[#212121] relative text-left z-[303]"
              >
                Can you provide examples of successful client outcomes?
              </span>
            </div>
            <div
              class="flex w-[30.418px] pt-[5px] pr-[5px] pb-[5px] pl-[5px] gap-[10px] items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[8px] relative z-[304]"
            >
              <div
                class="w-[20.418px] h-[20.418px] shrink-0 relative overflow-hidden z-[305]"
              >
                <div
                  class="w-[12px] h-[12px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/9hP4hZLcXc.png)] bg-[length:100%_100%] bg-no-repeat relative z-[306] mt-[3.902px] mr-0 mb-0 ml-[4.209px]"
                >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex w-[576px] h-[92px] pt-[30px] pr-[36px] pb-[30px] pl-[36px] flex-col gap-[16px] items-start shrink-0 flex-nowrap bg-[#fff] rounded-[16px] border-solid border border-[#f5f7fa] relative shadow-[0_1px_4px_0_rgba(237,124,0,0.12)] z-[307]"
        >
          <div
            class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative z-[308]"
          >
            <div
              class="flex w-[400px] gap-[8px] items-center shrink-0 flex-nowrap relative z-[309]"
            >
              <span
                class="flex w-[400px] h-[37px] justify-start items-start shrink-0 font-['Inter'] text-[18px] font-semibold leading-[24.3px] text-[#212121] relative text-left z-[310]"
              >
                What is your approach to investment planning and management?
              </span>
            </div>
            <div
              class="flex w-[30.418px] pt-[5px] pr-[5px] pb-[5px] pl-[5px] gap-[10px] items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[8px] relative z-[311]"
            >
              <div
                class="w-[20.418px] h-[20.418px] shrink-0 relative overflow-hidden z-[312]"
              >
                <div
                  class="w-[12px] h-[12px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/0vLR3T3dop.png)] bg-[length:100%_100%] bg-no-repeat relative z-[313] mt-[3.902px] mr-0 mb-0 ml-[4.209px]"
                >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
