<div
  class="flex w-full pt-[80px] pr-[120px] pb-[80px] pl-[120px] flex-col gap-[24px] items-center flex-nowrap bg-[#f5f7fa] relative z-[148] mt-0 mr-0 mb-0 ml-0"
>
  <span
    class="h-[42px] shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[42px] text-[#28241f] relative text-left whitespace-nowrap z-[149]"
  >
    How It Works
  </span>
  <div
    class="flex w-[1200px] flex-col gap-[32px] items-start shrink-0 flex-nowrap relative z-[150]"
  >
    <div
      class="flex w-[987px] justify-between items-center shrink-0 flex-nowrap relative z-[151]"
    >
      <div
        class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[25px] border-solid border border-[#ed7c00] relative z-[152]"
      >
        <span
          class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#ed7c00] relative text-center whitespace-nowrap z-[153]"
        >
          1
        </span>
      </div>
      <div
        class="w-[208px] h-px shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/p0Y6n2e5S2.png)] bg-cover bg-no-repeat relative z-[154]"
      >
      </div>
      <div
        class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#ed7c00] rounded-[25px] relative z-[155]"
      >
        <span
          class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#f5f7fa] relative text-center whitespace-nowrap z-[156]"
        >
          2
        </span>
      </div>
      <div
        class="w-[208px] h-px shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/7JS9fieUBr.png)] bg-cover bg-no-repeat relative z-[157]"
      >
      </div>
      <div
        class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[25px] border-solid border border-[#ed7c00] relative z-[158]"
      >
        <span
          class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#ed7c00] relative text-center whitespace-nowrap z-[159]"
        >
          3
        </span>
      </div>
      <div
        class="w-[208px] h-px shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/kKLpbAtrCH.png)] bg-cover bg-no-repeat relative z-[160]"
      >
      </div>
      <div
        class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#f5f7fa] rounded-[25px] border-solid border border-[#ed7c00] relative z-[161]"
      >
        <span
          class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#ed7c00] relative text-center whitespace-nowrap z-[162]"
        >
          4
        </span>
      </div>
    </div>
    <div
      class="flex justify-between items-center self-stretch shrink-0 flex-nowrap relative z-[163]"
    >
      <div
        class="flex w-[255px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative z-[164]"
      >
        <span
          class="flex w-[255px] h-[56px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left z-[165]"
        >
          Schedule a Consultation
        </span>
        <span
          class="flex w-[255px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[166]"
        >
          Book online, discuss your business needs—no commitment.
        </span>
      </div>
      <div
        class="flex w-[255px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative z-[167]"
      >
        <span
          class="flex w-[225px] h-[56px] justify-start items-start shrink-0 font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left z-[168]"
        >
          Customized Proposal
        </span>
        <span
          class="flex w-[255px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[169]"
        >
          Receive a tailored pricing plan based on volume and complexity.{" "}
        </span>
      </div>
      <div
        class="flex w-[255px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative z-[170]"
      >
        <span
          class="flex w-[255px] h-[56px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left z-[171]"
        >
          Onboarding & Data Setup
        </span>
        <span
          class="flex w-[225px] h-[66px] justify-start items-start shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[172]"
        >
          Share your financial documents; our team sets up your books.{" "}
        </span>
      </div>
      <div
        class="flex w-[255px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative z-[173]"
      >
        <span
          class="flex w-[225px] h-[56px] justify-start items-start shrink-0 font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left z-[174]"
        >
          Monthly Support & Monitoring{" "}
        </span>
        <span
          class="flex w-[255px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[175]"
        >
          Ongoing bookkeeping, tax prep, payroll, and advisory—all with
          proactive alerts and insights
        </span>
      </div>
    </div>
  </div>
</div>
