<div class="main-container bg-[#f5f7fa] w-full px-4 sm:px-6 lg:px-8 py-12">
  <div
    class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-12 items-center justify-center"
  >
    <div class="flex flex-col gap-6 lg:gap-12">
      <div class="flex flex-col gap-3">
        <span
          class="font-['Inter'] text-[52px] font-bold leading-[62.4px] text-[#151515]"
        >
          Contact Us. We’re <br />here to assist you.
        </span>
        <span
          class="font-['Inter'] text-[18px] font-normal leading-[27px] text-[#797979]"
        >
          Affordable, scalable, and personalized accounting <br />solutions for
          U.S. small and mid-sized businesses.
        </span>
      </div>

      <div class="flex flex-col gap-6">
        <div class="flex items-center gap-4">
          <div
            class="w-[22px] h-[17px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-13/px0gYmJunj.png)] bg-cover bg-no-repeat"
          >
          </div>
          <span
            class="font-['Inter'] text-[16px] font-normal leading-[19px] text-[#797979]"
          >
            example@xyz.com
          </span>
        </div>
        <div class="flex items-center gap-4">
          <div
            class="w-[22px] h-[22px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-13/dq8Qp3xLYT.png)] bg-cover bg-no-repeat"
          >
          </div>
          <span
            class="font-['Inter'] text-[16px] font-normal leading-[19px] text-[#797979]"
          >
            + 123 456 789
          </span>
        </div>
        <div class="flex items-start gap-4">
          <div
            class="w-[20px] h-[24px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-13/XPK7JNWOVH.png)] bg-cover bg-no-repeat"
          >
          </div>
          <span
            class="font-['Inter'] text-[16px] font-normal leading-[19.364px] text-[#797979] w-[296px]"
          >
            132, Tic St, Kingston, New York 12401 United States of America
          </span>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col gap-6 p-5 bg-[#fff] rounded-[16px] shadow-[0_1px_11.1px_0_rgba(237,124,0,0.16)]"
    >
      <div class="flex flex-col gap-3">
        <span
          class="font-['Inter'] text-[36px] font-semibold leading-[43.568px] text-[#04092a]"
        >
          Get in Touch
        </span>
        <span
          class="font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979]"
        >
          We’re here to assist you.
        </span>
      </div>

      <div class="flex flex-col gap-4">
        <div
          class="h-[52px] rounded-[25px] border border-[#d0d5dd] overflow-hidden flex items-center px-6"
        >
          <span
            class="font-['DM_Sans'] text-[15px] font-normal leading-[19.53px] text-[#797979]"
          >
            Full Name
          </span>
        </div>
        <div
          class="h-[52px] rounded-[25px] border border-[#d0d5dd] overflow-hidden flex items-center px-6"
        >
          <span
            class="font-['DM_Sans'] text-[15px] font-normal leading-[19.53px] text-[#797979]"
          >
            Email Address
          </span>
        </div>
        <div
          class="h-[107px] rounded-[25px] border border-[#d0d5dd] overflow-hidden flex items-start pt-4 px-6"
        >
          <span
            class="font-['DM_Sans'] text-[15px] font-normal leading-[19.53px] text-[#797979]"
          >
            Message
          </span>
        </div>
      </div>

      <button
        class="h-[50px] bg-[#ed7c00] rounded-[8px] flex items-center justify-center px-6"
      >
        <span
          class="font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#fff]"
        >
          Submit
        </span>
      </button>
    </div>
  </div>
</div>
