<div class="main-container w-[1440px] h-[615px] relative mx-auto my-0">
  <div
    class="w-[1440px] h-[615px] bg-[#f5f7fa] absolute top-0 left-1/2 translate-x-[-50%] translate-y-0"
  >
  </div>
  <div
    class="flex w-[537px] h-[190px] flex-col gap-[12px] items-start flex-nowrap absolute top-[98px] left-[120px] z-[1]"
  >
    <span
      class="flex w-[537px] h-[124px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[52px] font-bold leading-[62.4px] text-[#151515] relative text-left z-[2]"
    >
      Contact Us. We’re here to assist you.
    </span>
    <div
      class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[3]"
    >
      <span
        class="flex w-[482px] h-[54px] justify-start items-start shrink-0 font-['Inter'] text-[18px] font-normal leading-[27px] text-[#797979] relative text-left z-[4]"
      >
        Affordable, scalable, and personalized accounting solutions for U.S.
        small and mid-sized businesses.
      </span>
    </div>
  </div>
  <div
    class="flex w-[514px] h-[127px] flex-col gap-[24px] items-start flex-nowrap absolute top-[328px] left-[120px] z-[23]"
  >
    <div
      class="flex w-[180px] gap-[16px] items-center shrink-0 flex-nowrap relative z-[24]"
    >
      <div
        class="w-[22px] h-[17px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-13/px0gYmJunj.png)] bg-cover bg-no-repeat relative z-[25]"
      >
      </div>
      <span
        class="h-[19px] shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[19px] text-[#797979] relative text-left whitespace-nowrap z-[26]"
      >
        example@xyz.com
      </span>
    </div>
    <div
      class="flex w-[149px] gap-[16px] items-center shrink-0 flex-nowrap relative z-[27]"
    >
      <div
        class="w-[22px] h-[22px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-13/dq8Qp3xLYT.png)] bg-cover bg-no-repeat relative z-[28]"
      >
      </div>
      <span
        class="h-[19px] shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[19px] text-[#797979] relative text-left whitespace-nowrap z-[29]"
      >
        + 123 456 789
      </span>
    </div>
    <div
      class="flex w-[514px] gap-[17px] items-start shrink-0 flex-nowrap relative z-30"
    >
      <div
        class="w-[20px] h-[24px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-13/XPK7JNWOVH.png)] bg-cover bg-no-repeat relative z-[31]"
      >
      </div>
      <span
        class="flex w-[296px] h-[38px] justify-start items-start shrink-0 font-['Inter'] text-[16px] font-normal leading-[19.364px] text-[#797979] relative text-left z-[32]"
      >
        132, Tic St, Kingston, New York 12401 United States of America
      </span>
    </div>
  </div>
  <div
    class="flex w-[546px] h-[457px] pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[18px] items-start flex-nowrap bg-[#fff] rounded-[16px] absolute top-[98px] left-[774px] shadow-[0_1px_11.1px_0_rgba(237,124,0,0.16)] z-[5]"
  >
    <div
      class="flex flex-col gap-[12px] items-start self-stretch shrink-0 flex-nowrap relative z-[6]"
    >
      <div
        class="flex w-[241px] flex-col gap-[24px] items-start shrink-0 flex-nowrap relative z-[7]"
      >
        <span
          class="h-[44px] self-stretch shrink-0 basis-auto font-['Inter'] text-[36px] font-semibold leading-[43.568px] text-[#04092a] relative text-left whitespace-nowrap z-[8]"
        >
          Get in Touch
        </span>
      </div>
      <span
        class="h-[22px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left whitespace-nowrap z-[9]"
      >
        We’re here to assist you.
      </span>
    </div>
    <div
      class="h-[52px] self-stretch shrink-0 rounded-[25px] border-solid border border-[#d0d5dd] relative overflow-hidden z-10"
    >
      <div
        class="w-[458.39px] h-[20px] relative overflow-hidden z-[11] mt-[16.5px] mr-0 mb-0 ml-[24px]"
      >
        <span
          class="flex h-[20px] justify-start items-start font-['DM_Sans'] text-[15px] font-normal leading-[19.53px] text-[#797979] absolute top-0 left-0 text-left whitespace-nowrap z-[12]"
        >
          Full Name
        </span>
      </div>
    </div>
    <div
      class="h-[52px] self-stretch shrink-0 rounded-[25px] border-solid border border-[#d0d5dd] relative overflow-hidden z-[13]"
    >
      <div
        class="w-[458.39px] h-[20px] relative overflow-hidden z-[14] mt-[16.5px] mr-0 mb-0 ml-[24px]"
      >
        <span
          class="flex h-[20px] justify-start items-start font-['DM_Sans'] text-[15px] font-normal leading-[19.53px] text-[#797979] absolute top-0 left-0 text-left whitespace-nowrap z-[15]"
        >
          Email Address
        </span>
      </div>
    </div>
    <div
      class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[16]"
    >
      <div
        class="h-[107px] self-stretch shrink-0 rounded-[25px] border-solid border border-[#d0d5dd] relative overflow-hidden z-[17]"
      >
        <div
          class="w-[458.39px] h-[20px] relative overflow-hidden z-[18] mt-[16.5px] mr-0 mb-0 ml-[24px]"
        >
          <span
            class="flex h-[20px] justify-start items-start font-['DM_Sans'] text-[15px] font-normal leading-[19.53px] text-[#797979] absolute top-0 left-0 text-left whitespace-nowrap z-[19]"
          >
            Message
          </span>
        </div>
      </div>
      <div
        class="flex h-[50px] pt-0 pr-[24px] pb-0 pl-[24px] flex-col gap-[8px] justify-center items-center self-stretch shrink-0 flex-nowrap bg-[#ed7c00] rounded-[8px] relative z-20"
      >
        <div
          class="flex w-[62px] h-[40px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[21]"
        >
          <span
            class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#fff] relative text-left whitespace-nowrap z-[22]"
          >
            Submit
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
