<div class="main-container w-full h-[618px] relative mx-auto my-0">
  <div
    class="w-full h-[528px] bg-[#007164] relative overflow-hidden z-[1] mt-0 mr-0 mb-0 ml-[-8px]"
  >
    <div
      class="h-[417px] absolute top-[110px] left-[45px] right-[35px] overflow-hidden z-[2]"
    >
      <div
        class="w-px bg-[rgba(255,255,255,0.14)] absolute top-[-120px] bottom-0 left-[477px] z-[3]"
      >
      </div>
      <div
        class="h-[297px] absolute top-0 left-[512px] right-[557px] overflow-hidden z-[13]"
      >
        <div
          class="w-[181.77px] h-[32px] relative z-[14] mt-0 mr-0 mb-0 ml-[12px]"
        >
          <span
            class="flex h-[30px] justify-start items-start font-['Wix_Madefor_Display'] text-[24px] font-semibold leading-[30px] text-[#fff] absolute top-px left-[33px] text-left whitespace-nowrap z-[16]"
          >
            Our Services
          </span>
          <div
            class="w-[21px] h-[9px] bg-[#fff] rounded-[30px] absolute top-1/2 left-px translate-x-0 translate-y-[-50%] z-[15]"
          >
          </div>
        </div>
        <div
          class="w-[227.39px] h-[245px] relative z-[17] mt-[20px] mr-0 mb-0 ml-[12px]"
        >
          <div
            class="w-[177.06px] h-[21px] relative z-[18] mt-[4px] mr-0 mb-0 ml-0"
          >
            <span
              class="flex h-[23px] justify-start items-start font-['Inter'] text-[16px] font-medium leading-[23px] text-[#d9d8d8] absolute top-0 left-[22px] text-left whitespace-nowrap z-20"
            >
              Bookkeeping & Financial Reporting
            </span>
            <div
              class="w-[13px] h-[13px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/1oqRLDLvy5.png)] bg-cover bg-no-repeat absolute top-[3px] left-0 z-[19]"
            >
            </div>
          </div>
          <div
            class="w-[156.09px] h-[21px] relative z-[21] mt-[22px] mr-0 mb-0 ml-0"
          >
            <span
              class="flex h-[23px] justify-start items-start font-['Inter'] text-[16px] font-medium leading-[23px] text-[#d9d8d8] absolute top-0 left-[22px] text-left whitespace-nowrap z-[23]"
            >
              Payroll Management
            </span>
            <div
              class="w-[13px] h-[13px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/zZJG6OCteL.png)] bg-cover bg-no-repeat absolute top-[3px] left-0 z-[22]"
            >
            </div>
          </div>
          <div
            class="w-[162.47px] h-[21px] relative z-[24] mt-[22px] mr-0 mb-0 ml-0"
          >
            <span
              class="flex w-[180px] h-[46px] justify-start items-start font-['Inter'] text-[16px] font-medium leading-[23px] text-[#d9d8d8] absolute top-0 left-[22px] text-left z-[26]"
            >
              Tax Preparation & Filing
            </span>
            <div
              class="w-[13px] h-[13px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/bAZMtdThRz.png)] bg-cover bg-no-repeat absolute top-[3px] left-0 z-[25]"
            >
            </div>
          </div>
          <div
            class="w-[114.77px] h-[21px] relative z-[27] mt-[22px] mr-0 mb-0 ml-0"
          >
            <span
              class="flex h-[23px] justify-start items-start font-['Inter'] text-[16px] font-medium leading-[23px] text-[#d9d8d8] absolute top-0 left-[22px] text-left whitespace-nowrap z-[29]"
            >
              Virtual CFO Services
            </span>
            <div
              class="w-[13px] h-[13px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/zhdNBRNc2e.png)] bg-cover bg-no-repeat absolute top-[3px] left-0 z-[28]"
            >
            </div>
          </div>
          <div
            class="w-[155.06px] h-[21px] relative z-30 mt-[22px] mr-0 mb-0 ml-0"
          >
            <span
              class="flex w-[248px] h-[69px] justify-start items-start font-['Inter'] text-[16px] font-medium leading-[23px] text-[#d9d8d8] absolute top-0 left-[22px] text-left z-[32]"
            >
              Accounts Payable & Receivable Management
            </span>
            <div
              class="w-[13px] h-[13px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/kys5ZvAb5e.png)] bg-cover bg-no-repeat absolute top-[3px] left-0 z-[31]"
            >
            </div>
          </div>
        </div>
      </div>
      <div
        class="h-[297px] absolute top-0 left-[835.39px] right-[337.42px] overflow-hidden z-[33]"
      >
        <div class="w-[153px] h-[32px] relative z-[34] mt-0 mr-0 mb-0 ml-0">
          <span
            class="flex h-[30px] justify-start items-start font-['Wix_Madefor_Display'] text-[24px] font-semibold leading-[30px] text-[#fff] absolute top-px left-[33px] text-left whitespace-nowrap z-[36]"
          >
            Quicklinks
          </span>
          <div
            class="w-[21px] h-[9px] bg-[#fff] rounded-[30px] absolute top-1/2 left-px translate-x-0 translate-y-[-50%] z-[35]"
          >
          </div>
        </div>
        <div
          class="w-[197.19px] h-[245px] relative z-[37] mt-[20px] mr-0 mb-0 ml-0"
        >
          <div
            class="w-[91.39px] h-[21px] relative z-[38] mt-[4px] mr-0 mb-0 ml-0"
          >
            <span
              class="flex h-[23px] justify-start items-start font-['Inter'] text-[16px] font-medium leading-[23px] text-[#d9d8d8] absolute top-0 left-[22px] text-left whitespace-nowrap z-40"
            >
              About Us
            </span>
            <div
              class="w-[13px] h-[13px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/AewYTRTQj4.png)] bg-cover bg-no-repeat absolute top-[3px] left-0 z-[39]"
            >
            </div>
          </div>
          <div
            class="w-[115.72px] h-[21px] relative z-[41] mt-[22px] mr-0 mb-0 ml-0"
          >
            <span
              class="flex h-[23px] justify-start items-start font-['Inter'] text-[16px] font-medium leading-[23px] text-[#d9d8d8] absolute top-0 left-[22px] text-left whitespace-nowrap z-[43]"
            >
              Testimonials
            </span>
            <div
              class="w-[13px] h-[13px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/u1VfVoRBY9.png)] bg-cover bg-no-repeat absolute top-[3px] left-0 z-[42]"
            >
            </div>
          </div>
          <div
            class="w-[94.45px] h-[21px] relative z-[44] mt-[22px] mr-0 mb-0 ml-0"
          >
            <span
              class="flex h-[23px] justify-start items-start font-['Inter'] text-[16px] font-medium leading-[23px] text-[#d9d8d8] absolute top-0 left-[22px] text-left whitespace-nowrap z-[46]"
            >
              Our Team
            </span>
            <div
              class="w-[13px] h-[13px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/UyfFbC6fTo.png)] bg-cover bg-no-repeat absolute top-[3px] left-0 z-[45]"
            >
            </div>
          </div>
          <div
            class="w-[131.31px] h-[21px] relative z-[47] mt-[22px] mr-0 mb-0 ml-0"
          >
            <span
              class="flex h-[23px] justify-start items-start font-['Inter'] text-[16px] font-medium leading-[23px] text-[#d9d8d8] absolute top-0 left-[22px] text-left whitespace-nowrap z-[49]"
            >
              Latest Articles
            </span>
            <div
              class="w-[13px] h-[13px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/gBQ5T9A9ag.png)] bg-cover bg-no-repeat absolute top-[3px] left-0 z-[48]"
            >
            </div>
          </div>
          <div
            class="w-[126.11px] h-[21px] relative z-50 mt-[22px] mr-0 mb-0 ml-0"
          >
            <span
              class="flex h-[23px] justify-start items-start font-['Inter'] text-[16px] font-medium leading-[23px] text-[#d9d8d8] absolute top-0 left-[22px] text-left whitespace-nowrap z-[52]"
            >
              Privacy Policy
            </span>
            <div
              class="w-[13px] h-[13px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/EEPgC8xxTT.png)] bg-cover bg-no-repeat absolute top-[3px] left-0 z-[51]"
            >
            </div>
          </div>
          <div
            class="w-[153.03px] h-[21px] relative z-[53] mt-[22px] mr-0 mb-0 ml-0"
          >
            <span
              class="flex h-[23px] justify-start items-start font-['Inter'] text-[16px] font-medium leading-[23px] text-[#d9d8d8] absolute top-0 left-[22px] text-left whitespace-nowrap z-[55]"
            >
              Refund & Returns
            </span>
            <div
              class="w-[13px] h-[13px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/FfgkJiMnse.png)] bg-cover bg-no-repeat absolute top-[3px] left-0 z-[54]"
            >
            </div>
          </div>
        </div>
      </div>
      <div
        class="h-[243px] absolute top-0 left-[1032.58px] right-[36.03px] overflow-hidden z-[56]"
      >
        <div class="w-[179.58px] h-[32px] relative z-[57] mt-0 mr-0 mb-0 ml-0">
          <span
            class="flex h-[30px] justify-start items-start font-['Wix_Madefor_Display'] text-[24px] font-semibold leading-[30px] text-[#fff] absolute top-px left-[33px] text-left whitespace-nowrap z-[59]"
          >
            Get Updates
          </span>
          <div
            class="w-[21px] h-[9px] bg-[#fff] rounded-[30px] absolute top-1/2 left-px translate-x-0 translate-y-[-50%] z-[58]"
          >
          </div>
        </div>
        <div
          class="w-[301.39px] h-[196px] text-[0px] relative z-[60] mt-[15px] mr-0 mb-0 ml-0"
        >
          <span
            class="flex w-[301px] h-[111px] justify-start items-start font-['Inter'] text-[16px] font-medium leading-[24px] text-[#d9d8d8] relative text-left z-[61] mt-[4px] mr-0 mb-0 ml-[0.42px]"
          >
            Sign up for the latest news and articles. We promise to not spam your inbox.
          </span>
          <div
            class="w-[301.42px] h-[52px] relative z-[65] mt-[29px] mr-0 mb-0 ml-0"
          >
            <div
              class="w-[99.99%] h-[52px] rounded-[25px] border-solid border border-[#fff] absolute top-0 left-0 overflow-hidden z-[62]"
            >
              <div
                class="w-[253.39px] h-[20px] relative overflow-hidden z-[63] mt-[16.5px] mr-0 mb-0 ml-[24px]"
              >
                <span
                  class="flex h-[20px] justify-start items-start font-['DM_Sans'] text-[15px] font-normal leading-[19.53px] text-[#d9d8d8] absolute top-0 left-0 text-left whitespace-nowrap z-[64]"
                >
                  Email Address
                </span>
              </div>
            </div>
            <div
              class="w-[55px] h-[52px] bg-[#ed7c00] rounded-tl-none rounded-tr-[25px] rounded-br-[25px] rounded-bl-none absolute top-0 right-0 z-[65]"
            >
              <div
                class="w-[16px] h-[16px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/iyeALxZp90.png)] bg-cover bg-no-repeat relative z-[66] mt-[20px] mr-0 mb-0 ml-[19.03px]"
              >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="w-[690.016px] h-[689.995px] absolute top-[4.915px] left-[-26px] z-[4]"
      >
        <div
          class="w-[344.998px] h-[303.389px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/7Mv6UZsQor.png)] bg-[length:100%_100%] bg-no-repeat relative z-[5] mt-[193.407px] mr-0 mb-0 ml-[172.509px]"
        >
        </div>
      </div>
      <div
        class="h-[104px] absolute top-[87.41px] left-[26px] right-[944px] z-[6]"
      >
        <span
          class="flex h-[30px] justify-start items-start font-['DM_Sans'] text-[15px] font-semibold leading-[30px] text-[#d9d8d8] tracking-[0.5px] absolute top-[22px] left-0 text-left uppercase whitespace-nowrap z-[7]"
        >
          24/7 CALL US
        </span>
        <!-- <div class="w-[240.78px] h-[38px] absolute top-[32px] left-0 z-[8]">
          <span
            class="flex h-[36px] justify-start items-start font-['Wix_Madefor_Display'] text-[30px] font-bold leading-[36px] text-[#fff] absolute top-[22px] left-0 text-left whitespace-nowrap z-[9]"
          >
            +(453) 456-7592
          </span>
        </div> -->
      </div>
      <span
        class="flex h-[30px] justify-start items-start font-['DM_Sans'] text-[15px] font-semibold leading-[30px] text-[#d9d8d8] tracking-[0.5px] absolute top-[223.41px] left-[26px] text-left uppercase whitespace-nowrap z-10"
      >
        24/7 Our Location
      </span>
      <div
        class="w-[400px] h-[60px] absolute top-[234.41px] left-[26px] z-[11]"
      >
        <span
          class="flex w-[311.14px] h-[55px] justify-start items-start font-['DM_Sans'] text-[19px] font-medium leading-[30px] text-[#fff] tracking-[-0.2px] absolute top-[24px] left-0 text-left z-[12]"
        >
          30 N Gould ST STE R, Sheridan, Wyoming, 82801
          <br />
          United States of America
        </span>
      </div>
      <div
        class="w-[208.67px] h-[26px] absolute top-[265px] left-[1032.58px] z-[67]"
      >
        <span
          class="flex h-[30px] justify-start items-start font-['DM_Sans'] text-[20px] font-medium leading-[30px] text-[#fff] absolute top-0 left-[28px] text-left whitespace-nowrap z-[69]"
        >
          {" "}
          info@Finkeepers.com
        </span>
        <div
          class="w-[20px] h-[20px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/RwOyGR9A43.png)] bg-cover bg-no-repeat absolute top-[5px] left-0 z-[68]"
        >
        </div>
      </div>
    </div>
    <div
      class="w-[10.48%] h-[15.63%] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/DnJyqiXikx.png)] bg-[length:100%_100%] bg-no-repeat absolute top-[21.16%] left-[5.03%] z-[73]"
    >
    </div>
    <div class="w-[146.88px] h-[21px] absolute top-[397px] left-[569px] z-[70]">
      <span
        class="flex h-[23px] justify-start items-start font-['Inter'] text-[16px] font-medium leading-[23px] text-[#d9d8d8] absolute top-0 left-[22px] text-left whitespace-nowrap z-[72]"
      >
        Audit Support & Compliance
      </span>
      <div
        class="w-[13px] h-[13px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/hcnQZVG33O.png)] bg-cover bg-no-repeat absolute top-[3px] left-0 z-[71]"
      >
      </div>
    </div>
  </div>
  <div
    class="w-[1920px] h-[90.25px] bg-[#163838] relative z-[74] mt-0 mr-0 mb-0 ml-[-238px]"
  >
    <span
      class="flex w-[286.511px] h-[21px] justify-center items-start font-['DM_Sans'] text-[16px] font-medium leading-[21px] text-[#acb3b3] absolute top-[34.131px] left-[calc(50%-685px)] text-center whitespace-nowrap z-[77]"
    >
      © Copyright 2025. All rights reserved.{" "}
    </span>
    <span
      class="flex w-[106px] h-[30px] justify-center items-start font-['DM_Sans'] text-[16px] font-medium leading-[30px] text-[#85a6a6] absolute top-[34.131px] left-[calc(50%-200px)] text-center whitespace-nowrap z-[82]"
    >
      Uncore Digital
    </span>
    <span
      class="flex w-[92px] h-[30px] justify-center items-start font-['DM_Sans'] text-[16px] font-medium leading-[30px] text-[#85a6a6] absolute top-[34.131px] left-[calc(50%-397px)] text-center whitespace-nowrap z-[79]"
    >
      Finkeepers
    </span>
    <span
      class="flex w-[105.272px] h-[21px] justify-center items-start font-['DM_Sans'] text-[16px] font-medium leading-[21px] text-[#acb3b3] absolute top-[34.131px] left-[calc(50%-305.2px)] text-center whitespace-nowrap z-[80]"
    >
      . Designed by{" "}
    </span>
    <div
      class="flex h-[29px] gap-[14px] items-center flex-nowrap absolute top-[35px] left-[1209.57px] right-[281.43px] z-[83]"
    >
      <div
        class="flex w-[99px] pt-[4px] pr-[8px] pb-[4px] pl-[8px] gap-[3px] items-center shrink-0 flex-nowrap rounded-[37px] border-solid border border-[#fff] relative z-[84]"
      >
        <div
          class="w-[14px] h-[14px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/rzfwKbwU9q.png)] bg-cover bg-no-repeat relative z-[85]"
        >
        </div>
        <span
          class="flex w-[66px] h-[21px] justify-center items-start shrink-0 basis-auto font-['Inter'] text-[14px] font-medium leading-[21px] text-[#fff] relative text-center whitespace-nowrap z-[86]"
        >
          Facebook
        </span>
      </div>
      <div
        class="flex w-[91px] pt-[4px] pr-[8px] pb-[4px] pl-[8px] gap-[3px] items-center shrink-0 flex-nowrap rounded-[37px] border-solid border border-[#fff] relative z-[87]"
      >
        <div
          class="w-[14px] h-[14px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/2TTQbNFvqg.png)] bg-cover bg-no-repeat relative overflow-hidden z-[88]"
        >
        </div>
        <span
          class="flex w-[58px] h-[21px] justify-center items-start shrink-0 basis-auto font-['Inter'] text-[14px] font-medium leading-[21px] text-[#fff] relative text-center whitespace-nowrap z-[89]"
        >
          YouTube
        </span>
      </div>
      <div
        class="flex w-[104px] pt-[4px] pr-[8px] pb-[4px] pl-[8px] gap-[3px] items-center shrink-0 flex-nowrap rounded-[37px] border-solid border border-[#fff] relative z-[90]"
      >
        <div
          class="w-[14px] h-[14px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/bi51Kx5oW5.png)] bg-cover bg-no-repeat relative overflow-hidden z-[91]"
        >
        </div>
        <span
          class="flex w-[71px] h-[21px] justify-center items-start shrink-0 basis-auto font-['Inter'] text-[14px] font-medium leading-[21px] text-[#fff] relative text-center whitespace-nowrap z-[92]"
        >
          {" "}
          Instagram
        </span>
      </div>
      <div
        class="flex w-[93px] pt-[4px] pr-[8px] pb-[4px] pl-[8px] gap-[3px] items-center shrink-0 flex-nowrap rounded-[37px] border-solid border border-[#fff] relative z-[93]"
      >
        <div
          class="w-[14px] h-[14px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/eBVg0JVbt5.png)] bg-cover bg-no-repeat relative z-[94]"
        >
        </div>
        <span
          class="flex w-[60px] h-[21px] justify-center items-start shrink-0 basis-auto font-['Inter'] text-[14px] font-medium leading-[21px] text-[#fff] relative text-center whitespace-nowrap z-[95]"
        >
          {" "}
          Linkedin
        </span>
      </div>
    </div>
  </div>
</div>
