<div class="main-container w-full relative mx-auto my-0">
  <!-- Footer content -->
  <div
    class="w-full bg-[#007164] relative overflow-hidden z-[1] px-4 md:px-10 lg:px-[45px] pt-[120px]"
  >
    <!-- Logo -->
    <div class="w-full flex justify-start pt-4">
      <div
        class="w-[120px] h-[120px] bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/DnJyqiXikx.png')] bg-contain bg-no-repeat"
      >
      </div>
    </div>

    <div class="flex flex-col lg:flex-row flex-wrap justify-between gap-8 mt-8">
      <!-- Column 1: Our Services -->
      <div class="flex flex-col gap-5 w-full md:w-1/2 lg:w-[22%]">
        <div class="flex items-center gap-2">
          <div class="w-[21px] h-[9px] bg-white rounded-full"></div>
          <span
            class="text-white text-[24px] font-semibold font-['Wix_Madefor_Display']"
            >Our Services</span
          >
        </div>
        <ul
          class="text-[#d9d8d8] text-[16px] font-medium font-['Inter'] space-y-4"
        >
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/1oqRLDLvy5.png"
              class="w-[13px] h-[13px] mt-1"
            /> Bookkeeping & Financial Reporting
          </li>
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/zZJG6OCteL.png"
              class="w-[13px] h-[13px] mt-1"
            /> Payroll Management
          </li>
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/bAZMtdThRz.png"
              class="w-[13px] h-[13px] mt-1"
            /> Tax Preparation & Filing
          </li>
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/zhdNBRNc2e.png"
              class="w-[13px] h-[13px] mt-1"
            /> Virtual CFO Services
          </li>
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/kys5ZvAb5e.png"
              class="w-[13px] h-[13px] mt-1"
            /> Accounts Payable & Receivable Management
          </li>
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/hcnQZVG33O.png"
              class="w-[13px] h-[13px] mt-1"
            /> Audit Support & Compliance
          </li>
        </ul>
      </div>

      <!-- Column 2: Quicklinks -->
      <div class="flex flex-col gap-5 w-full md:w-1/2 lg:w-[22%]">
        <div class="flex items-center gap-2">
          <div class="w-[21px] h-[9px] bg-white rounded-full"></div>
          <span
            class="text-white text-[24px] font-semibold font-['Wix_Madefor_Display']"
            >Quicklinks</span
          >
        </div>
        <ul
          class="text-[#d9d8d8] text-[16px] font-medium font-['Inter'] space-y-4"
        >
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/AewYTRTQj4.png"
              class="w-[13px] h-[13px] mt-1"
            /> About Us
          </li>
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/u1VfVoRBY9.png"
              class="w-[13px] h-[13px] mt-1"
            /> Testimonials
          </li>
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/UyfFbC6fTo.png"
              class="w-[13px] h-[13px] mt-1"
            /> Our Team
          </li>
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/gBQ5T9A9ag.png"
              class="w-[13px] h-[13px] mt-1"
            /> Latest Articles
          </li>
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/EEPgC8xxTT.png"
              class="w-[13px] h-[13px] mt-1"
            /> Privacy Policy
          </li>
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/FfgkJiMnse.png"
              class="w-[13px] h-[13px] mt-1"
            /> Refund & Returns
          </li>
        </ul>
      </div>

      <!-- Column 3: Get Updates -->
      <div class="flex flex-col gap-5 w-full lg:w-[30%]">
        <div class="flex items-center gap-2">
          <div class="w-[21px] h-[9px] bg-white rounded-full"></div>
          <span
            class="text-white text-[24px] font-semibold font-['Wix_Madefor_Display']"
            >Get Updates</span
          >
        </div>
        <p
          class="text-[#d9d8d8] text-[16px] font-medium font-['Inter'] leading-[24px]"
        >
          Sign up for the latest news and articles. We promise to not spam your inbox.
        </p>
        <div class="relative w-full max-w-[300px]">
          <input
            type="email"
            placeholder="Email Address"
            class="w-full h-[52px] pl-6 pr-[60px] rounded-[25px] border border-white text-[#d9d8d8] bg-transparent placeholder:text-[#d9d8d8] font-['DM_Sans']"
          />
          <button
            class="absolute top-0 right-0 w-[55px] h-[52px] bg-[#ed7c00] rounded-tr-[25px] rounded-br-[25px] flex items-center justify-center"
          >
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/iyeALxZp90.png"
              alt="arrow"
              class="w-[16px] h-[16px]"
            />
          </button>
        </div>
        <div class="text-white mt-4 text-sm">
          <!-- <p class="font-semibold font-['DM_Sans'] uppercase">24/7 Call Us</p>
          <p class="font-bold font-['Wix_Madefor_Display'] text-[20px]">
            +(453) 456-7592
          </p> -->
          <p class="mt-2 font-semibold font-['DM_Sans'] uppercase">
            Our Location
          </p>
          <p class="font-medium font-['DM_Sans']">
            30 N Gould ST STE R, Sheridan, Wyoming, 82801, USA
          </p>
          <div class="flex items-start gap-2 mt-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/RwOyGR9A43.png"
              class="w-[20px] h-[20px]"
            />
            <span class="text-white text-[16px] font-medium font-['DM_Sans']"
              >info@Finkeepers.com</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="pb-10"></div>
  </div>

  <!-- Footer bottom row moved outside -->
  <div
    class="w-full bg-[#163838] px-4 py-4 flex flex-col md:flex-row justify-between items-center gap-4 text-center text-sm text-[#acb3b3] font-['DM_Sans']"
  >
    <div class="flex flex-wrap justify-center gap-2">
      <span>© Copyright 2025. All rights reserved.</span>
      <span>Finkeepers</span>
      <span>. Designed by</span>
      <a class="text-[#85a6a6]" href="#">Uncore Digital</a>
    </div>
    <div class="flex flex-wrap justify-center gap-2">
      <div
        class="flex items-center gap-1 px-3 border border-white rounded-full text-white text-sm"
      >
        <img
          src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/rzfwKbwU9q.png"
          class="w-4 h-4"
        /> Facebook
      </div>
      <div
        class="flex items-center gap-1 px-3 border border-white rounded-full text-white text-sm"
      >
        <img
          src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/2TTQbNFvqg.png"
          class="w-4 h-4"
        /> YouTube
      </div>
      <div
        class="flex items-center gap-1 px-3 border border-white rounded-full text-white text-sm"
      >
        <img
          src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/bi51Kx5oW5.png"
          class="w-4 h-4"
        /> Instagram
      </div>
      <div
        class="flex items-center gap-1 px-3 border border-white rounded-full text-white text-sm"
      >
        <img
          src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/eBVg0JVbt5.png"
          class="w-4 h-4"
        /> LinkedIn
      </div>
    </div>
  </div>
</div>
