<div class="main-container w-full relative mx-auto my-0 !overflow-x-hidden">
  <!-- Footer content -->
  <div
    class="w-full bg-[#007164] relative overflow-hidden z-[1] px-4 md:px-10 lg:px-[45px] pt-[120px]"
  >
    <!-- Top Row -->
    <div
      class="flex flex-col lg:flex-row flex-wrap justify-between gap-x-6 gap-y-8 mt-8"
    >
      <!-- Column 1: Logo + Contact Info -->
      <div class="flex flex-col gap-5 w-full lg:w-[22%]">
        <!-- Logo -->
        <div class="w-full flex justify-start">
          <div
            class="w-[120px] h-[120px] bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/DnJyqiXikx.png')] bg-contain bg-no-repeat"
          >
          </div>
        </div>

        <!-- Call Us -->
        <div class="text-white text-sm">
          <p class="font-semibold font-['DM_Sans'] uppercase">24/7 Call Us</p>
          <p class="font-bold font-['Wix_Madefor_Display'] text-[28px]">
            +(453) 456-7592
          </p>
        </div>

        <!-- White vertical line -->
        <div class="hidden sm:block h-px w-[340px] bg-[#808080]"></div>

        <!-- Location Info -->
        <div class="text-white text-sm">
          <p class="mt-2 font-semibold font-['DM_Sans'] uppercase">
            Our Location
          </p>
          <p class="font-medium font-['DM_Sans']">
            132, Tic St, Kingston, New York 12401, <br />
            United States of America
          </p>
        </div>
        <div class="flex gap-4 items-center">
          <!-- Facebook -->
          <a
            href="#"
            aria-label="Facebook"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="w-4 h-4 text-white fill-current" viewBox="0 0 24 24">
              <path
                d="M22.675 0H1.325C.593 0 0 .594 0 1.326v21.348C0 23.407.593 24 1.325 24H12.82v-9.294H9.692v-3.622h3.128V8.413c0-3.1 1.893-4.788 4.658-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.796.715-1.796 1.763v2.31h3.59l-.467 3.622h-3.123V24h6.116C23.407 24 24 23.407 24 22.674V1.326C24 .594 23.407 0 22.675 0z"
              ></path>
            </svg>
          </a>

          <!-- YouTube -->
          <a
            href="#"
            aria-label="YouTube"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="w-4 h-4 text-white fill-current" viewBox="0 0 24 24">
              <path
                d="M23.498 6.186a2.983 2.983 0 00-2.102-2.112C19.64 3.5 12 3.5 12 3.5s-7.639 0-9.396.574A2.983 2.983 0 00.5 6.186 31.147 31.147 0 000 12a31.147 31.147 0 00.5 5.814 2.983 2.983 0 002.102 2.112C4.361 20.5 12 20.5 12 20.5s7.639 0 9.396-.574a2.983 2.983 0 002.102-2.112A31.147 31.147 0 0024 12a31.147 31.147 0 00-.502-5.814zM9.75 15.25v-6.5L15.5 12l-5.75 3.25z"
              ></path>
            </svg>
          </a>

          <!-- Instagram -->
          <a
            href="#"
            aria-label="Instagram"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="w-4 h-4 text-white fill-current" viewBox="0 0 24 24">
              <path
                d="M7.75 2A5.75 5.75 0 002 7.75v8.5A5.75 5.75 0 007.75 22h8.5A5.75 5.75 0 0022 16.25v-8.5A5.75 5.75 0 0016.25 2h-8.5zM12 7a5 5 0 110 10 5 5 0 010-10zm0 1.5a3.5 3.5 0 100 7 3.5 3.5 0 000-7zm4.25-.875a1.125 1.125 0 110 2.25 1.125 1.125 0 010-2.25z"
              ></path>
            </svg>
          </a>

          <!-- LinkedIn -->
          <a
            href="#"
            aria-label="LinkedIn"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="w-4 h-4 text-white fill-current" viewBox="0 0 24 24">
              <path
                d="M20.452 20.452h-3.554v-5.569c0-1.327-.025-3.037-1.851-3.037-1.852 0-2.136 1.445-2.136 2.94v5.666H9.356V9h3.413v1.561h.05c.476-.9 1.637-1.85 3.369-1.85 3.6 0 4.265 2.368 4.265 5.448v6.293zM5.337 7.433a2.063 2.063 0 110-4.126 2.063 2.063 0 010 4.126zM6.896 20.452H3.776V9h3.12v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.728v20.543C0 23.226.792 24 1.771 24h20.451C23.207 24 24 23.226 24 22.271V1.728C24 .774 23.207 0 22.225 0z"
              ></path>
            </svg>
          </a>
        </div>
      </div>
      <!-- Vertical line -->
      <div class="hidden sm:block w-px h-[400px] bg-[#808080]"></div>

      <!-- Column 2: Our Services -->
      <div class="flex flex-col gap-5 w-full md:w-1/2 lg:w-[21%]">
        <div class="flex items-center gap-2">
          <div class="w-[21px] h-[9px] bg-white rounded-full"></div>
          <span
            class="text-white text-[24px] font-semibold font-['Wix_Madefor_Display']"
            >Our Services</span
          >
        </div>
        <ul
          class="text-[#d9d8d8] text-[16px] font-medium font-['Inter'] space-y-4"
        >
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/1oqRLDLvy5.png"
              class="w-[13px] h-[13px] mt-1"
            /> Bookkeeping & Financial Reporting
          </li>
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/zZJG6OCteL.png"
              class="w-[13px] h-[13px] mt-1"
            /> Payroll Management
          </li>
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/bAZMtdThRz.png"
              class="w-[13px] h-[13px] mt-1"
            /> Tax Preparation & Filing
          </li>
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/zhdNBRNc2e.png"
              class="w-[13px] h-[13px] mt-1"
            /> Virtual CFO Services
          </li>
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/kys5ZvAb5e.png"
              class="w-[13px] h-[13px] mt-1"
            /> Accounts Payable & Receivable Management
          </li>
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/hcnQZVG33O.png"
              class="w-[13px] h-[13px] mt-1"
            /> Audit Support & Compliance
          </li>
        </ul>
      </div>

      <!-- Column 3: Quicklinks -->
      <div class="flex flex-col gap-5 w-full md:w-1/2 lg:w-[21%]">
        <div class="flex items-center gap-2">
          <div class="w-[21px] h-[9px] bg-white rounded-full"></div>
          <span
            class="text-white text-[24px] font-semibold font-['Wix_Madefor_Display']"
            >Quicklinks</span
          >
        </div>
        <ul
          class="text-[#d9d8d8] text-[16px] font-medium font-['Inter'] space-y-4"
        >
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/AewYTRTQj4.png"
              class="w-[13px] h-[13px] mt-1"
            /> About Us
          </li>
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/u1VfVoRBY9.png"
              class="w-[13px] h-[13px] mt-1"
            /> Testimonials
          </li>
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/UyfFbC6fTo.png"
              class="w-[13px] h-[13px] mt-1"
            /> Our Team
          </li>
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/gBQ5T9A9ag.png"
              class="w-[13px] h-[13px] mt-1"
            /> Latest Articles
          </li>
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/EEPgC8xxTT.png"
              class="w-[13px] h-[13px] mt-1"
            /> Privacy Policy
          </li>
          <li class="flex items-start gap-2">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/FfgkJiMnse.png"
              class="w-[13px] h-[13px] mt-1"
            /> Refund & Returns
          </li>
        </ul>
      </div>

      <!-- Column 4: Get Updates -->
      <div class="flex flex-col gap-5 w-full lg:w-[28%]">
        <div class="flex items-center gap-2">
          <div class="w-[21px] h-[9px] bg-white rounded-full"></div>
          <span
            class="text-white text-[24px] font-semibold font-['Wix_Madefor_Display']"
            >Get Updates</span
          >
        </div>
        <p
          class="text-[#d9d8d8] text-[16px] font-medium font-['Inter'] leading-[24px]"
        >
          Welcome to Finnkeepers, Signup For Our Latest news & Article. We Won't
          give you spam mail and irrelevant messages.
        </p>
        <div class="relative w-full max-w-[300px]">
          <input
            type="email"
            placeholder="Email Address"
            class="w-full h-[52px] pl-6 pr-[60px] rounded-[25px] border border-white text-[#d9d8d8] bg-transparent placeholder:text-[#d9d8d8] font-['DM_Sans']"
          />
          <button
            class="absolute top-0 right-0 w-[55px] h-[52px] bg-[#ed7c00] rounded-tr-[25px] rounded-br-[25px] flex items-center justify-center"
          >
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/iyeALxZp90.png"
              alt="arrow"
              class="w-[16px] h-[16px]"
            />
          </button>
        </div>
        <div class="flex items-start gap-2 mt-2">
          <img
            src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/RwOyGR9A43.png"
            class="w-[20px] h-[20px]"
          />
          <span class="text-white text-[16px] font-medium font-['DM_Sans']"
            >info@Finnkeepers.com</span
          >
        </div>
      </div>
    </div>
    <div class="pb-10"></div>
  </div>

  <!-- Footer bottom row -->
  <div
    class="w-full bg-[#163838] px-4 py-4 flex flex-col md:flex-row justify-between items-center gap-4 text-center text-sm text-[#acb3b3] font-['DM_Sans']"
  >
    <div class="flex flex-wrap justify-center gap-2">
      <span>© Copyright 2025. All rights reserved.</span>
      <span>Finnkeepers</span>
      <span>. Designed by</span>
      <a href="https://www.uncoredigital.com"
        ><span class="text-[#85a6a6]">Uncore Digital</span></a
      >
    </div>
    <!-- <div class="flex flex-wrap justify-center gap-2">
      <a href="#" target="_blank" rel="noopener noreferrer">
        <div
          class="flex items-center gap-1 px-3 border border-white rounded-full text-white text-sm"
        >
          <img
            src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/rzfwKbwU9q.png"
            class="w-4 h-4"
          /> Facebook
        </div></a
      >

      <a href="#" target="_blank" rel="noopener noreferrer"
        ><div
          class="flex items-center gap-1 px-3 border border-white rounded-full text-white text-sm"
        >
          <img
            src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/2TTQbNFvqg.png"
            class="w-4 h-4"
          /> YouTube
        </div></a
      >
      <a href="#" target="_blank" rel="noopener noreferrer"
        ><div
          class="flex items-center gap-1 px-3 border border-white rounded-full text-white text-sm"
        >
          <img
            src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/bi51Kx5oW5.png"
            class="w-4 h-4"
          /> Instagram
        </div></a
      >
      <a href="#" target="_blank" rel="noopener noreferrer">
        <div
          class="flex items-center gap-1 px-3 border border-white rounded-full text-white text-sm"
        >
          <img
            src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/eBVg0JVbt5.png"
            class="w-4 h-4"
          /> LinkedIn
        </div>
      </a>
    </div> -->
  </div>
</div>
