<div class="main-container w-full relative bg-transparent">
  <!-- Inner Background Container -->
  <div
    class="w-full max-w-[1320px] bg-[#106253] rounded-[30px] mx-auto px-5 sm:px-10 md:px-[60px] lg:px-[80px] xl:px-[120px] py-[60px] relative z-[1]"
  >
    <!-- Contact Section Wrapper -->
    <div
      class="flex flex-col lg:flex-row justify-between items-start gap-[40px] relative z-10"
    >
      <!-- Left Column -->
      <div class="flex flex-col gap-[32px] w-full lg:w-[470px]">
        <div class="flex flex-col gap-[12px]">
          <span
            class="text-[28px] sm:text-[32px] lg:text-[36px] font-bold text-white"
          >
            Get in Touch
          </span>
          <span class="text-[16px] font-medium text-white">
            We are here for you! How can we help?
          </span>
        </div>

        <!-- Form Fields -->
        <div class="relative">
          <div
            class="w-full border-t border-white pt-2 pb-1 bg-[#106253] text-white"
          >
            Name
          </div>
        </div>
        <div class="relative">
          <div
            class="w-full border-t border-white pt-2 pb-1 bg-[#106253] text-white"
          >
            Email
          </div>
        </div>
        <div class="relative">
          <div
            class="w-full border-t border-white pt-2 pb-16 bg-[#106253] text-white"
          >
            Message
          </div>
        </div>

        <!-- Submit Button -->
        <div class="w-full">
          <button
            class="bg-[#ed7c00] text-white px-6 py-3 rounded-[8px] text-[18px] font-semibold"
          >
            Submit
          </button>
        </div>
      </div>

      <!-- Right Column (Image & Contact Info) -->
      <div
        class="w-full lg:w-[660px] bg-white rounded-tr-[30px] rounded-br-[30px] p-[24px] flex flex-col gap-[24px] relative"
      >
        <span class="text-[#797979] text-[16px] leading-[1.5]">
          Borem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          vulputate libero et velit interdum, ac aliquet odio mattis.
        </span>
        <div
          class="w-full h-[206px] bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/dtf0PMDgco.png')] bg-cover bg-no-repeat rounded-[10px]"
        >
        </div>

        <!-- Address -->
        <div class="flex gap-[17px] items-start">
          <div
            class="w-[20px] h-[24px] bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/a3ZruQ1T9R.png')] bg-cover bg-no-repeat"
          >
          </div>
          <span class="text-[#797979] text-[16px] leading-[1.5]">
            132, Tic St, Kingston, New York 12401 United States of America
          </span>
        </div>

        <!-- Phone -->
        <div class="flex gap-[16px] items-center">
          <div
            class="w-[22px] h-[22px] bg-[url('https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/RjMPdasAGf.png')] bg-cover bg-no-repeat"
          >
          </div>
          <span class="text-[#797979] text-[16px]"> + 123 456 789 </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom Footer Strip -->
  <div class="w-full h-[100px] bg-[#007164] mt-[-20px] relative z-0"></div>
</div>
