<div
  class="main-container flex w-full pt-[12px] pr-[60px] pb-[12px] pl-[60px] justify-between items-center flex-nowrap bg-[#0e2726] relative mx-auto my-0"
>
  <div
    class="w-[121.549px] h-[66.001px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/Arghrt3D2m.png)] bg-[length:100%_100%] bg-no-repeat relative"
  >
  </div>
  <div
    class="flex w-[634px] gap-[44px] items-center shrink-0 flex-nowrap relative z-[1]"
  >
    <div
      class="flex w-[634px] gap-[24px] items-center shrink-0 flex-nowrap relative z-[2]"
    >
      <div
        class="flex w-[88px] pt-[8px] pr-[12px] pb-[8px] pl-[12px] gap-[4px] justify-center items-center shrink-0 flex-nowrap relative z-[3]"
      >
        <span
          class="h-[20px] shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[20px] text-[#fff] relative text-left whitespace-nowrap z-[4]"
        >
          About{" "}
        </span>
        <div
          class="w-[14px] h-[14px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/Wo0kFsX8Ci.png)] bg-cover bg-no-repeat relative overflow-hidden z-[5]"
        >
        </div>
      </div>
      <div
        class="flex w-[108px] pt-[8px] pr-[12px] pb-[8px] pl-[12px] gap-[4px] justify-center items-center shrink-0 flex-nowrap relative z-[6]"
      >
        <span
          class="h-[20px] shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[20px] text-[#fff] relative text-left whitespace-nowrap z-[7]"
        >
          Services
        </span>
        <div
          class="w-[14px] h-[14px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/nLqr2JveAt.png)] bg-cover bg-no-repeat relative overflow-hidden z-[8]"
        >
        </div>
      </div>
      <div
        class="flex w-[121px] pt-[8px] pr-[12px] pb-[8px] pl-[12px] gap-[4px] justify-center items-center shrink-0 flex-nowrap relative z-[9]"
      >
        <span
          class="h-[20px] shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[20px] text-[#fff] relative text-left whitespace-nowrap z-10"
        >
          Resources
        </span>
        <div
          class="w-[14px] h-[14px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/DBwZjXhgMZ.png)] bg-cover bg-no-repeat relative overflow-hidden z-[11]"
        >
        </div>
      </div>
      <div
        class="flex w-[94px] pt-[8px] pr-[12px] pb-[8px] pl-[12px] gap-[4px] justify-center items-center shrink-0 flex-nowrap relative z-[12]"
      >
        <span
          class="h-[20px] shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[20px] text-[#fff] relative text-left whitespace-nowrap z-[13]"
        >
          Pricing
        </span>
        <div
          class="w-[14px] h-[14px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/Yd8dQyZ8U3.png)] bg-cover bg-no-repeat relative overflow-hidden z-[14]"
        >
        </div>
      </div>
      <div
        class="flex w-[127px] pt-[8px] pr-[12px] pb-[8px] pl-[12px] gap-[4px] justify-center items-center shrink-0 flex-nowrap relative z-[15]"
      >
        <span
          class="h-[20px] shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[20px] text-[#fff] relative text-left whitespace-nowrap z-[16]"
        >
          Contact Us
        </span>
        <div
          class="w-[14px] h-[14px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/wRRa4wCHsG.png)] bg-cover bg-no-repeat relative overflow-hidden z-[17]"
        >
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex w-[128px] h-[32px] pt-0 pr-[15px] pb-0 pl-[15px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap rounded-[6px] border-solid border border-[#fff] relative shadow-[0_2px_0_0_rgba(0,0,0,0.02)] z-[18]"
  >
    <div
      class="flex w-[98px] h-[32px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[19]"
    >
      <span
        class="h-[22px] shrink-0 basis-auto font-['Inter'] text-[16px] font-semibold leading-[22px] text-[#fff] relative text-left whitespace-nowrap z-20"
      >
        Get In Touch{" "}
      </span>
    </div>
  </div>
</div>
