---
// No frontmatter needed
---

<div
  class="flex w-full pt-20 px-10 pb-20 gap-6 justify-center items-start bg-[#106253] relative"
>
  <div class="flex w-full max-w-[1200px] flex-col gap-10 items-center relative">
    <!-- Heading -->
    <div class="flex flex-col gap-8 items-center w-full">
      <div class="flex px-0 sm:px-10 justify-center items-center w-full">
        <span
          class="text-[24px] sm:text-[28px] md:text-[32px] lg:text-[36px] font-bold leading-snug text-white w-full max-w-[1200px] px-4"
        >
          What Our Customer Says
        </span>
      </div>

      <!-- Carousel Container with padding for quote icons -->
      <div class="overflow-hidden w-full">
        <div
          id="testimonial-slides"
          class="flex transition-transform duration-500 ease-in-out w-full"
        >
          <!-- Slide 1 -->
          <div
            class="flex flex-wrap justify-center gap-6 w-full flex-shrink-0 px-2"
          >
            <!-- Card 1 -->
            <div
              class="relative bg-white rounded-[16px] p-6 pt-10 flex flex-col justify-between w-full max-w-[360px] mt-7"
            >
              <div
                class="w-[56px] h-[56px] bg-[url('/img/orange-quote.svg')] bg-no-repeat bg-contain absolute -top-7 left-4 z-[203]"
              >
              </div>
              <div class="flex flex-col gap-5">
                <div class="flex flex-col gap-2">
                  <span class="text-[16px] font-bold text-black"
                    >Outstanding financial guidance!</span
                  >
                  <div class="flex gap-1">
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/zoF6yoeuyV.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/DtcLdShOAd.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/O7TNJ9vJUT.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/onOKwaqXvi.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/7hkqwyy1x1.png"
                      class="w-4 h-4"
                    />
                  </div>
                </div>
                <p class="text-[15px] text-[#75757d] leading-6">
                  "The bookkeeping services transformed our business.
                  Professional, accurate, and always on time with reports."
                </p>
              </div>
              <div class="flex items-center gap-3 mt-4">
                <div
                  class="w-11 h-11 rounded-full overflow-hidden bg-[#aec8ee]"
                >
                  <img
                    src="/img/testi-circle-image.png"
                    class="object-cover w-full h-full"
                  />
                </div>
                <div>
                  <div class="font-extrabold text-[#0f0e29] text-sm">
                    Sarah Johnson
                  </div>
                  <div class="text-xs text-[#75757d]">CEO, TechStart Inc</div>
                </div>
              </div>
            </div>

            <!-- Card 2 -->
            <div
              class="relative bg-white rounded-[16px] p-6 pt-10 flex flex-col justify-between w-full max-w-[360px] mt-7"
            >
              <div
                class="w-[56px] h-[56px] bg-[url('/img/orange-quote.svg')] bg-no-repeat bg-contain absolute -top-7 left-4 z-[203]"
              >
              </div>
              <div class="flex flex-col gap-5">
                <div class="flex flex-col gap-2">
                  <span class="text-[16px] font-bold text-black"
                    >Exceptional service quality!</span
                  >
                  <div class="flex gap-1">
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/zoF6yoeuyV.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/DtcLdShOAd.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/O7TNJ9vJUT.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/onOKwaqXvi.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/7hkqwyy1x1.png"
                      class="w-4 h-4"
                    />
                  </div>
                </div>
                <p class="text-[15px] text-[#75757d] leading-6">
                  "Their team handles our financial records with incredible
                  attention to detail. Highly recommend!"
                </p>
              </div>
              <div class="flex items-center gap-3 mt-4">
                <div
                  class="w-11 h-11 rounded-full overflow-hidden bg-[#aec8ee]"
                >
                  <img
                    src="/img/testi-circle-image.png"
                    class="object-cover w-full h-full"
                  />
                </div>
                <div>
                  <div class="font-extrabold text-[#0f0e29] text-sm">
                    Michael Chen
                  </div>
                  <div class="text-xs text-[#75757d]">
                    Founder, GreenLeaf Co
                  </div>
                </div>
              </div>
            </div>

            <!-- Card 3 -->
            <div
              class="relative bg-white rounded-[16px] p-6 pt-10 flex flex-col justify-between w-full max-w-[360px] mt-7"
            >
              <div
                class="w-[56px] h-[56px] bg-[url('/img/orange-quote.svg')] bg-no-repeat bg-contain absolute -top-7 left-4 z-[203]"
              >
              </div>
              <div class="flex flex-col gap-5">
                <div class="flex flex-col gap-2">
                  <span class="text-[16px] font-bold text-black"
                    >Professional and reliable!</span
                  >
                  <div class="flex gap-1">
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/zoF6yoeuyV.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/DtcLdShOAd.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/O7TNJ9vJUT.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/onOKwaqXvi.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/7hkqwyy1x1.png"
                      class="w-4 h-4"
                    />
                  </div>
                </div>
                <p class="text-[15px] text-[#75757d] leading-6">
                  "Best decision we made for our business. They handle
                  everything seamlessly and professionally."
                </p>
              </div>
              <div class="flex items-center gap-3 mt-4">
                <div
                  class="w-11 h-11 rounded-full overflow-hidden bg-[#aec8ee]"
                >
                  <img
                    src="/img/testi-circle-image.png"
                    class="object-cover w-full h-full"
                  />
                </div>
                <div>
                  <div class="font-extrabold text-[#0f0e29] text-sm">
                    Emma Rodriguez
                  </div>
                  <div class="text-xs text-[#75757d]">CFO, InnovateNow</div>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div
            class="flex flex-wrap justify-center gap-6 w-full flex-shrink-0 px-2"
          >
            <!-- Card 4 -->
            <div
              class="relative bg-white rounded-[16px] p-6 pt-10 flex flex-col justify-between w-full max-w-[360px] mt-7"
            >
              <div
                class="w-[56px] h-[56px] bg-[url('/img/orange-quote.svg')] bg-no-repeat bg-contain absolute -top-7 left-4 z-[203]"
              >
              </div>
              <div class="flex flex-col gap-5">
                <div class="flex flex-col gap-2">
                  <span class="text-[16px] font-bold text-black"
                    >Streamlined our finances!</span
                  >
                  <div class="flex gap-1">
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/zoF6yoeuyV.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/DtcLdShOAd.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/O7TNJ9vJUT.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/onOKwaqXvi.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/7hkqwyy1x1.png"
                      class="w-4 h-4"
                    />
                  </div>
                </div>
                <p class="text-[15px] text-[#75757d] leading-6">
                  "They completely transformed how we manage our books. Clear,
                  organized, and always available for questions."
                </p>
              </div>
              <div class="flex items-center gap-3 mt-4">
                <div
                  class="w-11 h-11 rounded-full overflow-hidden bg-[#aec8ee]"
                >
                  <img
                    src="/img/testi-circle-image.png"
                    class="object-cover w-full h-full"
                  />
                </div>
                <div>
                  <div class="font-extrabold text-[#0f0e29] text-sm">
                    David Wilson
                  </div>
                  <div class="text-xs text-[#75757d]">Owner, Wilson & Co</div>
                </div>
              </div>
            </div>

            <!-- Card 5 -->
            <div
              class="relative bg-white rounded-[16px] p-6 pt-10 flex flex-col justify-between w-full max-w-[360px] mt-7"
            >
              <div
                class="w-[56px] h-[56px] bg-[url('/img/orange-quote.svg')] bg-no-repeat bg-contain absolute -top-7 left-4 z-[203]"
              >
              </div>
              <div class="flex flex-col gap-5">
                <div class="flex flex-col gap-2">
                  <span class="text-[16px] font-bold text-black"
                    >Amazing support team!</span
                  >
                  <div class="flex gap-1">
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/zoF6yoeuyV.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/DtcLdShOAd.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/O7TNJ9vJUT.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/onOKwaqXvi.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/7hkqwyy1x1.png"
                      class="w-4 h-4"
                    />
                  </div>
                </div>
                <p class="text-[15px] text-[#75757d] leading-6">
                  "The team is incredibly responsive and knowledgeable. They
                  make complex financial processes simple."
                </p>
              </div>
              <div class="flex items-center gap-3 mt-4">
                <div
                  class="w-11 h-11 rounded-full overflow-hidden bg-[#aec8ee]"
                >
                  <img
                    src="/img/testi-circle-image.png"
                    class="object-cover w-full h-full"
                  />
                </div>
                <div>
                  <div class="font-extrabold text-[#0f0e29] text-sm">
                    Lisa Anderson
                  </div>
                  <div class="text-xs text-[#75757d]">Director, CraftCorp</div>
                </div>
              </div>
            </div>

            <!-- Card 6 -->
            <div
              class="relative bg-white rounded-[16px] p-6 pt-10 flex flex-col justify-between w-full max-w-[360px] mt-7"
            >
              <div
                class="w-[56px] h-[56px] bg-[url('/img/orange-quote.svg')] bg-no-repeat bg-contain absolute -top-7 left-4 z-[203]"
              >
              </div>
              <div class="flex flex-col gap-5">
                <div class="flex flex-col gap-2">
                  <span class="text-[16px] font-bold text-black"
                    >Highly recommended service!</span
                  >
                  <div class="flex gap-1">
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/zoF6yoeuyV.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/DtcLdShOAd.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/O7TNJ9vJUT.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/onOKwaqXvi.png"
                      class="w-4 h-4"
                    />
                    <img
                      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/7hkqwyy1x1.png"
                      class="w-4 h-4"
                    />
                  </div>
                </div>
                <p class="text-[15px] text-[#75757d] leading-6">
                  "Their expertise has saved us countless hours and helped us
                  make better financial decisions."
                </p>
              </div>
              <div class="flex items-center gap-3 mt-4">
                <div
                  class="w-11 h-11 rounded-full overflow-hidden bg-[#aec8ee]"
                >
                  <img
                    src="/img/testi-circle-image.png"
                    class="object-cover w-full h-full"
                  />
                </div>
                <div>
                  <div class="font-extrabold text-[#0f0e29] text-sm">
                    James Thompson
                  </div>
                  <div class="text-xs text-[#75757d]">VP Finance, NextGen</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Carousel Dots -->
      <div class="flex justify-center gap-2 mt-6" id="testimonial-dots">
        <button
          class="w-3 h-3 rounded-full bg-white opacity-100 transition-opacity duration-300 cursor-pointer"
          data-index="0"></button>
        <button
          class="w-3 h-3 rounded-full bg-white opacity-40 transition-opacity duration-300 cursor-pointer"
          data-index="1"></button>
      </div>
    </div>

    <!-- Line separator -->
    <!-- Mobile view line -->
    <!-- <div
      class="block md:hidden w-[670px] h-px bg-white bg-no-repeat bg-contain"
    >
    </div> -->

    <!-- Desktop view line -->
    <!-- <div
      class="hidden md:block w-[670px] h-px bg-white bg-no-repeat bg-contain"
    >
    </div> -->

    <!-- Trust Badges -->
    <!-- <div class="flex flex-wrap justify-center gap-4 w-full max-w-[540px]">
      
      <div
        class="flex flex-col items-center gap-3 bg-white border border-[#eaeaea] rounded-xl p-4 w-[260px]"
      >
        <div class="flex items-center gap-2">
          <img
            src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/DLe5q2X5gH.png"
            class="h-[30px]"
          />
          <img
            src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/yzqQMXKe4H.png"
            class="h-[14px]"
          />
        </div>
        <div class="text-sm font-bold text-[#2d2d2d]">
          TrustScore 4.9 | <span class="underline">400+ Reviews</span>
        </div>
      </div>

      <div
        class="flex flex-col items-center gap-3 bg-white border border-[#eaeaea] rounded-xl p-4 w-[260px]"
      >
        <div class="flex items-center gap-2">
          <img
            src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/S37m5Rovjj.png"
            class="h-[30px]"
          />
          <div class="flex gap-1">
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/AnHRY6LJeJ.png"
              class="h-[14px]"
            />
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/AfYujFCDzF.png"
              class="h-[14px]"
            />
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/tDFt5MMioT.png"
              class="h-[14px]"
            />
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/eKEtO1jyji.png"
              class="h-[14px]"
            />
            <img
              src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/Mva2Y8iXiO.png"
              class="h-[14px]"
            />
          </div>
        </div>
        <div class="text-sm font-bold text-[#2d2d2d]">
          4.8 stars | <span class="underline">90+ Reviews</span>
        </div>
      </div>
    </div> -->
  </div>
</div>

<!-- Carousel Script -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const slides = document.getElementById("testimonial-slides");
    const dots = document.querySelectorAll("#testimonial-dots button");
    let currentSlide = 0;
    const totalSlides = dots.length;

    // Function to update carousel
    function updateCarousel(slideIndex: number): void {
      if (slides) {
        slides.style.transform = `translateX(-${slideIndex * 100}%)`;
      }
      dots.forEach((dot, i) => {
        dot.classList.toggle("opacity-100", i === slideIndex);
        dot.classList.toggle("opacity-40", i !== slideIndex);
      });
      currentSlide = slideIndex;
    }

    // Add click event listeners to dots
    dots.forEach((dot, index) => {
      dot.addEventListener("click", () => {
        updateCarousel(index);
      });
    });

    // Auto-play functionality
    function autoPlay(): void {
      const nextSlide = (currentSlide + 1) % totalSlides;
      updateCarousel(nextSlide);
    }

    // Start auto-play (every 5 seconds)
    let autoPlayInterval = setInterval(autoPlay, 5000);

    // Pause auto-play on hover
    const carouselContainer = slides?.parentElement;
    if (carouselContainer) {
      carouselContainer.addEventListener("mouseenter", () => {
        clearInterval(autoPlayInterval);
      });

      carouselContainer.addEventListener("mouseleave", () => {
        autoPlayInterval = setInterval(autoPlay, 5000);
      });
    }

    // Initialize
    updateCarousel(0);
  });
</script>
