<div
  class="main-container flex w-full pt-[12px] pr-[60px] pb-[12px] pl-[60px] justify-between items-center flex-nowrap bg-[#0e2726] relative mx-auto my-0"
>
  <div
    class="w-[121.549px] h-[66.001px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/wPNxHOs7Vh.png)] bg-[length:100%_100%] bg-no-repeat relative"
  >
  </div>

  <div
    class="flex w-[520px] gap-[44px] items-center shrink-0 flex-nowrap relative z-[1]"
  >
    <div
      class="flex w-[520px] gap-[8px] items-center shrink-0 flex-nowrap relative z-[2]"
    >
      <div
        class="flex w-[80px] pt-[8px] pr-[12px] pb-[8px] pl-[12px] gap-[2px] justify-center items-center shrink-0 flex-nowrap relative z-[3]"
      >
        <span
          class="h-[20px] shrink-0 basis-auto font-['Inter'] text-[14px] font-normal leading-[20px] text-[#fff] relative text-left whitespace-nowrap z-[4]"
        >
          About{" "}
        </span>
        <div
          class="w-[14px] h-[14px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/Kkixx2Lp0W.png)] bg-cover bg-no-repeat relative overflow-hidden z-[5]"
        >
        </div>
      </div>
      <div
        class="flex w-[97px] pt-[8px] pr-[12px] pb-[8px] pl-[12px] gap-[2px] justify-center items-center shrink-0 flex-nowrap relative z-[6]"
      >
        <span
          class="h-[20px] shrink-0 basis-auto font-['Inter'] text-[14px] font-normal leading-[20px] text-[#fff] relative text-left whitespace-nowrap z-[7]"
        >
          Services
        </span>
        <div
          class="w-[14px] h-[14px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/h1u2u54K8q.png)] bg-cover bg-no-repeat relative overflow-hidden z-[8]"
        >
        </div>
      </div>
      <div
        class="flex w-[110px] pt-[8px] pr-[12px] pb-[8px] pl-[12px] gap-[2px] justify-center items-center shrink-0 flex-nowrap relative z-[9]"
      >
        <span
          class="h-[20px] shrink-0 basis-auto font-['Inter'] text-[14px] font-normal leading-[20px] text-[#fff] relative text-left whitespace-nowrap z-10"
        >
          Resources
        </span>
        <div
          class="w-[14px] h-[14px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/04J0ZdVRqv.png)] bg-cover bg-no-repeat relative overflow-hidden z-[11]"
        >
        </div>
      </div>
      <div
        class="flex w-[86px] pt-[8px] pr-[12px] pb-[8px] pl-[12px] gap-[2px] justify-center items-center shrink-0 flex-nowrap relative z-[12]"
      >
        <span
          class="h-[20px] shrink-0 basis-auto font-['Inter'] text-[14px] font-normal leading-[20px] text-[#fff] relative text-left whitespace-nowrap z-[13]"
        >
          Pricing
        </span>
        <div
          class="w-[14px] h-[14px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/rdS76sKABd.png)] bg-cover bg-no-repeat relative overflow-hidden z-[14]"
        >
        </div>
      </div>
      <div
        class="flex w-[115px] pt-[8px] pr-[12px] pb-[8px] pl-[12px] gap-[2px] justify-center items-center shrink-0 flex-nowrap relative z-[15]"
      >
        <span
          class="h-[20px] shrink-0 basis-auto font-['Inter'] text-[14px] font-normal leading-[20px] text-[#fff] relative text-left whitespace-nowrap z-[16]"
        >
          Contact Us
        </span>
        <div
          class="w-[14px] h-[14px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/uZAWCx2572.png)] bg-cover bg-no-repeat relative overflow-hidden z-[17]"
        >
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex w-[162px] gap-[16px] items-center shrink-0 flex-nowrap rounded-[50px] relative z-[18]"
  >
    <div
      class="flex w-[162px] pt-[10px] pr-[18px] pb-[10px] pl-[18px] gap-[8px] justify-center items-center shrink-0 flex-nowrap bg-[#ed7c00] rounded-[50px] relative overflow-hidden shadow-[0_1px_2px_0_rgba(16,24,40,0.05)] z-[19]"
    >
      <span
        class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[16px] font-semibold leading-[24px] text-[#fff] relative text-left whitespace-nowrap z-20"
      >
        Get In Touch{" "}
      </span>
      <div
        class="w-[20px] h-[20px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-26/tBO0khMhjy.png)] bg-cover bg-no-repeat relative overflow-hidden z-[21]"
      >
      </div>
    </div>
  </div>
</div>
