<div
  class="main-container flex w-full pt-[80px] pr-[120px] pb-[80px] pl-[120px] flex-col gap-[32px] justify-center items-center flex-nowrap bg-[#106253] relative mx-auto my-0"
>
  <div
    class="flex w-[1200px] justify-between items-center shrink-0 flex-nowrap relative"
  >
    <span
      class="h-[42px] shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[42px] text-[#fff] relative text-left whitespace-nowrap z-[1]"
    >
      Our Core Values
    </span>
  </div>
  <div
    class="flex w-[1200px] flex-col gap-[25px] items-start shrink-0 flex-nowrap relative z-[2]"
  >
    <div
      class="flex gap-[25px] items-center self-stretch shrink-0 flex-nowrap relative z-[3]"
    >
      <div
        class="flex pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[18px] justify-end items-end grow shrink-0 basis-0 flex-nowrap bg-[#106253] rounded-[16px] border-solid border border-[#fff] relative shadow-[0_1px_11.1px_0_rgba(237,124,0,0.16)] z-[4]"
      >
        <div
          class="flex flex-col gap-[12px] items-start self-stretch shrink-0 flex-nowrap relative z-[5]"
        >
          <div
            class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[6]"
          >
            <div
              class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#fff] rounded-[25px] relative z-[7]"
            >
              <span
                class="flex w-[12px] h-[28px] justify-center items-start shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#106253] relative text-center whitespace-nowrap z-[8]"
              >
                1
              </span>
            </div>
            <span
              class="flex w-[343.333px] h-[56px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#fff] relative text-left z-[9]"
            >
              Affordability Without Compromise.
            </span>
          </div>
          <span
            class="flex w-[343.333px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#fff] relative text-left z-10"
          >
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.{" "}
          </span>
        </div>
      </div>
      <div
        class="flex pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[18px] justify-end items-end grow shrink-0 basis-0 flex-nowrap bg-[#106253] rounded-[16px] border-solid border border-[#fff] relative shadow-[0_1px_11.1px_0_rgba(237,124,0,0.16)] z-[11]"
      >
        <div
          class="flex flex-col gap-[12px] items-start self-stretch shrink-0 flex-nowrap relative z-[12]"
        >
          <div
            class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[13]"
          >
            <div
              class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#fff] rounded-[25px] relative z-[14]"
            >
              <span
                class="flex w-[15px] h-[28px] justify-center items-start shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#106253] relative text-center whitespace-nowrap z-[15]"
              >
                2
              </span>
            </div>
            <span
              class="flex w-[271px] h-[56px] justify-start items-start shrink-0 font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#fff] relative text-left z-[16]"
            >
              Accuracy & Transparency
            </span>
          </div>
          <span
            class="flex w-[343.333px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#fff] relative text-left z-[17]"
          >
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.{" "}
          </span>
        </div>
      </div>
      <div
        class="flex pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[18px] justify-end items-end grow shrink-0 basis-0 flex-nowrap bg-[#106253] rounded-[16px] border-solid border border-[#fff] relative shadow-[0_1px_11.1px_0_rgba(237,124,0,0.16)] z-[18]"
      >
        <div
          class="flex flex-col gap-[12px] items-start self-stretch shrink-0 flex-nowrap relative z-[19]"
        >
          <div
            class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-20"
          >
            <div
              class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#fff] rounded-[25px] relative z-[21]"
            >
              <span
                class="flex w-[16px] h-[28px] justify-center items-start shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#106253] relative text-center whitespace-nowrap z-[22]"
              >
                3
              </span>
            </div>
            <span
              class="flex w-[254px] h-[56px] justify-start items-start shrink-0 font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#fff] relative text-left z-[23]"
            >
              Client-Centric Mindset
            </span>
          </div>
          <span
            class="flex w-[343.333px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#fff] relative text-left z-[24]"
          >
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.{" "}
          </span>
        </div>
      </div>
    </div>
    <div
      class="flex gap-[25px] items-center self-stretch shrink-0 flex-nowrap relative z-[25]"
    >
      <div
        class="flex pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[18px] justify-end items-end grow shrink-0 basis-0 flex-nowrap bg-[#106253] rounded-[16px] border-solid border border-[#fff] relative shadow-[0_1px_11.1px_0_rgba(237,124,0,0.16)] z-[26]"
      >
        <div
          class="flex flex-col gap-[12px] items-start self-stretch shrink-0 flex-nowrap relative z-[27]"
        >
          <div
            class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[28]"
          >
            <div
              class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#fff] rounded-[25px] relative z-[29]"
            >
              <span
                class="flex w-[16px] h-[28px] justify-center items-start shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#106253] relative text-center whitespace-nowrap z-30"
              >
                4
              </span>
            </div>
            <span
              class="flex w-[185px] h-[56px] justify-start items-start shrink-0 font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#fff] relative text-left z-[31]"
            >
              Integrity Above All
            </span>
          </div>
          <span
            class="flex w-[547.5px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#fff] relative text-left z-[32]"
          >
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.{" "}
          </span>
        </div>
      </div>
      <div
        class="flex pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[18px] justify-end items-end grow shrink-0 basis-0 flex-nowrap bg-[#106253] rounded-[16px] border-solid border border-[#fff] relative shadow-[0_1px_11.1px_0_rgba(237,124,0,0.16)] z-[33]"
      >
        <div
          class="flex flex-col gap-[12px] items-start self-stretch shrink-0 flex-nowrap relative z-[34]"
        >
          <div
            class="flex flex-col gap-[24px] items-start self-stretch shrink-0 flex-nowrap relative z-[35]"
          >
            <div
              class="flex w-[50px] h-[50px] pt-[11px] pr-[19px] pb-[11px] pl-[19px] flex-col gap-[10px] justify-center items-center shrink-0 flex-nowrap bg-[#fff] rounded-[25px] relative z-[36]"
            >
              <span
                class="flex w-[16px] h-[28px] justify-center items-start shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#106253] relative text-center whitespace-nowrap z-[37]"
              >
                5
              </span>
            </div>
            <span
              class="flex w-[245px] h-[56px] justify-start items-start shrink-0 font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#fff] relative text-left z-[38]"
            >
              Innovation With Impact
            </span>
          </div>
          <span
            class="flex w-[547.5px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#fff] relative text-left z-[39]"
          >
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.{" "}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
