---

---

<div
  class="main-container w-full py-16 px-4 sm:px-6 lg:px-[120px] bg-white mx-auto"
>
  <div
    class="main-container w-full max-w-[1200px] relative mx-auto my-0 h-auto"
  >
    <div
      class="flex flex-col lg:flex-row w-full gap-8 lg:gap-[48px] items-center lg:items-start flex-nowrap relative mt-0 mr-0 mb-0 ml-0"
    >
      <div
        class="flex w-full lg:w-[505px] flex-col gap-[40px] items-start shrink-0 flex-nowrap relative z-[1]"
      >
        <span
          class="flex w-full lg:w-[505px] h-auto justify-start items-start shrink-0 font-['Inter'] text-[32px] sm:text-[36px] font-bold leading-[38px] sm:leading-[42px] text-[#04092a] relative text-left z-[2]"
        >
          Meet the Experts Behind Your Success
        </span>
        <div
          class="flex w-[141px] h-[50px] pt-0 pr-[24px] pb-0 pl-[24px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap rounded-[8px] border-solid border border-[#ed7c00] relative z-[3]"
        >
          <div
            class="flex w-[93px] h-[40px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[4]"
          >
            <span
              class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#ed7c00] relative text-left whitespace-nowrap z-[5]"
            >
              View More
            </span>
          </div>
        </div>
      </div>
      <span
        class="flex w-full lg:w-[647px] h-auto justify-start items-start grow shrink-0 basis-0 font-['Inter'] text-base sm:text-[18px] font-normal leading-[24px] sm:leading-[27px] text-[#5c667a] relative text-left z-[6]"
      >
        Our success is in our people, seasoned finance professionals with a
        unique blend of knowledge and flexibility. At Finkeepers, our staff
        includes U.S.-trained CPAs certified bookkeepers, tax professionals, and
        experts with investment banking and financial planning backgrounds.
        <br />
        Supported by Knowcraft Analytics’ global delivery strength, we can provide
        you with the strategic benefit of onshore quality combined with offshore
        efficiency. Whether it’s year-end tax planning or developing board-worthy
        financial models, our team is your team, working behind the scenes so that
        you can stay ahead.
      </span>
    </div>
    <div
      class="flex flex-wrap justify-center w-full gap-4 sm:gap-8 md:gap-4 lg:gap-[16px] items-center flex-nowrap relative z-[7] mt-[40px] mr-0 mb-0 ml-0"
    >
      <div class="w-[288px] h-[389px] shrink-0 relative z-[8] flex-grow-0">
        <div
          class="w-[240px] h-[35px] relative overflow-hidden z-[11] mt-[330px] mr-0 mb-0 ml-[24px]"
        >
          <div
            class="w-full h-full bg-[rgba(40,36,31,0.7)] rounded-[17.289px] absolute top-0 left-[0%] z-[12]"
          >
          </div>
          <span
            class="flex h-[15px] justify-start items-start font-['Inter'] text-[12px] font-medium leading-[14.523px] text-[#fff] absolute top-[calc(50%-7.5px)] left-[5%] text-left capitalize whitespace-nowrap z-[13]"
          >
            Vice President
          </span>
        </div>
        <div
          class="w-[288px] h-[389px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-12/nKt7NfVjcJ.png)] bg-cover bg-no-repeat rounded-[16px] absolute top-0 left-0 z-[9]"
        >
        </div>
        <span
          class="flex h-[24px] justify-start items-start font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#fff] absolute top-[294px] left-[24px] text-left whitespace-nowrap z-10"
        >
          John deo
        </span>
        <div
          class="w-[24px] h-[24px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-12/T1tWZWk9kc.png)] bg-cover bg-no-repeat absolute top-[294px] left-[240px] overflow-hidden z-[14]"
        >
        </div>
      </div>
      <div class="w-[288px] h-[389px] shrink-0 relative z-[15] flex-grow-0">
        <div
          class="w-[240px] h-[35px] relative overflow-hidden z-[18] mt-[330px] mr-0 mb-0 ml-[24px]"
        >
          <div
            class="w-full h-full bg-[rgba(40,36,31,0.7)] rounded-[17.289px] absolute top-0 left-[0%] z-[19]"
          >
          </div>
          <span
            class="flex h-[15px] justify-start items-start font-['Inter'] text-[12px] font-medium leading-[14.523px] text-[#fff] absolute top-[calc(50%-7.5px)] left-[5%] text-left capitalize whitespace-nowrap z-20"
          >
            Vice President
          </span>
        </div>
        <div
          class="w-[288px] h-[389px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-12/p6OpqN8d2V.png)] bg-cover bg-no-repeat rounded-[16px] absolute top-0 left-0 z-[16]"
        >
        </div>
        <span
          class="flex h-[24px] justify-start items-start font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#fff] absolute top-[294px] left-[24px] text-left whitespace-nowrap z-[17]"
        >
          John deo
        </span>
        <div
          class="w-[24px] h-[24px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-12/uQZjuEYDRx.png)] bg-cover bg-no-repeat absolute top-[294px] left-[240px] overflow-hidden z-[21]"
        >
        </div>
      </div>
      <div class="w-[288px] h-[389px] shrink-0 relative z-[22] flex-grow-0">
        <div
          class="w-[240px] h-[35px] relative overflow-hidden z-[25] mt-[330px] mr-0 mb-0 ml-[24px]"
        >
          <div
            class="w-full h-full bg-[rgba(40,36,31,0.7)] rounded-[17.289px] absolute top-0 left-[0%] z-[26]"
          >
          </div>
          <span
            class="flex h-[15px] justify-start items-start font-['Inter'] text-[12px] font-medium leading-[14.523px] text-[#fff] absolute top-[calc(50%-7.5px)] left-[5%] text-left capitalize whitespace-nowrap z-[27]"
          >
            Vice President
          </span>
        </div>
        <div
          class="w-[288px] h-[389px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-12/8PzC004ciu.png)] bg-cover bg-no-repeat rounded-[16px] absolute top-0 left-0 z-[23]"
        >
        </div>
        <span
          class="flex h-[24px] justify-start items-start font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#fff] absolute top-[294px] left-[24px] text-left whitespace-nowrap z-[24]"
        >
          John deo
        </span>
        <div
          class="w-[24px] h-[24px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-12/fFqKkaLacH.png)] bg-cover bg-no-repeat absolute top-[294px] left-[240px] overflow-hidden z-[28]"
        >
        </div>
      </div>
      <div class="w-[288px] h-[389px] shrink-0 relative z-[29] flex-grow-0">
        <div
          class="w-[240px] h-[35px] relative overflow-hidden z-[32] mt-[330px] mr-0 mb-0 ml-[24px]"
        >
          <div
            class="w-full h-full bg-[rgba(40,36,31,0.7)] rounded-[17.289px] absolute top-0 left-[0%] z-[33]"
          >
          </div>
          <span
            class="flex h-[15px] justify-start items-start font-['Inter'] text-[12px] font-medium leading-[14.523px] text-[#fff] absolute top-[calc(50%-7.5px)] left-[5%] text-left capitalize whitespace-nowrap z-[34]"
          >
            Vice President
          </span>
        </div>
        <div
          class="w-[288px] h-[389px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-12/APNUWNc4UJ.png)] bg-cover bg-no-repeat rounded-[16px] absolute top-0 left-0 z-30"
        >
        </div>
        <span
          class="flex h-[24px] justify-start items-start font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#fff] absolute top-[294px] left-[24px] text-left whitespace-nowrap z-[31]"
        >
          John deo
        </span>
        <div
          class="w-[24px] h-[24px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-12/yfyvSE1gxT.png)] bg-cover bg-no-repeat absolute top-[294px] left-[240px] overflow-hidden z-[35]"
        >
        </div>
      </div>
    </div>
    <div
      class="flex w-full justify-center gap-[10px] items-center flex-nowrap relative z-[36] mt-[40px]"
    >
      <div
        class="flex w-[36.571px] h-[36.571px] pt-0 pr-[7.5px] pb-0 pl-[7.5px] flex-col gap-[12.5px] justify-center items-center shrink-0 flex-nowrap rounded-[6.857px] relative z-[37]"
      >
        <div
          class="w-[17.5px] h-[17.5px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-12/iRRTdFc42D.png)] bg-cover bg-no-repeat relative overflow-hidden z-[38]"
        >
        </div>
      </div>
      <div
        class="flex w-[36.571px] h-[36.571px] pt-0 pr-[7.5px] pb-0 pl-[7.5px] flex-col gap-[12.5px] justify-center items-center shrink-0 flex-nowrap bg-[#ed7c00] rounded-[36.86px] relative z-[39]"
      >
        <span
          class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[28px] text-[#fff] relative text-center whitespace-nowrap z-40"
        >
          1
        </span>
      </div>
      <div
        class="flex w-[36.571px] h-[36.571px] pt-0 pr-[7.5px] pb-0 pl-[7.5px] flex-col gap-[12.5px] justify-center items-center shrink-0 flex-nowrap rounded-[6.857px] relative z-[41]"
      >
        <span
          class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[28px] text-[#151515] relative text-center whitespace-nowrap z-[42]"
        >
          2
        </span>
      </div>
      <div
        class="flex w-[36.571px] h-[36.571px] pt-0 pr-[7.5px] pb-0 pl-[7.5px] flex-col gap-[12.5px] justify-center items-center shrink-0 flex-nowrap rounded-[6.857px] relative z-[43]"
      >
        <span
          class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[28px] text-[#151515] relative text-center whitespace-nowrap z-[44]"
        >
          3
        </span>
      </div>
      <div
        class="flex w-[36.571px] h-[36.571px] pt-0 pr-[7.5px] pb-0 pl-[7.5px] flex-col gap-[12.5px] justify-center items-center shrink-0 flex-nowrap rounded-[6.857px] relative z-[45]"
      >
        <div
          class="w-[17.5px] h-[17.5px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-12/974nCEAKu2.png)] bg-cover bg-no-repeat relative overflow-hidden z-[46]"
        >
        </div>
      </div>
    </div>
  </div>
</div>
