<div
  class="main-container flex w-full pt-[80px] pr-[120px] pb-[80px] pl-[120px] gap-[24px] justify-center items-start flex-nowrap bg-[#fff] relative mx-auto my-0"
>
  <div
    class="flex gap-[48px] items-center grow shrink-0 basis-0 flex-nowrap relative"
  >
    <div
      class="flex flex-col gap-[32px] items-center grow shrink-0 basis-0 flex-nowrap relative z-[1]"
    >
      <div
        class="flex flex-col gap-[12px] justify-center items-center self-stretch shrink-0 flex-nowrap relative z-[2]"
      >
        <span
          class="h-[42px] self-stretch shrink-0 basis-auto font-['Inter'] text-[36px] font-bold leading-[42px] text-[#04092a] relative text-center whitespace-nowrap z-[3]"
        >
          What Drives Us Forward
        </span>
        <div
          class="flex flex-col gap-[40px] items-center self-stretch shrink-0 flex-nowrap relative z-[4]"
        >
          <span
            class="flex w-[782px] h-[54px] justify-center items-start shrink-0 font-['Inter'] text-[18px] font-normal leading-[27px] text-[#5c667a] relative text-center z-[5]"
          >
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unkok.
          </span>
          <div
            class="flex w-[235px] pt-[8px] pr-[8px] pb-[8px] pl-[8px] items-center shrink-0 flex-nowrap bg-[#fff] rounded-[8px] relative z-[6]"
          >
            <div
              class="flex w-[107px] h-[40px] pt-0 pr-[16px] pb-0 pl-[16px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap bg-[#ed7c00] rounded-[8px] relative z-[7]"
            >
              <div
                class="flex w-[75px] h-[40px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[8]"
              >
                <span
                  class="h-[20px] shrink-0 basis-auto font-['Inter'] text-[14px] font-semibold leading-[20px] text-[#fff] relative text-left whitespace-nowrap z-[9]"
                >
                  Our Vision
                </span>
              </div>
            </div>
            <div
              class="flex w-[112px] h-[40px] pt-0 pr-[16px] pb-0 pl-[16px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap rounded-[8px] relative z-10"
            >
              <div
                class="flex w-[80px] h-[40px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[11]"
              >
                <span
                  class="h-[20px] shrink-0 basis-auto font-['Inter'] text-[14px] font-medium leading-[20px] text-[#797979] relative text-left whitespace-nowrap z-[12]"
                >
                  Our Mission
                </span>
              </div>
            </div>
          </div>
          <div class="w-[1200px] h-[314px] shrink-0 relative z-[13]">
            <div
              class="flex w-[600px] h-[310px] pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[80px] justify-center items-center flex-nowrap bg-[#f5f7fa] rounded-tl-none rounded-tr-[16px] rounded-br-[16px] rounded-bl-none absolute top-0 left-[600px] z-[14]"
            >
              <div
                class="w-[504.455px] h-[224px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-04/p2JWcUBBRB.png)] bg-cover bg-no-repeat relative z-[15]"
              >
              </div>
            </div>
            <div
              class="flex w-[609px] h-[314px] pt-[20px] pr-[20px] pb-[20px] pl-[20px] flex-col gap-[80px] justify-end items-start flex-nowrap bg-[#fff] rounded-[16px] border-solid border border-[rgba(121,121,121,0.22)] absolute top-0 left-0 z-[16]"
            >
              <div
                class="flex flex-col gap-[12px] items-start self-stretch shrink-0 flex-nowrap relative z-[17]"
              >
                <div
                  class="flex w-[241px] flex-col gap-[24px] items-start shrink-0 flex-nowrap relative z-[18]"
                >
                  <div
                    class="w-[40px] h-[40px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-04/05p7roL66M.png)] bg-cover bg-no-repeat relative z-[19]"
                  >
                  </div>
                  <span
                    class="h-[28px] shrink-0 basis-auto font-['Inter'] text-[24px] font-semibold leading-[28px] text-[#151515] relative text-left whitespace-nowrap z-20"
                  >
                    Our Vision
                  </span>
                </div>
                <span
                  class="flex w-[569px] h-[66px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[21]"
                >
                  To provide value-driven, tech-enabled, and people-driven
                  financial solutions to make accounting and tax complexities
                  easy for small and emerging businesses in the U.S.
                </span>
              </div>
              <div
                class="flex w-[87px] h-[24px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[22]"
              >
                <span
                  class="h-[22px] shrink-0 basis-auto font-['Inter'] text-[16px] font-semibold leading-[22px] text-[#ed7c00] relative text-left whitespace-nowrap z-[23]"
                >
                  Contact Us
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
