<div
  class="main-container flex w-[1440px] pt-[80px] pr-[120px] pb-[80px] pl-[120px] flex-col gap-[32px] items-center flex-nowrap bg-[#fff] relative mx-auto my-0"
>
  <div
    class="flex w-[1200px] justify-between items-start shrink-0 flex-nowrap relative"
  >
    <div
      class="flex w-[1043px] flex-col gap-[36px] items-center shrink-0 flex-nowrap relative z-[1]"
    >
      <div class="w-[1042px] h-[44px] shrink-0 relative z-[2]">
        <span
          class="flex h-[42px] justify-start items-start font-['Inter'] text-[36px] font-bold leading-[42px] text-[#28241f] absolute top-[calc(50%-28px)] left-[calc(50%-522px)] text-left whitespace-nowrap z-[3]"
        >
          Recent Blogs
        </span>
      </div>
    </div>
    <div
      class="flex w-[151px] h-[40px] pt-0 pr-[24px] pb-0 pl-[24px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap bg-[#fff] rounded-[6px] border-solid border border-[#d0d5dd] relative z-[4]"
    >
      <div
        class="flex w-[103px] h-[32px] gap-[12px] justify-center items-center shrink-0 flex-nowrap relative z-[5]"
      >
        <span
          class="h-[22px] shrink-0 basis-auto font-['Inter'] text-[14px] font-normal leading-[22px] text-[#28241f] relative text-left whitespace-nowrap z-[6]"
        >
          Accounting
        </span>
        <div
          class="w-[16px] h-[16px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-31/8DAXnzs8mU.png)] bg-cover bg-no-repeat relative overflow-hidden z-[7]"
        >
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex w-[1200px] justify-between items-start shrink-0 flex-nowrap relative z-[8]"
  >
    <div
      class="w-[383.33px] h-[479.23px] shrink-0 bg-[#fff] rounded-[16px] border-solid border border-[#d0d5dd] relative z-[9]"
    >
      <div
        class="flex w-[335px] flex-col gap-[16px] items-start flex-nowrap relative z-10 mt-[24px] mr-0 mb-0 ml-[24px]"
      >
        <div
          class="h-[257px] self-stretch shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-31/rDwDbsSNsu.png)] bg-cover bg-no-repeat rounded-[5.002px] relative overflow-hidden z-[11]"
        >
        </div>
        <span
          class="flex w-[335px] h-[50.015px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[18.338857650756836px] font-semibold leading-[26.675px] text-[#151515] relative text-left z-[12]"
        >
          Finance Budgeting Success Step-
          <br />
          by-Step Guide
        </span>
        <span
          class="flex w-[335px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[13]"
        >
          Learn how to create a clear, effective budget to manage expenses and
          ...
        </span>
        <div
          class="flex w-[83px] h-[24px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap rounded-[4px] relative z-[14]"
        >
          <div
            class="flex w-[83px] h-[24px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[15]"
          >
            <span
              class="h-[22px] shrink-0 basis-auto font-['Inter'] text-[16px] font-semibold leading-[22px] text-[#ed7c00] relative text-left whitespace-nowrap z-[16]"
            >
              Read More
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-[383.33px] h-[479.23px] shrink-0 bg-[#fff] rounded-[16px] border-solid border border-[#d0d5dd] relative z-[17]"
    >
      <div
        class="flex w-[335px] flex-col gap-[16px] items-start flex-nowrap relative z-[18] mt-[24px] mr-0 mb-0 ml-[24px]"
      >
        <div
          class="h-[257px] self-stretch shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-31/rDwDbsSNsu.png)] bg-cover bg-no-repeat rounded-[5.002px] relative overflow-hidden z-[19]"
        >
        </div>
        <span
          class="flex w-[335px] h-[50.015px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[18.338857650756836px] font-semibold leading-[26.675px] text-[#151515] relative text-left z-20"
        >
          Finance Budgeting Success Step-
          <br />
          by-Step Guide
        </span>
        <span
          class="flex w-[335px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[21]"
        >
          Learn how to create a clear, effective budget to manage expenses and
          ...
        </span>
        <div
          class="flex w-[83px] h-[24px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap rounded-[4px] relative z-[22]"
        >
          <div
            class="flex w-[83px] h-[24px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[23]"
          >
            <span
              class="h-[22px] shrink-0 basis-auto font-['Inter'] text-[16px] font-semibold leading-[22px] text-[#ed7c00] relative text-left whitespace-nowrap z-[24]"
            >
              Read More
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-[383.33px] h-[479.23px] shrink-0 bg-[#fff] rounded-[16px] border-solid border border-[#d0d5dd] relative z-[25]"
    >
      <div
        class="flex w-[335px] flex-col gap-[16px] items-start flex-nowrap relative z-[26] mt-[24px] mr-0 mb-0 ml-[24px]"
      >
        <div
          class="h-[257px] self-stretch shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-31/rDwDbsSNsu.png)] bg-cover bg-no-repeat rounded-[5.002px] relative overflow-hidden z-[27]"
        >
        </div>
        <span
          class="flex w-[335px] h-[50.015px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[18.338857650756836px] font-semibold leading-[26.675px] text-[#151515] relative text-left z-[28]"
        >
          Finance Budgeting Success Step-
          <br />
          by-Step Guide
        </span>
        <span
          class="flex w-[335px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[29]"
        >
          Learn how to create a clear, effective budget to manage expenses and
          ...
        </span>
        <div
          class="flex w-[83px] h-[24px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap rounded-[4px] relative z-30"
        >
          <div
            class="flex w-[83px] h-[24px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[31]"
          >
            <span
              class="h-[22px] shrink-0 basis-auto font-['Inter'] text-[16px] font-semibold leading-[22px] text-[#ed7c00] relative text-left whitespace-nowrap z-[32]"
            >
              Read More
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex w-[1200px] flex-col gap-[40px] items-center shrink-0 flex-nowrap relative z-[33]"
  >
    <div
      class="flex w-[1200px] justify-between items-start shrink-0 flex-nowrap relative z-[34]"
    >
      <div
        class="w-[383.33px] h-[479.23px] shrink-0 bg-[#fff] rounded-[16px] border-solid border border-[#d0d5dd] relative z-[35]"
      >
        <div
          class="flex w-[335px] flex-col gap-[16px] items-start flex-nowrap relative z-[36] mt-[24px] mr-0 mb-0 ml-[24px]"
        >
          <div
            class="h-[257px] self-stretch shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-31/rDwDbsSNsu.png)] bg-cover bg-no-repeat rounded-[5.002px] relative overflow-hidden z-[37]"
          >
          </div>
          <span
            class="flex w-[335px] h-[50.015px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[18.338857650756836px] font-semibold leading-[26.675px] text-[#151515] relative text-left z-[38]"
          >
            Finance Budgeting Success Step-
            <br />
            by-Step Guide
          </span>
          <span
            class="flex w-[335px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[39]"
          >
            Learn how to create a clear, effective budget to manage expenses and
            ...
          </span>
          <div
            class="flex w-[83px] h-[24px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap rounded-[4px] relative z-40"
          >
            <div
              class="flex w-[83px] h-[24px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[41]"
            >
              <span
                class="h-[22px] shrink-0 basis-auto font-['Inter'] text-[16px] font-semibold leading-[22px] text-[#ed7c00] relative text-left whitespace-nowrap z-[42]"
              >
                Read More
              </span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="w-[383.33px] h-[479.23px] shrink-0 bg-[#fff] rounded-[16px] border-solid border border-[#d0d5dd] relative z-[43]"
      >
        <div
          class="flex w-[335px] flex-col gap-[16px] items-start flex-nowrap relative z-[44] mt-[24px] mr-0 mb-0 ml-[24px]"
        >
          <div
            class="h-[257px] self-stretch shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-31/rDwDbsSNsu.png)] bg-cover bg-no-repeat rounded-[5.002px] relative overflow-hidden z-[45]"
          >
          </div>
          <span
            class="flex w-[335px] h-[50.015px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[18.338857650756836px] font-semibold leading-[26.675px] text-[#151515] relative text-left z-[46]"
          >
            Finance Budgeting Success Step-
            <br />
            by-Step Guide
          </span>
          <span
            class="flex w-[335px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[47]"
          >
            Learn how to create a clear, effective budget to manage expenses and
            ...
          </span>
          <div
            class="flex w-[83px] h-[24px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap rounded-[4px] relative z-[48]"
          >
            <div
              class="flex w-[83px] h-[24px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[49]"
            >
              <span
                class="h-[22px] shrink-0 basis-auto font-['Inter'] text-[16px] font-semibold leading-[22px] text-[#ed7c00] relative text-left whitespace-nowrap z-50"
              >
                Read More
              </span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="w-[383.33px] h-[479.23px] shrink-0 bg-[#fff] rounded-[16px] border-solid border border-[#d0d5dd] relative z-[51]"
      >
        <div
          class="flex w-[335px] flex-col gap-[16px] items-start flex-nowrap relative z-[52] mt-[24px] mr-0 mb-0 ml-[24px]"
        >
          <div
            class="h-[257px] self-stretch shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-31/rDwDbsSNsu.png)] bg-cover bg-no-repeat rounded-[5.002px] relative overflow-hidden z-[53]"
          >
          </div>
          <span
            class="flex w-[335px] h-[50.015px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[18.338857650756836px] font-semibold leading-[26.675px] text-[#151515] relative text-left z-[54]"
          >
            Finance Budgeting Success Step-
            <br />
            by-Step Guide
          </span>
          <span
            class="flex w-[335px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#797979] relative text-left z-[55]"
          >
            Learn how to create a clear, effective budget to manage expenses and
            ...
          </span>
          <div
            class="flex w-[83px] h-[24px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap rounded-[4px] relative z-[56]"
          >
            <div
              class="flex w-[83px] h-[24px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[57]"
            >
              <span
                class="h-[22px] shrink-0 basis-auto font-['Inter'] text-[16px] font-semibold leading-[22px] text-[#ed7c00] relative text-left whitespace-nowrap z-[58]"
              >
                Read More
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex w-[316px] gap-[10px] items-start shrink-0 flex-nowrap relative z-[59]"
    >
      <div
        class="flex w-[36.571px] h-[36.571px] pt-0 pr-[7.5px] pb-0 pl-[7.5px] flex-col gap-[12.5px] justify-center items-center shrink-0 flex-nowrap rounded-[6.857px] relative z-[60]"
      >
        <div
          class="w-[17.5px] h-[17.5px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-31/1AxpPerMU5.png)] bg-cover bg-no-repeat relative overflow-hidden z-[61]"
        >
        </div>
      </div>
      <div
        class="flex w-[36.571px] h-[36.571px] pt-0 pr-[7.5px] pb-0 pl-[7.5px] flex-col gap-[12.5px] justify-center items-center shrink-0 flex-nowrap bg-[#ed7c00] rounded-[36.86px] relative z-[62]"
      >
        <span
          class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[28px] text-[#fff] relative text-center whitespace-nowrap z-[63]"
        >
          1
        </span>
      </div>
      <div
        class="flex w-[36.571px] h-[36.571px] pt-0 pr-[7.5px] pb-0 pl-[7.5px] flex-col gap-[12.5px] justify-center items-center shrink-0 flex-nowrap rounded-[6.857px] relative z-[64]"
      >
        <span
          class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[28px] text-[#151515] relative text-center whitespace-nowrap z-[65]"
        >
          2
        </span>
      </div>
      <div
        class="flex w-[36.571px] h-[36.571px] pt-0 pr-[7.5px] pb-0 pl-[7.5px] flex-col gap-[12.5px] justify-center items-center shrink-0 flex-nowrap rounded-[6.857px] relative z-[66]"
      >
        <span
          class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[28px] text-[#151515] relative text-center whitespace-nowrap z-[67]"
        >
          3
        </span>
      </div>
      <div
        class="flex w-[36.571px] h-[36.571px] pt-0 pr-[7.5px] pb-0 pl-[7.5px] flex-col gap-[12.5px] justify-center items-center shrink-0 flex-nowrap rounded-[6.857px] relative z-[68]"
      >
        <span
          class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[28px] text-[#151515] relative text-center whitespace-nowrap z-[69]"
        >
          4
        </span>
      </div>
      <div
        class="flex w-[36.571px] h-[36.571px] pt-0 pr-[7.5px] pb-0 pl-[7.5px] flex-col gap-[12.5px] justify-center items-center shrink-0 flex-nowrap rounded-[6.857px] relative z-[70]"
      >
        <span
          class="h-[28px] self-stretch shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[28px] text-[#151515] relative text-center whitespace-nowrap z-[71]"
        >
          5
        </span>
      </div>
      <div
        class="flex w-[36.571px] h-[36.571px] pt-0 pr-[7.5px] pb-0 pl-[7.5px] flex-col gap-[12.5px] justify-center items-center shrink-0 flex-nowrap rounded-[6.857px] relative z-[72]"
      >
        <div
          class="w-[17.5px] h-[17.5px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-31/JjvLL4M9qL.png)] bg-cover bg-no-repeat relative overflow-hidden z-[73]"
        >
        </div>
      </div>
    </div>
  </div>
</div>
