<div
  class="main-container w-[1440px] h-[523.031px] relative mx-auto my-0 z-[1]"
>
  <div
    class="w-[1320px] h-[506px] bg-[#106253] rounded-[30px] absolute top-0 left-1/2 translate-x-[-50%] translate-y-0"
  >
    <div
      class="w-[636px] h-[410px] bg-[#fff] rounded-tl-none rounded-tr-[30px] rounded-br-[30px] rounded-bl-none absolute top-[48px] left-[636px]"
    >
      <div
        class="w-[551px] h-[206px] bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-31/R0jycqOvP4.png)] bg-cover bg-no-repeat rounded-[10px] relative z-[13] mt-[48px] mr-0 mb-0 ml-[43px]"
      >
      </div>
      <div
        class="flex w-[514px] flex-col gap-[24px] items-start flex-nowrap relative z-[14] mt-[24px] mr-0 mb-0 ml-[43px]"
      >
        <div
          class="flex gap-[17px] items-start self-stretch shrink-0 flex-nowrap relative"
        >
          <div
            class="w-[20px] h-[24px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-31/zurvMcMHtq.png)] bg-cover bg-no-repeat relative z-[16]"
          >
          </div>
          <span
            class="flex w-[296px] h-[38px] justify-start items-start shrink-0 font-['Inter'] text-[16px] font-normal leading-[19.364px] text-[#797979] relative text-left"
          >
            30 N Gould ST STE R, Sheridan, Wyoming, 82801 United States of America
          </span>
        </div>
        <!-- <div
          class="flex w-[149px] gap-[16px] items-center shrink-0 flex-nowrap relative"
        >
          <div
            class="w-[22px] h-[22px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-31/3iPu0RdPFC.png)] bg-cover bg-no-repeat relative"
          >
          </div>
          <span
            class="h-[19px] shrink-0 basis-auto font-['Inter'] text-[16px] font-normal leading-[19px] text-[#797979] relative text-left whitespace-nowrap"
          >
            + 123 456 789
          </span>
        </div> -->
      </div>
    </div>
    <div
      class="flex w-[470px] h-[222px] flex-col gap-[32px] items-start flex-nowrap absolute top-[142px] left-[60px]"
    >
      <div
        class="flex w-[470px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative"
      >
        <span
          class="flex w-[470px] h-[84px] justify-start items-start shrink-0 font-['Inter'] text-[36px] font-bold leading-[42px] text-[#fff] relative text-left"
        >
          Ready to take your business to the next level?
        </span>
        <span
          class="flex w-[470px] h-[44px] justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-medium leading-[22px] text-[#fff] relative text-left"
        >
          Let’s talk about how our team can help you drive results with clarity,
          strategy, and execution that works.
        </span>
      </div>
      <div
        class="flex w-[205px] h-[50px] pt-0 pr-[24px] pb-0 pl-[24px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap bg-[#ed7c00] rounded-[8px] relative"
      >
        <div
          class="flex w-[157px] h-[40px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative"
        >
          <span
            class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#fff] relative text-left whitespace-nowrap"
          >
            Talk to Our Expert
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
