<div class="main-container w-[1440px] h-[785px] relative mx-auto my-0">
  <div
    class="flex w-[1200px] flex-col gap-[32px] items-start flex-nowrap relative z-[1] mt-[98px] mr-0 mb-0 ml-[120px]"
  >
    <div
      class="flex justify-between items-end self-stretch shrink-0 flex-nowrap relative z-[2]"
    >
      <div
        class="flex w-[785px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative z-[3]"
      >
        <span
          class="flex w-[785px] h-[124px] justify-start items-start shrink-0 font-['Inter'] text-[52px] font-bold leading-[62.4px] text-[#151515] relative text-left z-[4]"
        >
          Finance Budgeting Success Step-by-Step Guide
        </span>
        <span
          class="flex w-[785px] h-[27px] justify-start items-start shrink-0 basis-auto font-['Inter'] text-[18px] font-normal leading-[27px] text-[#797979] relative text-left whitespace-nowrap z-[5]"
        >
          Following a security breach first spotted by crypto investigator
          ZachXBT, crypto exchange...
        </span>
      </div>
      <div
        class="flex w-[124px] h-[50px] pt-0 pr-[15px] pb-0 pl-[15px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap bg-[#ed7c00] rounded-[8px] relative z-[6]"
      >
        <div
          class="flex w-[94px] h-[40px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[7]"
        >
          <span
            class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#fff] relative text-left whitespace-nowrap z-[8]"
          >
            Read More
          </span>
        </div>
      </div>
    </div>
    <div class="w-[536px] h-[40px] shrink-0 relative z-[9]">
      <div
        class="flex w-[536px] h-[40px] gap-[10px] items-center flex-nowrap absolute top-0 left-0 z-10"
      >
        <div
          class="flex w-[170px] gap-[3px] items-center shrink-0 flex-nowrap relative z-[11]"
        >
          <span
            class="h-[40px] shrink-0 basis-auto font-['Inter'] text-[20px] font-normal leading-[40px] text-[#797979] relative text-left whitespace-nowrap z-[12]"
          >
            by Joanna Wellick
          </span>
        </div>
        <div class="w-[20px] h-px shrink-0 bg-[#797979] relative z-[13]"></div>
        <div
          class="flex w-[136px] gap-[4px] items-center shrink-0 flex-nowrap relative z-[14]"
        >
          <div
            class="w-[24px] h-[24px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/bkMCifTnbJ.png)] bg-cover bg-no-repeat relative overflow-hidden z-[15]"
          >
          </div>
          <div
            class="w-[108px] shrink-0 font-['Syne'] text-[16px] font-semibold leading-[19px] tracking-[0.32px] relative text-center whitespace-nowrap z-[16]"
          >
            <span
              class="font-['Inter'] text-[16px] font-normal leading-[19.2px] text-[#797979] tracking-[0.32px] relative text-center uppercase"
            >
              2
            </span>
            <span
              class="font-['Inter'] text-[16px] font-normal leading-[19.2px] text-[#797979] tracking-[0.32px] relative text-center lowercase"
            >
              {" "}
              minute read
            </span>
          </div>
        </div>
        <div class="w-[20px] h-px shrink-0 bg-[#797979] relative z-[17]"></div>
        <div
          class="flex w-[150px] items-start shrink-0 flex-nowrap relative z-[18]"
        >
          <div
            class="flex w-[150px] gap-[4px] items-center shrink-0 flex-nowrap relative z-[19]"
          >
            <div
              class="flex w-[68px] gap-[10px] items-center shrink-0 flex-nowrap relative z-20"
            >
              <div
                class="w-[16px] h-[16px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/vqjLoxXE3N.png)] bg-cover bg-no-repeat relative overflow-hidden z-[21]"
              >
              </div>
              <div
                class="w-[16px] h-[16px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/JoYusFPr18.png)] bg-cover bg-no-repeat relative overflow-hidden z-[22]"
              >
              </div>
              <div
                class="w-[16px] h-[16px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/frwVbD7dgi.png)] bg-cover bg-no-repeat relative overflow-hidden z-[23]"
              >
              </div>
            </div>
            <span
              class="h-[40px] shrink-0 basis-auto font-['Europa-Regular'] text-[16px] font-normal leading-[40px] text-[#797979] relative text-left whitespace-nowrap z-[24]"
            >
              1.2K shares
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- <div
      class="h-[420px] self-stretch shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/VeAsFPZjT6.png)] bg-cover bg-no-repeat rounded-[20px] relative z-[25]"
    >
    </div> -->

    <img
      src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-30/VeAsFPZjT6.png"
      alt=""
      class="h-[420px] self-stretch shrink-0 rounded-[20px] relative"
    />
    <div
      class="flex w-[145.148px] h-[36.287px] pt-[13.957px] pr-[23.726px] pb-[13.957px] pl-[23.726px] gap-[6.978px] justify-center items-center shrink-0 flex-nowrap absolute top-[579px] left-1/2 translate-x-[-50.29%] translate-y-0 overflow-hidden z-[26]"
    >
      <div
        class="w-[11.165px] h-[5.583px] shrink-0 bg-[rgba(255,255,255,0.5)] rounded-[5.583px] relative z-[27]"
      >
      </div>
      <div
        class="w-[25.122px] h-[5.583px] shrink-0 bg-[#fff] rounded-[5.583px] relative z-[28]"
      >
      </div>
      <div
        class="w-[11.165px] h-[5.583px] shrink-0 bg-[rgba(255,255,255,0.5)] rounded-[5.583px] relative z-[29]"
      >
      </div>
      <div
        class="w-[11.165px] h-[5.583px] shrink-0 bg-[rgba(255,255,255,0.5)] rounded-[5.583px] relative z-30"
      >
      </div>
      <div
        class="w-[11.165px] h-[5.583px] shrink-0 bg-[rgba(255,255,255,0.5)] rounded-[5.583px] relative z-[31]"
      >
      </div>
    </div>
  </div>
  <div
    class="w-[1440px] h-[785px] bg-[#f5f7fa] absolute top-0 left-1/2 translate-x-[-50%] translate-y-0"
  >
  </div>
</div>
