<div class="main-container w-full h-[847px] relative mx-auto my-0">
  <div
    class="w-full h-[677px] bg-[#f5f7fa] absolute top-0 left-1/2 translate-x-[-50%] translate-y-0"
  >
  </div>
  <div
    class="flex w-[1200px] h-[749px] flex-col gap-[32px] items-start flex-nowrap absolute top-[98px] left-1/2 translate-x-[-50%] translate-y-0 z-[1]"
  >
    <div
      class="flex justify-between items-end self-stretch shrink-0 flex-nowrap relative z-[2]"
    >
      <div
        class="flex w-[785px] flex-col gap-[12px] items-start shrink-0 flex-nowrap relative z-[3]"
      >
        <span
          class="flex w-[785px] h-[186px] justify-start items-start shrink-0 font-['Inter'] text-[52px] font-bold leading-[62.4px] text-[#151515] relative text-left z-[4]"
        >
          How a Retail Startup Cut Costs by 30% with Streamlined Bookkeeping
        </span>
        <span
          class="flex w-[785px] h-[27px] justify-start items-start shrink-0 basis-auto font-['Inter'] text-[18px] font-normal leading-[27px] text-[#797979] relative text-left whitespace-nowrap z-[5]"
        >
          A U.S.-based e-commerce startup with 10+ employees and rapid monthly
          sales growth...
        </span>
      </div>
      <div
        class="flex w-[196px] h-[50px] pt-0 pr-[24px] pb-0 pl-[24px] flex-col gap-[8px] justify-center items-center shrink-0 flex-nowrap bg-[#ed7c00] rounded-[8px] relative z-[6]"
      >
        <div
          class="flex w-[148px] h-[40px] gap-[8px] justify-center items-center shrink-0 flex-nowrap relative z-[7]"
        >
          <span
            class="h-[24px] shrink-0 basis-auto font-['Inter'] text-[18px] font-semibold leading-[24px] text-[#fff] relative text-left whitespace-nowrap z-[8]"
          >
            View Case Study
          </span>
        </div>
      </div>
    </div>
    <div class="w-[536px] h-[40px] shrink-0 relative z-[9]">
      <div
        class="flex w-[536px] h-[40px] gap-[10px] items-center flex-nowrap absolute top-0 left-0 z-10"
      >
        <div
          class="flex w-[170px] gap-[3px] items-center shrink-0 flex-nowrap relative z-[11]"
        >
          <span
            class="h-[40px] shrink-0 basis-auto font-['Inter'] text-[20px] font-normal leading-[40px] text-[#797979] relative text-left whitespace-nowrap z-[12]"
          >
            by Joanna Wellick
          </span>
        </div>
        <div class="w-[20px] h-px shrink-0 bg-[#797979] relative z-[13]"></div>
        <div
          class="flex w-[136px] gap-[4px] items-center shrink-0 flex-nowrap relative z-[14]"
        >
          <div
            class="w-[24px] h-[24px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-13/0PhFjo6HxR.png)] bg-cover bg-no-repeat relative overflow-hidden z-[15]"
          >
          </div>
          <div
            class="w-[108px] shrink-0 font-['Syne'] text-[16px] font-semibold leading-[19px] tracking-[0.32px] relative text-center whitespace-nowrap z-[16]"
          >
            <span
              class="font-['Inter'] text-[16px] font-normal leading-[19.2px] text-[#797979] tracking-[0.32px] relative text-center uppercase"
            >
              2
            </span>
            <span
              class="font-['Inter'] text-[16px] font-normal leading-[19.2px] text-[#797979] tracking-[0.32px] relative text-center lowercase"
            >
              {" "}
              minute read
            </span>
          </div>
        </div>
        <div class="w-[20px] h-px shrink-0 bg-[#797979] relative z-[17]"></div>
        <div
          class="flex w-[150px] items-start shrink-0 flex-nowrap relative z-[18]"
        >
          <div
            class="flex w-[150px] gap-[4px] items-center shrink-0 flex-nowrap relative z-[19]"
          >
            <div
              class="flex w-[68px] gap-[10px] items-center shrink-0 flex-nowrap relative z-20"
            >
              <div
                class="w-[16px] h-[16px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-13/JoRUQWCNx4.png)] bg-cover bg-no-repeat relative overflow-hidden z-[21]"
              >
              </div>
              <div
                class="w-[16px] h-[16px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-13/yXpA935DVj.png)] bg-cover bg-no-repeat relative overflow-hidden z-[22]"
              >
              </div>
              <div
                class="w-[16px] h-[16px] shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-13/2kAEmzx5iZ.png)] bg-cover bg-no-repeat relative overflow-hidden z-[23]"
              >
              </div>
            </div>
            <span
              class="h-[40px] shrink-0 basis-auto font-['Europa-Regular'] text-[16px] font-normal leading-[40px] text-[#797979] relative text-left whitespace-nowrap z-[24]"
            >
              
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="h-[420px] self-stretch shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-08-13/nSLqnRbLYd.png)] bg-cover bg-no-repeat rounded-[20px] relative z-[25]"
    >
    </div>
  </div>
</div>
