---
const cards = [
  {
    title: "Expert Guidance",
    desc: "The huge companies become huge because they deploy professional knowledge from different fields to increase their credibility. And to reach that level, small businesses must do the same. We provide expert guidance of bookkeeping to small business and SMEs based in the USA which you might not have in-house as of yet.",
  },
  {
    title: "Time and Resources saving",
    desc: "Outsourcing the bookkeeping services for small businesses help them save time wasted in financial chaos, lessen the mistakes that cost huge sums, and can save a few bucks on engaging full – time financial experts.",
  },
  {
    title: "Risk Management",
    desc: "Financial Consultants make sure that businesses follow legal and tax regulations, reducing the risk of losses or penalties or financial setbacks.",
  },
  {
    title: "Taking Beneficial Financial Decisions",
    desc: "When the past is known correctly, present is measured accurately, and future is forecasted precisely; taking financial decisions becomes the firm’s second nature. FinKeepers are bookkeepers for small businesses which will help you take beneficial financial decisions.",
  },
  {
    title: "Increased Scalability",
    desc: "Whether it’s a startup or an SME, financial consultants provide tailored solutions that evolve as the business grows.",
  },
  {
    title: "Focus on Important Things",
    desc: "Owners and teams can concentrate on operations, sales, and innovation while experts handle the financial side. ",
  },
];
---

<div
  class="main-container w-full pt-[80px] pr-[20px] pb-[80px] pl-[20px] lg:pr-[120px] lg:pl-[120px] flex flex-col gap-[32px] justify-center items-center bg-[#106253] relative mx-auto"
>
  <!-- Heading -->
  <div class="w-full max-w-[1200px] flex justify-center items-center">
    <span
      class="font-['Inter'] text-[24px] sm:text-[28px] md:text-[32px] lg:text-[36px] font-bold leading-[1.2] text-white"
    >
      Why Choose FinnKeepers?
    </span>

  </div>
  <div>
  <p class="text-base sm:text-lg leading-relaxed text-[#ffffff] max-w-3xl mx-auto text-center">
        FinKeepers, being the team of bookkeeping experts in the USA, will help you take all the
financial load off of you, which will allow you to focus on things of dire importance and urgency.
      </p>
  </div>

  <!-- Cards Container -->
  <div class="w-full max-w-[1200px] flex flex-col gap-[25px]">
    <!-- Row 1 -->
    <div class="flex flex-col lg:flex-row gap-[25px]">
      {
        cards.slice(0, 3).map((card, index) => (
          <div
            class="flex flex-col gap-[18px] bg-[#106253] rounded-[16px] border border-white shadow-[0_1px_11.1px_0_rgba(237,124,0,0.16)] p-[20px] flex-1 
                      transform transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-lg hover:z-10 relative"
          >
            <div class="flex w-[50px] h-[50px] justify-center items-center bg-white rounded-full">
              <span class="text-[#106253] font-semibold text-[24px] leading-[28px]">
                {index + 1}
              </span>
            </div>
            <span class="text-white font-semibold text-[20px] sm:text-[22px] leading-[28px]">
              {card.title}
            </span>
            <span class="text-white font-medium text-[16px] leading-[22px]">
              {card.desc}
            </span>
          </div>
        ))
      }
    </div>

    <!-- Row 2 -->
    <div class="flex flex-col lg:flex-row gap-[25px]">
      {
        cards.slice(3).map((card, index) => (
          <div
            class="flex flex-col gap-[18px] bg-[#106253] rounded-[16px] border border-white shadow-[0_1px_11.1px_0_rgba(237,124,0,0.16)] p-[20px] flex-1 
                      transform transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-lg hover:z-10 relative"
          >
            <div class="flex w-[50px] h-[50px] justify-center items-center bg-white rounded-full">
              <span class="text-[#106253] font-semibold text-[24px] leading-[28px]">
                {index + 4}
              </span>
            </div>
            <span class="text-white font-semibold text-[20px] sm:text-[22px] leading-[28px]">
              {card.title}
            </span>
            <span class="text-white font-medium text-[16px] leading-[22px]">
              {card.desc}
            </span>
          </div>
        ))
      }
    </div>
  </div>
</div>
